<%= stylesheet_link_tag 'dropdownoptions'%>
<%= javascript_include_tag "dropdownoptions"%>
<%= hidden_field_tag 'change_track'%>
<%= hidden_field_tag 'clear_button_pressed', false %>
<div style="padding-top:2px;"></div>
<div class='contentbarwidth_logs text_font'>
   <div class="floatleft" style="padding-left: 10px;padding-right:5px;">
    	<%= select_tag "logtype", "<option value = '0'>Status</option><option value = '1'>Summary</option>", :class => "contentCSPselsmallverbo", :id => "logtype", :name => "logtype" %>
   </div>
   <div class="floatleft padright_10  text_image first_icon logs" style="padding-top:1px;" id="first_icon">
        <a onclick="geo_event_make_request(3)">first</a>
   </div>
   <div class="floatleft padright_10  text_image prev_icon logs" style="padding-top:1px;" id="previous_icon" >
        <a onclick="geo_event_make_request(2)">prev</a>
   </div>
   <div class=" floatleft padright_10  text_image next_icon logs" style="padding-top:1px;" id="next_icon">
        <a onclick="geo_event_make_request(1)">next</a>
   </div>
   <div class=" floatleft text_image last_icon logs" style="padding-top:1px;padding-right:25px;" id="last_icon">
        <a onclick="geo_event_make_request(4)">last</a>
   </div>
   <!-- D O W N L O A D   B U T T O N -->
   <div class="floatleft padright_10  text_image download_icon logs" style="padding-top:1px;padding-right:5px;" id="geo_download_icon" rel="dropdownsubmenu">
   	 <a>download</a>
     <!-- D O W N L O A D   D R O P D O W N   M E N U -->
     <div id="dropdownsubmenu">
      <ul>
        <li class="dl_link_style" onclick="all_request()">
          All Events
        </li>
      </ul>
     </div>
   </div>
   <div class="floatleft padright_10 text_white text_font" id="verbositydiv" style="padding-left: 7px;padding-bottom:3px">
        Verbosity&nbsp;
        <select class="contentCSPselsmallverbo" id="log_verbo_level" name="log_verbo_level">
        <% (1..5).each do |i| %>
          <option value="<%=i%>" <%=(@select_value && @select_value.to_i == i ? 'selected' : '')%>><%=i%></option>
        <% end %>
        </select>
   </div>
   <div id="clear_button" class='contentactionbuttonlabel contentactionbuttonlabelI logs' style="margin:0 2px 0 0;display:none;padding-top:1px;padding-left:10px;">
      <a onclick="geo_event_make_request(100)">
          <img src="/images/../images/clearmouseover.png">
      </a>
   </div>
   <div id="cancel_all_event" class='contentactionbuttonlabel contentactionbuttonlabelI cancel_all_event' style="margin:0 2px 0 0;padding-top:1px;padding-left:10px;">
      <a onclick="cancel_all_event_request()">
          <img src="/images/cancelmouseover.png">
      </a>
   </div>
</div>
<%= hidden_field_tag 'logtype', params[:id] %>
<%= hidden_field_tag 'log_download_timeout', @log_download_timeout %>
<%= hidden_field_tag 'current_event_count' %>
<div id="ajax_spinner" class="text_white text_font" align="center" style="display:none;padding-top:10px;">Loading Please wait ...</div>
<div id="geo_log_update" class="text_font"></div>
<script type="text/javascript">
	$(document).ready(function(){
		dropdown_hover();
		$("#clear_button").hide();
		$("#cancel_all_event").hide();
	}); 
</script>