<% i = 0 %>
<table style='background: #CCCCCC;' cellpadding="0" cellspacing="0" border="0" width="110px">
 <%  @three_type = get_atcs_header(@parameters.select{|parameter| parameter.parameter_type == 3 }[0, 2].map(&:name)) unless @parameters.blank? %>
 <%  @four_type = get_atcs_header(@parameters.select{|parameter| parameter.parameter_type == 4 }[0, 2].map(&:name)) unless @parameters.blank? %>
    <% @parameters.each_with_index do |parameter, index| %>
    <% rt_parameter = RtParameter.find(:first, :select => "current_value, parameter_index", :conditions => ["mcfcrc = ? and parameter_type = ? AND card_index = ? AND parameter_index = ?", @mcfcrc, param_type, @card_index, parameter.parameter_index]) %>

    <% if parameter.try(:parameter_type) == param_type && parameter.try(:parameter_index) == rt_parameter.try(:parameter_index) %>	
    <% parameter_name_split = parameter.name.blank? ? [] : parameter.name.split('.') %>
	
    <% if i == 0 %>
	    <tr>
	        <td>
	            <div class="outer_box" style='height: auto; margin: 0 0 1px 0;'>
	                <div class="cardleft" style='font-weight:bold; padding:1px; float:left; width:114px;  '>
	                    <div style="border-bottom:1px solid #fff; padding:1px; margin-bottom:3px;">
				      		<% p_title = ""							  
							   if(@card_name.eql?("CTC") && parameter.parameter_type == 3 && parameter_name_split.last.eql?(@three_type))
									p_title = "CTL"
 							   elsif(@card_name.eql?("CTC") && parameter.parameter_type == 4 && parameter_name_split.last.eql?(@four_type))
									p_title = "IND"
							   elsif(parameter_name_split.first == @three_type || parameter_name_split.first == @four_type)
							 		p_title = parameter_name_split.first
							   else
									p_title = parameter_name_split.last
							   end
							%>
							<%= p_title %>
	                    </div>
	                </div>
	            </div>
	        </td>
	    </tr>
    <%   i += 1
    end %>

    <tr>
        <td style='<%= rt_parameter.current_value == 0 ? "text-align:center; background-color:#9D0F10;" : "text-align:center;background-color:#169C37;" %>' class='<%= "slot_header" if rt_parameter.current_value == 1 %>'>
            <div class="outer_box" style='height: auto; margin: 0 0 1px 0; font-size:12px;'>
                <div class="cardleft" style='font-weight:bold; padding:1px; float:left; width:114px; font-size:12px; '>
                    <div style="border-bottom:1px solid #fff; color:#fff; padding:1px; margin-bottom:3px; font-size:12px;">
                        <% p_name = ""
						   if(parameter_name_split.first == @three_type || parameter_name_split.first == @four_type)
								p_name = (!parameter_name_split[1].nil?)? parameter_name_split[1] : ""
						   else
								p_name = parameter_name_split[0]
						   end
						%>
						<div id=<%= "#{index}" %> onmouseover="document.getElementById('<%= index %>').innerHTML = '<%= rt_parameter.current_value.to_s %>'" onmouseout= "document.getElementById('<%= index %>').innerHTML = '<%= p_name %>'">
                            <%= p_name %>
                        </div>
                    </div>
                </div>
            </div>
        </td>
    </tr>
    <% end %>

    <% end %>
</table>

<script type="text/javascript">
   function show_current_value(val, id){
        document.getElementById(id).innerHTML = val;		
    }
</script>
