<div id="files_category" style="padding-left:20px;background-color:#545454;border:1px solid #999999;">
	<%unless @upload_options.blank?%>
	   <input type="hidden" id="console_id_and_upload_id" value='<%= @upload_options[0].console_id %>' />
		<ul class="optionslist">
			<% @upload_options.each do | options |%>
				<li id="<%= options.command_code %>" class="<%= (@options_enabled.to_i == 1)? 'leftnavtext_opt' : 'disable_options' %>"><%= options.name %></li>
			<% end %>
		</ul>
	<%else%>
	    <% unless @user_message.blank? %>
		<input type="hidden" id="console_id_and_upload_id">
		<div class="text_font text_white">
			<%= @user_message.to_s %>
		</div>
		<%else%>
			<input type="hidden" id="console_id_and_upload_id" value="">
		<%end%>
	<%end%>
</div>