<%= stylesheet_link_tag "softwareupdate.css" %>
<%= javascript_include_tag 'toolbar', 'jquery.form.js','maintenance' %>
<div id="software_update_content">
	<%= GenericHelper.toolbar({'unlock' => 'unlock.png' , 'update_mef' => 'update_arte.png'}, 'unlock')%>
	<div id='status_message' class="padding_top_2 status_message"></div>
	<% if @userpresence_permission.to_s == 'true' %>
	  	<input type="hidden" id="user_presence" value='1'/>
	<% else %>
	  	<input type="hidden" id="user_presence" value='0'/>
	<% end %>
	<% if (@vlp_mef)
			upload_type = 'MEF'
			file_type = '2'
			select_upload = 'Select VLP MEF:'
		elsif (@vlp_mcf)
			upload_type = 'MCF_WITH_MCFCRC'
			file_type = '7'#then changes to 1 with jquery
			select_upload = 'Select VLP MCF:'
			select_mcfrcr = 'Enter MCFCRC Value:'
		elsif(@nv_exe)
			upload_type = 'tgz'
			file_type = '16'
			select_upload = 'Select CP MEF:'
		else
			upload_type = 'MCFCRC'
			file_type = '7'
			select_upload = 'Enter MCFCRC Value:'
	end%>
	<div class="space"></div>

	<% if @mcf_info && (@vlp_mcf || upload_type == 'MCFCRC'|| upload_type == 'MCFCRC') %>
		<div  class="lbl_text_2 current_mcf">
			MCF: <%= @mcf_info.sw_name %>
		</div>
		<div  class="lbl_text_2 current_mcfcrc">
			MCFCRC: <%= ccn_swap(dec2hex(@mcf_info.crc)) %>
		</div>
	<% else %>
	<% end %>

	<div id='select_box'> 
		<form name="softwareupdate_form" action="/softwareupdate/upload_vital_nonvital_file" method="POST" enctype="multipart/form-data" id="softwareupdate_form">
			<%= hidden_field_tag 'type', upload_type %>
			<%= hidden_field_tag 'update_type', file_type %>
			<% if upload_type != 'MCFCRC'%>
				<div>
					<div class="lbl_text_wrapper">
						<span class="lbl_text"><%= select_upload%></span>
					</div>
					<div class="contentCSPsel_config_wrapper">
						<input type="text" disabled="true" id="fileToUpload_path" class="contentCSPsel_config" name="fileToUpload_path">
					</div>
					<div class="button_wrapper">
						<img src="/images/Browse-mouse-over.png">
						<a href="javascript: void(0)"></a>
					    <input type="file" onchange="fileToUpload_path.value = this.value;" name="fileToUpload" id="fileToUpload">
				    </div>
				</div>
			<%else%>
				<div>
					<div class="lbl_text_wrapper">
						<span class="lbl_text"><%= select_upload%></span>
					</div>
					<div class="contentCSPsel_config_wrapper">
						<%= text_field_tag "mcfcrc", "" , :maxlength => 8, :size => 8, :class =>"contentCSPsel_config" %>
					</div>
				</div>
			<%end%>
			<% if upload_type == 'MCF_WITH_MCFCRC'%>
				<div class="mnfc_crc_wrapper">
					<div class="lbl_text_wrapper">
						<span class="lbl_text">Enter MCFCRC:</span>
					</div>
					<div class="contentCSPsel_config_wrapper">
						<input class="contentCSPsel_config" id="mcfcrc" maxlength="8" name="mcfcrc" size="8" type="text" value="">
					</div>
				</div>
			<%end%>
		</form>
	</div>
	<div id='display_process_status'>
		<div class="space"></div>
		<div class="display_progressbar_val_wrapper">
		 	<span class="display_progressbar_val text_font text_white" id="display_progressbar_val"></span>
		</div>
		<div id="display_progressbar_image"><%= image_tag("progressbar.gif")%></div>
		<div id="display_progressbar" class="display_progressbar"> </div>
	</div>
	<div id="progress_without_percentage" class="progress_without_percentage" >
	    <span class="message_without_percentage text_font text_white" ></span><%= image_tag("progressbar.gif")%>
	</div>
</div>
