<%=render :partial=> "build"%>
<div class="subgroup_parameters">
	<%=render :partial=> "build_subgroup_parameters"%>
</div>
<input type="hidden" name="default" value="<%= @default ? 1:0%>"/>
<input type="hidden" name="group_id" value="<%= @group_id %>"/>
<input type="hidden" name="group_ch" value="<%= @group_ch %>"/>
