<table class="sscc_list">
  <thead>
    <tr >
      <th class="header_edge">#</th>
      <th class="header_center">Name</th>
      <th class="header_edge"></th></tr>
  </thead>
  <tbody>
  <% i = 1 %>
  <% item_count = 0 %>
  <% if(@sscc_modules != nil) 
        @sscc_modules.each do |n| %>
	        <% @row_css = "" %>
	        <% group_id_floor = @group_id.to_i/10%>

	        <% if group_id_floor.to_i == 17 && item_count == 0%>
	          <% vitaul_outputs_title = '<tr group_channel="'+n.Group_Channel.to_s+'">'%>
	          <% vitaul_outputs_title += '<td  class="sort' + (i%2 == 0 ? ' odd_row':'') + '">'+n.Group_Channel.to_s+'</td>' %>
	          <% vitaul_outputs_title += '<td class="name' + (i%2 == 0 ? ' odd_row':'') + ' sscc_'+n.Group_Channel.to_s+'_-1"  max="'+n.Max_Length.to_s+'" min="'+n.Min_Length.to_s+'">' + @VitaulOutputsTitle[n.Group_Channel.to_i] + '</td>' %>
	          <% vitaul_outputs_title += '<td class="action'+(i%2 == 0 ? ' odd_row':'')+' sscc_get_button_parent"><img class="button_get_sscc" src="/images/agt_forward-32.png" width="20"><input type="hidden" class="locked" value="'+n.isLocked.to_s+'"/></tr>'%>
	          <% @row_css = 'style="display:none;"' %>
	          <% i+=1 %>
	        <% else %>
	          <% vitaul_outputs_title = '' %>
	          <% if item_count != 0 %>
	            <% @row_css = 'style="display:none;"' %>
	          <% end %>
        <% end %>
      <%=vitaul_outputs_title%>
      <tr <%=@row_css %> group_channel="<%=n.Group_Channel%>" db_id="<%=n.ID.to_s%>">
        <td  class="sort<%=(i%2 == 0 ? ' odd_row':'')%> "><%= n.Group_Channel %></td>
        <td class="name<%=(i%2 == 0 ? ' odd_row':'')%> sscc_<%=n.Group_Channel%>_<%=item_count%>" name="<%=n.Name%>" type="<%=n.Type_ID%>" max="<%=n.Max_Length%>" min="<%=n.Min_Length%>"><%= n.String %></td>
        <td class="action<%=(i%2 == 0 ? ' odd_row':'')%> sscc_get_button_parent">
          <img class="button_get_sscc" src="/images/agt_forward-32.png" width="20">
          <input type="hidden" class="locked" value="<%=n.isLocked %>"/>
      </tr>
      <% item_count = item_count + 1 %>
      <% if item_count == @num_of_items %>
        <% item_count = 0 %>
        <% i+=1 %>
      <% end %>
    <% end %>

  <% 
    end
    for i in i..11  
  %>
      <tr>
        <td  class="sort<%=(i%2 == 0 ? ' odd_row':'')%>"></td>
        <td class="name<%=(i%2 == 0 ? ' odd_row':'')%>"></td>
        <td class="action<%=(i%2 == 0 ? ' odd_row':'')%> sscc_get_button_parent"></td>
      </tr>
  <%
    end
  %>    
  </tbody>
</table>


<input type="hidden" class="num_of_items" value="<%=@num_of_items%>"/>
<input type="hidden" class="size" value="<%=@size%>"/>
<input type="hidden" class="start_index" value="<%=@start_index%>"/>

<div class="sscc_mod_info">
	<div class="sscc_info"></div>
</div>

<script type="text/javascript">
var select_group_channel = <%=@select_group_channel%>;
</script>