<% if session[:user_id].to_s == "oceadmin" %>
	<% if session[:mantmasterdblocation] !=nil 
		session[:mantmasterdblocationpath] = dbpathptc(session[:mantmasterdblocation].to_s)
	else
		session[:mantmasterdblocationpath] = nil 
	end %>
	<% unless session[:mantmasterdblocationpath].blank? %>
		<%= javascript_include_tag  'deviceeditor' %>
		<%= stylesheet_link_tag "deviceeditor" %>
		<div class="pad_left_10_pad_top_10">
			<label id="label1" class="contentCSPsellabel">Master GEOPTC DB:</label>
		    <%= text_field_tag "txtmasterdblocation", session[:mantmasterdblocationpath], :class =>"inputbox_masterdb", :disabled => true, :title => masterdbpath(session[:mantmasterdblocationpath]), :html=>{:style => "text-transform:capitalize"}%>
		</div>
		<div class="clear_padtop_1">&nbsp;</div>
		<div class="toolbar_wrapper">
		         <div class="contentactionbuttonlabel contentactionbuttonlabelI toolbar_button_align">
					<%= link_to(image_tag('/images/savemouseover.png'), "javascript: void(0)", :id => "save_device", :title => "Save Device") %>
		        </div>
				<div class="contentactionbuttonlabel contentactionbuttonlabelI toolbar_button_align">
					<%= link_to(image_tag('/images/Add-mouse-over.png'), "javascript: void(0)", :id => "add_new_device",:title => "Add Device", :onclick=>"add_new_device();") %>
		        </div>
				<div class='contentactionbuttonlabel contentactionbuttonlabelI toolbar_button_align'>
					<%= link_to(image_tag('/images/discard_changes.png'), "javascript: void(0)", :id => "discard_icon",:title => "Discard Changes") %>
		        </div>
				<div class="contentactionbuttonlabel contentactionbuttonlabelI toolbar_button_align">
					<%= link_to(image_tag('/images/Remove-mouse-over.png'), "javascript: void(0)", :id => "remove_device",:title => "Remove Device", :onclick=>"remove_device();") %>
		        </div>
				<%= select_tag("selinstallationname", "<option selected=\"selected\">Installation</option>"+options_for_select(@mcf_installations, session[:selectedins]), :onmouseover => "setTitleToSelectedText(this);", :class=>"contentCSPselcomboinstallationname")%>
		  	    <%= select_tag("selatcsconfig", "<option selected=\"selected\">ATCS</option>"+options_for_select(@ATCSConfig, session[:ATCSConfig]) , :class=>"contentCSPselcombosmall" , :disabled =>false)%>
				<%unless @device.blank? %>
						<%= select_tag("seldevicename", "<option selected=\"selected\">Device</option>"+options_for_select(@device.map{|device| [device.PTCDeviceName, device.Id]}, session[:device]),:class=>"contentCSPselcombomedium")%>
				<%else%>
						<%= select_tag("seldevicename", "<option selected=\"selected\">Device</option>",:class=>"contentCSPselcombomedium")%>
				<%end%>
				<input type="hidden" id="selecteddeviceid" name="selecteddeviceid" value = "<%= session[:selecteddeviceid] %>" />
				<input type="hidden" id="savemode" name="savemode" />
				<input type="hidden" id="approvedinstallationcrcvalue" name="approvedinstallationcrcvalue" />
				<input type="hidden" id="addlogicstatebuttonstatus" name="addlogicstatebuttonstatus" />
				<%=  hidden_field_tag 'installation_goltype', @gol_type  %>
		</div>
		<div class="clear_padtop_1">&nbsp;</div>
		<div class="success_message text_font padding_left_100_margin_5" id="message_deviceeditor"><% unless flash[:editornotice].blank? %><%= flash[:editornotice] %><%end%></div>
		<span class="contentCSPsellabel padding_left_10"  id="span_approvedinstallationcrc" ></span>
		<div id="outerdevicedetails" class="padding_left_10">
			<div class="clear_padtop_1">&nbsp;</div>
			<span id="spn_device_details" class="text_yellow text_font"></span>
			<div class="displayborder">
			<div>
				<table id="devicetypeforexisting" class="padding_top_5">
						<tr>
							<td class="pad_left_10_width_130">
								<label id="lbldevicetype" class="contentCSPsellabel">Device Type :</label>				
							</td>
							<td >
								<input id="txtdevicetype" name="txtdevicetype" type="text" class ="contentCSPsel" style ="text-transform:capitalize" disabled="false" />
							</td>
							<td class="pad_left_10_width_130">
								<label id="lblnooflogicstatetotal" class="contentCSPsellabel">No.of Logic States :</label>
							</td>
							<td >
								<input id="txtnooflogicstatetotal" name="txtnooflogicstatetotal" type="text" class ="contentCSPsel" maxlength="20" style ="text-transform:capitalize" disabled="false" />
							</td>
						</tr>
				</table>
				<table id="devicetypefornew" class="padding_top_5">
						<tr>
							<td class="pad_left_10_width_130">
								<label  id="lbldevicetype" class="contentCSPsellabel">Device Type :</label>				
							</td>
							<td >
								<%= select_tag("seldevicetype", "<option selected=\"selected\">Signal</option><option>Switch</option><option>Hazard Detector</option>",:onchange => "change_device_type();", :class=>"contentCSPselcombodevicetype")%>
							</td>
							<td class="pad_left_10_width_130">
								<label id="lblnooflogicstatetotal" class="contentCSPsellabel">No.of Logic States :</label>
							</td>
							<td >
								<input id="txtnooflogicstatetotal_new" name="txtnooflogicstatetotal_new" type="text" class ="contentCSPsel" maxlength="20" style ="text-transform:capitalize" disabled="false" />
							</td>
						</tr>
				</table>
				<table id="deviceinfo">
						<tr>
							<td class="pad_left_10_width_130">
								<label id="lbldevicename" class="contentCSPsellabel">Device Name :</label>
							</td>
							<td >
								<input id="txtdevicename" name="txtdevicename" type="text" class ="contentCSPsel" maxlength="20" style ="text-transform:capitalize" />
							</td>
							<td class="pad_left_10_width_130">
								<label id="lbltracknumber" class="contentCSPsellabel">Track Number :</label>
							</td>
							<td >
								<input id="txttracknumber" name="txttracknumber" type="text" class ="contentCSPsel" maxlength="20" style ="text-transform:capitalize" />
							</td>
						</tr>
				</table>
		</div>
		<!--Signal-->
		<div id="deviceeditor_signal">
			    <table>
						<tr>
							<td class="pad_left_10_width_130">
								<label id="lblconditions" class="contentCSPsellabel">Conditions :</label>
							</td>
							<td >
								<input id="txtconditions" name="txtconditions" type="text" class ="contentCSPsel" maxlength="20" style ="text-transform:capitalize" />
							</td>
							<td class="pad_left_10_width_130">
								<label id="lblstopaspect" class="contentCSPsellabel">StopAspect :</label>
							</td>
							<td >
								<input id="txtstopaspect" name="txtstopaspect" type="text" class ="contentCSPsel" maxlength="3" onkeypress="return num_only(event);" style ="text-transform:capitalize" />
							</td>
						</tr>
						<tr>
							<td class="pad_left_10_width_130">
								<label id="lblaspectid1" class="contentCSPsellabel">Aspectid 1 :</label>
							</td>
							<td >
								<input id="txtaspectid1" name="txtaspectid1" type="text" class ="contentCSPsel" maxlength="2" onkeypress="return num_only(event);" style ="text-transform:capitalize" />
							</td>
							<td class="pad_left_10_width_130">
								<label id="lblaltaspect1" class="contentCSPsellabel">Alt Aspect 1 :</label>
							</td>
							<td >
								<input id="txtaltaspect1" name="txtaltaspect1" type="text" class ="contentCSPsel" maxlength="40"  style ="text-transform:capitalize" />
							</td>
						</tr>
						<tr>
							<td class="pad_left_10_width_130">
								<label id="lblaspectid2" class="contentCSPsellabel">Aspectid 2 :</label>
							</td>
							<td >
								<input id="txtaspectid2" name="txtaspectid2" type="text" class ="contentCSPsel" maxlength="2" onkeypress="return num_only(event);" style ="text-transform:capitalize" />
							</td>
							<td class="pad_left_10_width_130">
								<label id="lblaltaspect2" class="contentCSPsellabel">Alt Aspect 2 :</label>
							</td>
							<td >
								<input id="txtaltaspect2" name="txtaltaspect2" type="text" class ="contentCSPsel" maxlength="40"  style ="text-transform:capitalize" />
							</td>
						</tr>
						<tr>
							<td class="pad_left_10_width_130">
								<label id="lblaspectid3" class="contentCSPsellabel">Aspectid 3 :</label>
							</td>
							<td >
								<input id="txtaspectid3" name="txtaspectid3" type="text" class ="contentCSPsel" maxlength="2" onkeypress="return num_only(event);" style ="text-transform:capitalize" />
							</td>
							<td class="pad_left_10_width_130">
								<label id="lblaltaspect3" class="contentCSPsellabel">Alt Aspect 3 :</label>
							</td>
							<td >
								<input id="txtaltaspect3" name="txtaltaspect3" type="text" class ="contentCSPsel" maxlength="40"  style ="text-transform:capitalize" />
							</td>
						</tr>
						<tr>
							<td class="pad_left_10_width_130">
								<label id="lblheada" class="contentCSPsellabel">HeadA :</label>
							</td>
							<td >
								<input id="txtheada" name="txtheada" type="text" class ="contentCSPsel" maxlength="20" style ="text-transform:capitalize" />
							</td>
							<td class="pad_left_10_width_130">
									<label id="lblheadb" class="contentCSPsellabel">HeadB :</label>
							</td>
							<td >
								<input id="txtheadb" name="txtheadb" type="text" class ="contentCSPsel" maxlength="20" style ="text-transform:capitalize" />
							</td>
						</tr>
						<tr>
							<td class="pad_left_10_width_130">
								<label id="lblheadc" class="contentCSPsellabel">HeadC :</label>
							</td>
							<td >
								<input id="txtheadc" name="txtheadc" type="text" class ="contentCSPsel" maxlength="20" style ="text-transform:capitalize" />
							</td>
							<td class="pad_left_10_width_130">
								<label id="lblnooflogicstatessignal" class="contentCSPsellabel">Add Logic State :</label>
							</td>
							<td >
								<input id="txtnooflogicstatessignal" name="txtnooflogicstatessignal" type="text" class ="contentCSPselsmall" maxlength="1" onkeypress="return num_only(event);" onchange="return validate_tootal_nooflogicstate('Signal',this.value);" style ="text-transform:capitalize" />
								<%= link_to(image_tag('/images/Add-mouse-over.png'),"javascript: void(0)", :id => "addlogicstates_sig",:title => "Add Logicstates", :onclick=>"if(!addlogicstates_signal()){return false}") %>
							</td>
						</tr>
				</table>
		</div>
		<!--Switch-->
		<div id="deviceeditor_switch">
		    <table>
					<tr>
						<td class="pad_left_10_width_130">
							<label id="lblswitchtype" class="contentCSPsellabel">Switch Type :</label>
						</td>
						<td >
							<input id="txtswitchtype" name="txtswitchtype" type="text" class ="contentCSPsel" style ="text-transform:capitalize" />
						</td>
						<td class="pad_left_10_width_130">
							<label id="lblnooflogicstatesswitch" class="contentCSPsellabel">Add Logic State :</label>
						</td>
						<td >
							<input id="txtnooflogicstatesswitch" name="txtnooflogicstatesswitch" type="text" class ="contentCSPselsmall" maxlength="1" onkeypress="return num_only(event);" onchange="return validate_tootal_nooflogicstate('Switch',this.value);" style ="text-transform:capitalize" />
							<%= link_to(image_tag('/images/Add-mouse-over.png'),"javascript: void(0)", :id => "addlogicstates_sw",:title => "Add Logicstates", :onclick=>"if(!addlogicstates_switch()){return false}") %>
						</td>
					</tr>
			</table>
		</div>
		<!--HD-->
		<div id="deviceeditor_hd">
		    <table>
				<tr>
					<td class="pad_left_10_width_130">
						<label id="lblnooflogicstateshd" class="contentCSPsellabel">Add Logic State :</label>
					</td>
					<td >
						<input id="txtnooflogicstateshd" name="txtnooflogicstateshd" type="text" class ="contentCSPselsmall" maxlength="1" onkeypress="return num_only(event);" onchange="return validate_tootal_nooflogicstate('Hazard Detector',this.value);" style ="text-transform:capitalize"  />
						<%= link_to(image_tag('/images/Add-mouse-over.png'),"javascript: void(0)", :id => "addlogicstates_hd",:title => "Add Logicstates", :onclick=>"if(!addlogicstates_hd()){return false}") %>
					</td>
				</tr>
			</table>
		</div>
		<div id="deviceeditor_logicstates" class="deviceeditor_logicstates">
			<table id ="logicstate_table" class="padding_top_5 padding_bottom_5">
				<tr>
					<td class="pad_left_10_width_130">
						<label id="lbllogicstate1" class="contentCSPsellabel">Logic State1 :</label>
					</td>
					<td >
						<input id="txtlogicstate1" name="txtlogicstate1" type="text" class ="contentCSPselmedium" maxlength="5" onkeypress="return num_only(event);" onChange="validatelogicstatenumber();" style ="text-transform:capitalize" />
					</td>
					<td class="pad_left_10_width_130">
						<label id="lbllogicstate1bitpos" class="contentCSPsellabel">Bit Position :</label>
					</td>
					<td >
						<input id="txtlogicstate1bitpos" name="txtlogicstate1bitpos" type="text" class ="contentCSPselmedium" maxlength="3" onkeypress="return num_only(event);" onChange="validatebitposition();" style ="text-transform:capitalize" />
					</td>
					<td class="pad_left_10_width_130">
						<label id="lbllogicstate1contcount" class="contentCSPsellabel">Contiguous Count :</label>
					</td>
					<td >
						<input id="txtlogicstate1contcount" name="txtlogicstate1contcount" type="text" class ="contentCSPselmedium" maxlength="2" onkeypress="return num_only(event);" style ="text-transform:capitalize" />
					</td>
					<td >
						<%= link_to(image_tag('/images/add_edit_delete_delete.png'),"javascript: void(0)", :id => "delete_logicstate_1",:title => "Delete Logicstate", :onclick=>"delete_logicstate(document.getElementById('txtlogicstate1').value);") %>
					</td>
				</tr>
				<tr>
					<td class="pad_left_10_width_130">
						<label id="lbllogicstate2" class="contentCSPsellabel">Logic State2 :</label>
					</td>
					<td >
						<input id="txtlogicstate2" name="txtlogicstate2" type="text" class ="contentCSPselmedium" maxlength="5" onkeypress="return num_only(event);" onChange="validatelogicstatenumber();" style ="text-transform:capitalize" />
					</td>
					<td class="pad_left_10_width_130">
						<label id="lbllogicstate2bitpos" class="contentCSPsellabel">Bit Position :</label>
					</td>
					<td >
						<input id="txtlogicstate2bitpos" name="txtlogicstate2bitpos" type="text" class ="contentCSPselmedium" maxlength="3" onkeypress="return num_only(event);" onChange="validatebitposition();" style ="text-transform:capitalize" />
					</td>
					<td class="pad_left_10_width_130">
						<label id="lbllogicstate2contcount" class="contentCSPsellabel">Contiguous Count :</label>
					</td>
					
					<td >
						<input id="txtlogicstate2contcount" name="txtlogicstate2contcount" type="text" class ="contentCSPselmedium" maxlength="2" onkeypress="return num_only(event);" style ="text-transform:capitalize" />
					</td>
					<td >
						<%= link_to(image_tag('/images/add_edit_delete_delete.png'),"javascript: void(0)", :id => "delete_logicstate_2",:title => "Delete Logicstate", :onclick=>"delete_logicstate(document.getElementById('txtlogicstate2').value);") %>
					</td>
				</tr>
				<tr>
					<td class="pad_left_10_width_130">
						<label id="lbllogicstate3" class="contentCSPsellabel">Logic State3 :</label>				
					</td>
					<td >
						<input id="txtlogicstate3" name="txtlogicstate3" type="text" class ="contentCSPselmedium" maxlength="5" onkeypress="return num_only(event);" onChange="validatelogicstatenumber();" style ="text-transform:capitalize" />
					</td>
					<td class="pad_left_10_width_130">
						<label id="lbllogicstate3bitpos" class="contentCSPsellabel">Bit Position :</label>				
					</td>
					<td >
						<input id="txtlogicstate3bitpos" name="txtlogicstate3bitpos" type="text" class ="contentCSPselmedium" maxlength="3" onkeypress="return num_only(event);" onChange="validatebitposition();" style ="text-transform:capitalize" />
					</td>
					<td class="pad_left_10_width_130">
						<label id="lbllogicstate3contcount" class="contentCSPsellabel">Contiguous Count :</label>
					</td>
					<td >
						<input id="txtlogicstate3contcount" name="txtlogicstate3contcount" type="text" class ="contentCSPselmedium" maxlength="2" onkeypress="return num_only(event);" style ="text-transform:capitalize" />
					</td>
					<td >
						<%= link_to(image_tag('/images/add_edit_delete_delete.png'),"javascript: void(0)", :id => "delete_logicstate_3",:title => "Delete Logicstate", :onclick=>"delete_logicstate(document.getElementById('txtlogicstate3').value);") %>
					</td>
				</tr>
				<tr>
					<td class="pad_left_10_width_130">
						<label id="lbllogicstate4" class="contentCSPsellabel">Logic State4 :</label>				
					</td>
					<td>
						<input id="txtlogicstate4" name="txtlogicstate4" type="text" class ="contentCSPselmedium" maxlength="5" onkeypress="return num_only(event);" onChange="validatelogicstatenumber();" style ="text-transform:capitalize" />
					</td>
					<td class="pad_left_10_width_130">
						<label id="lbllogicstate4bitpos" class="contentCSPsellabel">Bit Position :</label>				
					</td>
					<td>
						<input id="txtlogicstate4bitpos" name="txtlogicstate4bitpos" type="text" class ="contentCSPselmedium" maxlength="3" onkeypress="return num_only(event);" onChange="validatebitposition();" style ="text-transform:capitalize" />
					</td>
					<td class="pad_left_10_width_130">
						<label id="lbllogicstate4contcount" class="contentCSPsellabel">Contiguous Count :</label>
					</td>
					<td >
						<input id="txtlogicstate4contcount" name="txtlogicstate4contcount" type="text" class ="contentCSPselmedium" maxlength="2" onkeypress="return num_only(event);" style ="text-transform:capitalize" />
					</td>
					<td >
						<%= link_to(image_tag('/images/add_edit_delete_delete.png'),"javascript: void(0)", :id => "delete_logicstate_4",:title => "Delete Logicstate", :onclick=>"delete_logicstate(document.getElementById('txtlogicstate4').value);") %>
					</td>
				</tr>
				<tr>
					<td class="pad_left_10_width_130">
						<label id="lbllogicstate5" class="contentCSPsellabel">Logic State5 :</label>				
					</td>
					<td>
						<input id="txtlogicstate5" name="txtlogicstate5" type="text" class ="contentCSPselmedium" maxlength="5" onkeypress="return num_only(event);" onChange="validatelogicstatenumber();" style ="text-transform:capitalize" />
					</td>
					<td class="pad_left_10_width_130">
						<label id="lbllogicstate5bitpos" class="contentCSPsellabel">Bit Position :</label>				
					</td>
					<td>
						<input id="txtlogicstate5bitpos" name="txtlogicstate5bitpos" type="text" class ="contentCSPselmedium" maxlength="3" onkeypress="return num_only(event);" onChange="validatebitposition();" style ="text-transform:capitalize" />
					</td>
					<td class="pad_left_10_width_130">
						<label id="lbllogicstate5contcount" class="contentCSPsellabel">Contiguous Count :</label>
					</td>
					<td >
						<input id="txtlogicstate5contcount" name="txtlogicstate5contcount" type="text" class ="contentCSPselmedium" maxlength="2" onkeypress="return num_only(event);" style ="text-transform:capitalize" />
					</td>
					<td >
						<%= link_to(image_tag('/images/add_edit_delete_delete.png'),"javascript: void(0)", :id => "delete_logicstate_5",:title => "Delete Logicstate", :onclick=>"delete_logicstate(document.getElementById('txtlogicstate5').value);") %>
					</td>
				</tr>
				<tr>
					<td class="pad_left_10_width_130">
						<label id="lbllogicstate6" class="contentCSPsellabel">Logic State6 :</label>				
					</td>
					<td>
						<input id="txtlogicstate6" name="txtlogicstate6" type="text" class ="contentCSPselmedium" maxlength="5" onkeypress="return num_only(event);" onChange="validatelogicstatenumber();" style ="text-transform:capitalize" />
					</td>
					<td class="pad_left_10_width_130">
						<label id="lbllogicstate6bitpos" class="contentCSPsellabel">Bit Position :</label>				
					</td>
					<td>
						<input id="txtlogicstate6bitpos" name="txtlogicstate6bitpos" type="text" class ="contentCSPselmedium" maxlength="3" onkeypress="return num_only(event);" onChange="validatebitposition();" style ="text-transform:capitalize" />
					</td>
					<td class="pad_left_10_width_130">
						<label id="lbllogicstate6contcount" class="contentCSPsellabel">Contiguous Count :</label>
					</td>
					<td >
						<input id="txtlogicstate6contcount" name="txtlogicstate6contcount" type="text" class ="contentCSPselmedium" maxlength="2" onkeypress="return num_only(event);" style ="text-transform:capitalize" />
					</td>
					<td >
						<%= link_to(image_tag('/images/add_edit_delete_delete.png'),"javascript: void(0)", :id => "delete_logicstate_6",:title => "Delete Logicstate", :onclick=>"delete_logicstate(document.getElementById('txtlogicstate6').value);") %>
					</td>
				</tr>
			</table>
		</div>
		</div>
		</div>
	<% else %>
		<h2 class="inv_yellow">Information:</h2>
		<div class="display_information">Open the PTC GEO Mater Database and try again.</div>
	<%end%>		
<% else %>
	<h2 class="inv_yellow">Information:</h2>
	<div class="display_information">You are not authorized person to this page.</div>
<% end %>		