<div style="width:70px;float:left;border:1px solid #000;">
    <% @channel_titles.each_with_index do |channel, i| %>
    <% channel_title = channel.channel_title.split('.')[1] %>
    <% if channel_title == "VRO" %>
    <% vro_mcf_params = get_color_mcf_parameters(channel.mcfcrc, @online.card_index, 'VRO') %>
    <% rt_param_vro = get_vro_output_mnemonic(vro_mcf_params) unless vro_mcf_params.blank? %>
    <div style='width:61px;float:left;padding:5px;border-bottom: 1px solid #000000;'>
        <div style='padding-bottom:5px;' id="channel_title">
            VRO
        </div>
        <div style='float:left;'>
            <%= image_tag "dt/box.png", :size=> "11x11" %><span style='padding-left:3px;'><%= rt_param_vro['lamp_image'] unless rt_param_vro.blank? %></span>
        </div>
        <div style='width:30px;float:right;'>
            <%= rt_param_vro['status'] unless rt_param_vro.blank? %>
        </div>
    </div>
    <% end %>
    <% end %>
</div>
<div style='width:74px;float:right;border:1px solid #000;'>
    <% @channel_titles.each do |channel| %>
    <% channel_title = channel.channel_title.split('.')[1] %>
    <% if channel_title == "VPI" %>
    <% vpi_mcf_params = get_color_mcf_parameters(channel.mcfcrc, @online.card_index, 'VPI') %>
    <% rt_param_vpi = get_vro_output_mnemonic(vpi_mcf_params) unless vpi_mcf_params.blank? %>
    <div style='width:64px;float:left;padding:5px;border-bottom: 1px solid #000000;'>
        <div style='padding-bottom:5px;' id="channel_title">
            VPI
        </div>
        <div style='float:left;'>
            <span style='padding-right:3px;'><%= rt_param_vpi['lamp_image'] unless rt_param_vpi.blank? %></span>
            <%= image_tag "dt/box.png", :size=> "11x11" %>
        </div>
        <div style='width:30px;float:right;'>
            <%= rt_param_vpi['status'] unless rt_param_vpi.blank? %>
        </div>
    </div>
    <% end %>
    <% end %>
</div>
