<div id='status'>
    <div id='logic_table' style="width:30%;">
        <table id='logic_and_details' cellpadding='0' cellspacing='0'>
            <tr>
				<th colspan="<%= @gcp_4000_version? 3:4 %>">AND Detail</th>
			</tr>
            <tr class='even'>
            	<td id='first'>&nbsp;</td>
                <td id='status_image'>AND</td>
                <td id='enabled'>Enabled</td>
				<% if !@gcp_4000_version%>
					<td id='arrow'>&nbsp;</td>
				<%end%>
            </tr>
            <%  and_counts = get_and_counts/2
			   (1..and_counts).each do |i| %>
            <tr class='<%= cycle("odd", "even") %>'>
                <td id='first'><%= i %></td>
				<% cpu2_append = (i < 9)? "":"2" %>
                <%= logic_and_state_image(current_value(@parameters["AND#{i}Used"]), current_value(@parameters["GCPAppCPU#{cpu2_append}.AND#{i}"]), current_value(@parameters["AND#{i}EnableUsed"]), current_value(@parameters["GCPAppCPU#{cpu2_append}.ANDEnable#{i}"]),current_value(@parameters["AND#{i}WrapUsed"]), current_value(@parameters["GCPAppCPU#{cpu2_append}.AND#{i}Wrap"])) %>
				<% unless @parameters["AND#{i}Used"].nil? %>
					<% if !@gcp_4000_version%>
						<td>
							<% if current_value(@parameters["AND#{i}Used"]) == 1 %>
								<%= image_tag("/images/ladder_logic/arrow.png", :border => '0', :class => 'disable') %>
							<% else 
								 parameter = get_parameter(@parameters["AND#{i}Used"]) %>
								<%= link_to(image_tag('/images/ladder_logic/arrow.png', :border => '0'), "javascript:", :class => "detail_logic", 
									:card_index => parameter.card_index, :parameter_type => parameter.parameter_type, :parameter_name => "GCPAppCPU.AND#{i}") %>
							<% end %>
		                </td>
					<% end %>
				<% end %>
            </tr>
            <% end %>
			<% (and_counts+1..16).each do |i| %>
			<tr class='<%= cycle("odd", "even") %>'>
				<td id='first'>&nbsp;</td>
				<td id='status_image' style='height:25px;'>&nbsp;</td>
				<td id='enabled'>&nbsp;</td>
                <% if !@gcp_4000_version%>
					<td>&nbsp;</td>
				<%end%>
			</tr>
			<% end %>
        </table>
    </div>
    <div id='logic_table' class='separation' style="width:25%;">
        <table id='logic_or_details' cellpadding='0' cellspacing='0'>
            <tr>
				<th colspan="<%= @gcp_4000_version? 2:3 %>">OR Detail</th>
            </tr>
			<tr class='even'>
                <td id='status_image'>&nbsp;</td>
                <td id='enabled'>&nbsp;</td>
				<% if !@gcp_4000_version %>
                	<td id='arrow'>&nbsp;</td>
				<%end%>
            </tr>
            <% (1..16).each do |i| %>
            <tr class='<%= cycle("odd", "even") %>'>
                <%= logic_or_states(current_value(@parameters["OR#{i}Used"]), current_value(@parameters["GCPOutputApplnMap.OR#{i}OP"]), i) %>
            </tr>
            <% end %>
        </table>
    </div>
    <div id='logic_table' class='separation' style="width:42%;">
        <table id='internal_state_details' cellpadding='0' cellspacing='0'>
            <tr>
                <th colspan='2'>
                    Internal States
                </th>
            </tr>
			<tr class='even'>
                <td id='status_image'>&nbsp;</td>
                <td id='internal_state_enabled'>&nbsp;</td>
            </tr>
            <% (1..16).each do |index| %>
	            <tr class='<%= cycle("odd", "even") %>'>
	            	<%= get_internal_states(index) %>		                
	            </tr>
            <% end %>
        </table>
    </div>
</div>
<div id='logic_table' class='horizontal_table'>
    <table id='horizontal_bar_table' cellpadding='0' cellspacing='0'>
        <tr class='odd'>
        	<%if !@parameters["GCPAppCPU.MaintCall"].blank? %>
            <td id='status_image'>
                <%= get_status_image((@parameters["GCPAppCPU.MaintCall"][:current_value] == 1)? 0:1) %>
            </td>
            <td id='left'>
                Maint Call
				<% if !@gcp_4000_version
					parameter = get_parameter(@parameters["GCPAppCPU.MaintCall"])					
				%>
					<span><%= link_to(image_tag('/images/ladder_logic/arrow.png', :border => '0'), "javascript:", :class => "detail_logic", 
									:card_index => parameter.card_index, :parameter_type => parameter.parameter_type, :parameter_name => "GCPAppCPU.MaintCall") %></span>
				<% end %>
            </td>
            <%else%>
            	<td></td>
            	<td id ='left'>
            		Maint Call
            	</td>
            <% end%>
            <td id='status_image'>
            	<% logger.info "***> AdvancePreemptUsed: #{@parameters["AdvancePreemptUsed"][:current_value]} ==> #{@AdvancePreemptUsed}"%>
            	<% logger.info "***> AdvancePreemptIPUsed #{@parameters["AdvancePreemptIPUsed"][:current_value]}"%>
            	<% logger.info "***> TrfSysHealthIPUsed #{@parameters["TrfSysHealthIPUsed"][:current_value]}"%>
            	<% logger.info "***> PreemptHealthIPUsed #{@parameters["PreemptHealthIPUsed"][:current_value]}"%>
            	
                <%= get_status_image_ex(@parameters["GCPAppCPU.AdvPreemptXRActivation"], @AdvancePreemptUsed) if @AdvancePreemptUsed %>
            </td>
            <td id='left'>
                <% if @AdvancePreemptUsed %>
                	<%=h "Advance Preempt AND 1" %>
                <% end %>
            </td>
        </tr>
        <tr class='even'>
            <td id='status_image'>
                <%= get_status_image_ex(@parameters["GCPAppCPU.AdvPreemptInput"], @parameters["AdvancePreemptIPUsed"][:current_value]==0)  if @AdvancePreemptUsed %>
            </td>
            <td id='left'>
                <% if @AdvancePreemptUsed %>
                	<%=h "Advance Preempt Input" %>
                <% end %>
            </td>
            <td id='status_image'>
                <%= get_status_image_ex(@parameters["GCPAppCPU.TrafficHealthIP"], @parameters["TrfSysHealthIPUsed"][:current_value]==0) if @AdvancePreemptUsed  %>
            </td>
            <td id='left'>
                <% if @AdvancePreemptUsed %>
                	<%=h "Traffic Health Input" %>
                <% end %>
            </td>
        </tr>
        <tr class='odd'>
            <td id='status_image'>
                <%= get_status_image_ex(@parameters["GCPAppCPU.AdvPreemptOutput"], @AdvancePreemptUsed) if @AdvancePreemptUsed  %>
	            <%= get_status_image_ex(@parameters["GCPAppCPU.SimPreemptOutput"], @SimultaneousPreemptOutputUsed) if @SimultaneousPreemptOutputUsed %>
            </td>
            <td id='left'>
                <% if @AdvancePreemptUsed %>
                	<%=h "Advance Preempt Output" %>
                <% end %>
                <% if @SimultaneousPreemptOutputUsed %>
                	<%=h "Simultaneous Preempt Output" %>
                <% end %>
            </td>
            <td id='status_image'>
                <%= get_status_image_ex(@parameters["GCPAppCPU.PreemptHealthIP"], @parameters["PreemptHealthIPUsed"][:current_value]==0)  if @AdvancePreemptUsed || @SimultaneousPreemptOutputUsed %>
            </td>
            <td id='left'>
                
                <% if @AdvancePreemptUsed || @SimultaneousPreemptOutputUsed %>
                	<%=h "Preempt Health Input" %>
                <% end %>
            </td>
        </tr>
    </table>
</div>
