<!--
-----------------------------------------------------------------------------------------------------
History:
*    Rev 1.0   Jul 05 2013 17:00:00   Gopu
* Initial revision.
-----------------------------------------------------------------------------------------------------
-->

<% if params[:auto_refresh].blank? %>
<div id="atcs_routes_table">
<% end %>
 <% if @routes.blank? %>
       <div class='warning_message'>No records found in the route table.</div>
<% else %>	
    <table cellspacing="0" cellpadding="0" width="80%" border="0" class="logtable">
        <thead>
            <tr>
                <th class="title" width="100">
                    Port Number
                </th>
                <th class="title" width="150">
                    Port Name
                </th>
				<th class="title" width="150">
					ATCS Address
				</th>
                <th class="title" width="150">
                    Path
                </th>
                <th class="title" width="150">
                    Timeout
                </th>
            </tr>
        </thead>

        <tbody>
            <% @routes.each do |route| %>
            <tr>
                <td class="trnwclass padleft_18 txtblckcolor left ">
                    <%=h route.port_num %>
                </td>
				<td>
					<%=h route.port_name %>
				</td>
                <td>
                    <%=h route.atcs_address %>
                </td>
                <td>
                    <%=h route.path %>
                </td>
                <td>
                    <%=h route.timeout_text %>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
<% end %> 
<% if params[:auto_refresh].blank? %>
</div>
<% end %>

<script type="text/javascript">
    $('.logtable').flexigrid({
        width: "50%",
        height: 'auto',
        striped: false
    })
</script>
