<div class="status_data <%= card_health == '1' || card_health == nil  ? 'inactive' : 'active' %> atcs_channel_layout io_card_<%= card.card_index if card %>">
    <div class="slot_header" title = "<%= card_name %>" style='<%= (card_health != nil && card_health.to_i == 0 ) ? "":"background-color:#B7280A;color:#FFF;" %>'>
        <%= card_name %>
    </div>
	
    <% if card %>
	    <% channel_parameters = fetch_channel_parameters(atcs_address, mcfcrc, card.card_index, card.card_type, view_type)
		parameter_type_three = channel_parameters.select{|parameter| parameter.parameter_type == 3 }
		parameter_type_four = channel_parameters.select{|parameter| parameter.parameter_type == 4 }

		four_type_header = get_atcs_header(parameter_type_four[0, 2].map(&:parameter_name))
		three_type_header = get_atcs_header(parameter_type_three[0, 2].map(&:parameter_name))

	    channel_index = 1
	    channel_tile = "" %>
		
	    <div id="main_card">
	        <div id="card_column">
	        	  <% begin %>	
	                  <div class='atcs_channel' style="height:auto;">
	                      <%= render(:partial => "/io_status_view/channels/atcs_channel",
		            				:locals => {:channel_parameters => parameter_type_four, :card_name => card_name, 
									:three_type_header => three_type_header, :parameter_type => 4, :four_type_header => four_type_header, :card => card}) %>
	                  </div>
	                  <div class='atcs_channel' style="height:auto;">
	                       <%= render(:partial => "/io_status_view/channels/atcs_channel",
		            				:locals => {:channel_parameters => parameter_type_three, :parameter_type => 3, :card_name => card_name, :three_type_header => three_type_header,
									:four_type_header => four_type_header, :card => card}) %>
	                  </div>
					  <div class='clear'></div>
				  <% rescue Exception => e %>
				  	<div class='atcs_channel'>
						<div class="outer_box">
							<%= e.message %>
						</div>
					</div>
				  <% end %>
	        </div>
	        <div style="clear:both;"></div>
	    </div>
    <% end %>
</div>
