<%= stylesheet_link_tag "jquery.contextMenu", "content", :cache => "cached/io_status" %>
<%= javascript_include_tag "jquery.contextmenu", "jquery.treeview", "io_status_view", 'jquery.colorbox-min', :cache => "cached/io_status" %>
<span id='view_type' style='display:none;'><%= params[:view_type] %></span>
<span id='io_atcs_address' style='display:none;'><%= @atcs_address %></span>
<input type = 'hidden' value = '<%= @atcs_address%>' id = 'atcs_address' >
<span id='current_pagename' style='display:none;'>module</span>
<div id="card_content"></div>
