<script type="text/javascript">
	var nv_group_id  = <%=@group_id%>;
	var nv_group_channel  = <%=@group_ch%>;
	var nv_number_per_page = <%=@number_per_page%>;
	var atcs_sin_only = <%= (params[:atcs_address_only].blank?)? false:true %>
	var OCE_MODE = <%=OCE_MODE%>;
	var nv_page_type = 'table';
	set_content_deminsions(800,400)
</script>
<%=javascript_include_tag 'toolbar.js',"nv_config.js"%>
<%= stylesheet_link_tag 'nv_config.css'%>

<div class="nv_config_wrapper">
	<% if !@rebuild %>
		<% num_pages =  @channel_count.to_i/@number_per_page.to_i %>
		<% if num_pages > 1 %>
			<div class="pagination">
				<span class="page_anchor <%=(@current_page == 1 ? 'disabled ' : 'active ')%>prev_page" <%=(@current_page == 1 ? '' : 'page="'+(@current_page-1).to_s+'"')%>>&#171; Prev</span>
				<% for i in 1..num_pages %>
					<span class="page_anchor<%= i == @current_page ? ' current' : ' active'%>" page="<%=i%>"><%=i%></span>
				<% end %>
				<span class="page_anchor <%=(@current_page == num_pages ? 'disabled ' : 'active ')%>next_page" <%=(@current_page == num_pages ? '' : 'page="'+(@current_page+1).to_s+'"')%>>Next  &#187;</span>
			</div>
		<% end %>	
	<% end %>
	<div class="nv_config_channels_wrapper">
		<%=render :partial=> "build_channels_table",locals:{io_assignment:false}%>
	</div>
	<div class="nv_config_channels_right_wrapper">
		<%= GenericHelper.toolbar({ 'unlock' => 'unlock.png', 'nv_save' => 'savemouseover.png', 'nv_table_refresh' => 'refresh_mouse_over.png', 'nv_table_default' => 'default.png'})%>
		<div class="nv_config_message_wrapper"><div class="nv_config_message"></div></div>
		<div class="nv_config_channels_content_wrapper">
			<%=render :partial=> "parameters"%>
		</div>
	</div>
</div>