<%=javascript_include_tag 'gcp_programming_form.js'%>
<%= stylesheet_link_tag 'gcp_programming_form'%>
<% page_name = (params[:menu_link] || params[:page_name]) %>

<% form_tag("javascript:", :class => 'parameters_form') do %>
  <input type="hidden" value="<%= page_name %>" id="page_name" name="page_name">
  <% if params[:track_setup] %>
    <input type="hidden" value="true" id="track_setup" name="track_setup">
    <input type="hidden" value="<%= params[:card_number] %>" id="card_number" name="card_number">
  <% end %>
  <div id="site_content_update">
    <div class='serial_outercover'>
      <% if @parameters.blank? && @gcp_4000_version.nil? %>
        <!--<div class="page_header">No parameters found!</div>-->
      <% elsif @gcp_4000_version && @parameters.blank? %>
        <%= gcp_populate_menu_links %>
      <% else %>
        <%= get_parameters %>
      <% end %>
        <%= get_links_4k(page_name)%>
    </div>
  </div>
  <input type="hidden" value="<%= @error_field %>" id="hd_error_field" name="hd_error_field">
  <% if !params[:setup_wizard].nil? %>
    <input type="hidden" value="true" id="hd_setup_wizard_field" />
  <% end %>
    <input type="hidden" id="parameters" value="true" if !@parameters.blank? />
  <div style="clear:both"></div>
<% end %>




