<ul id='programming_menu' style="color:#fff;">	
	<li id="setup_wizard" class="leftnavtext_U" pageurl='/gcp_programming/setup_wizard' breadcrumb='Setup Wizard'>Setup Wizard</li>
	<% if !@gcp_4000_version %>
		<li class="leftnavtext_U" pageurl='/nv_config/site' breadcrumb='Site Configuration'>Site Configuration</li>
	<% end %>
	<% @expression_structure = {} %>
	<% @main_menu['ROOT'].each_with_index do |menu, index| %>
		<% if menu.menu_name != '[Line]' && eval_expression(menu.show) %>		
			<% parent_name = if @gcp_4000_version 
					menu.link.blank? ? menu.menu_name : menu.link
				else
					menu.menu_name
				end
			%>			
			<% child_count = @main_menu[parent_name].nil? ? 0 : @main_menu[parent_name].size %>
			<li id="2.<%= index %>" pagename='<%= menu.menu_name %>' menulink='<%= menu.link %>' class="leftnavtext_U <%= 'expandable parent_expandable' if child_count != 0 %> <%= 'disable' if !eval_expression(@parent_page.enable) %>">
				<%= "<div class='hitarea expandable-hitarea #{"disable" if !eval_expression(@parent_page.enable)}' id='2.#{index}'></div>"  if child_count != 0 %>
				<%= menu.menu_name.strip %>
				<ul id="programming_menu" class='menu_child' style='display:none;'>
					<%= build_ancestry(menu, index) %>
				</ul>																
			</li>
		<% end %>
	<% end unless @main_menu.blank? %>
		<li class="expandable parent_expandable leftnavtext_U" menulink=" " pagename="Serial Port" pageurl="/nv_config/searial_port?channel=1" breadcrumb="Serial Port">
		<div class='hitarea expandable-hitarea'></div>
		CP Programming
		<ul id='programming_menu' class='menu_child' style='display:none'>
			<li class="leftnavtext_U " menulink=" " pagename="Serial Port" pageurl='/nv_config/searial_port?channel=1' breadcrumb='Serial Port'>Serial Port 1</li>
			<li class="expandable parent_expandable leftnavtext_U" menulink=" " pagename="Laptop Port" pageurl='/nv_config/ethernet_port?channel=0' breadcrumb='Laptop Port'>
				<div class='hitarea expandable-hitarea'></div>
				Ethernet
				<ul id='programming_menu' class='menu_child' style='display:none'>
					<li class="leftnavtext_U " menulink=" " pagename="Laptop Port" pageurl='/nv_config/ethernet_port?channel=0' breadcrumb='Laptop Port'>Laptop Port</li>
					<li class="leftnavtext_U " menulink=" " pagename="DNS" pageurl='/nv_config/dns' breadcrumb='DNS'>DNS</li>
				</ul>
			</li>
			<li class="leftnavtext_U " menulink=" " pagename="Router Settings" pageurl='/nv_config/router_settings' breadcrumb='Router Settings'>Router Settings</li>
			<!-- Log setup menu option start--> 
			<li class="expandable parent_expandable leftnavtext_U" breadcrumb='Diagnostic Logging' menulink=" " pageurl='/nv_config/diagnostic_logging' breadcrumb='Diagnostic Logging'>
				<div class='hitarea expandable-hitarea'></div>
				Log Setup
				<ul id='programming_menu' class='menu_child' style='display:none'>
					<li class="leftnavtext_U " menulink=" " pagename="Diagnostic Logging" pageurl='/nv_config/diagnostic_logging' breadcrumb='Diagnostic Logging'>Diagnostic Logging</li>
					<li class="leftnavtext_U " menulink=" " pagename="Log Verbosity Settings" pageurl='/nv_config/log_verbosity_settings' breadcrumb='Log Verbosity Settings'>Log Verbosity Settings</li>
				</ul>
			</li>
			<!-- Log setup menu option end-->	
			<li class="leftnavtext_U" pageurl='/nv_config/security' breadcrumb='Security'>Security</li>
			<li class="leftnavtext_U" pageurl='/nv_config/web_server' breadcrumb='Web Server'>Web Server</li>
			<li class="leftnavtext_U" pageurl='/gcp_programming/non_vital_to_default' breadcrumb='Set to Default'>Set to Default</li>
		</ul>
	</li>
</ul>

<style type='text/css'>
	.disable{
		color: #c1c1c1 !important;
		text-shadow: 2px 2px #000000;
		cursor: default;
	}
	
	.leftnavtree {
		font-size: 12px !important;
	}
</style>
