<ul id='programming_menu'>
	<% @menus.each_with_index do |menu, index| %>
		<!--  && eval_expression(menu.show) -->
		<% if menu.menu_name != '[Line]' && eval_expression(menu.show) %>
			<li id="2.<%= index %>" pagename='<%= menu.menu_name %>' menulink='<%= menu.link %>' class="leftnavtext_U <%= 'disable' if !eval_expression(menu.enable) %>">
				<%= menu.menu_name.strip.gsub(/^[0-9]*/, '') %>
			</li>
		<% end %>
	<% end unless @menus.blank? %>
	
	<li class="expandable parent_expandable leftnavtext_U" breadcrumb='Ethernet Port' menulink=" " pagename="Ethernet Port" pageurl='/nv_config/ethernet_port?channel=0'>
		<div class='hitarea expandable-hitarea'></div>
		CP Programming
		<ul id='programming_menu' class='menu_child' style='display:none'>
			<li class="leftnavtext_U " menulink=" " pagename="Laptop Port" pageurl='/nv_config/ethernet_port?channel=0' breadcrumb='Laptop Port'>Laptop Port</li>
			<!-- Log setup menu option start--> 
			<li class="expandable parent_expandable leftnavtext_U" menulink=" " pagename="Diagnostic Logging" pageurl='/nv_config/diagnostic_logging' breadcrumb='Diagnostic Logging'>
				<div class='hitarea expandable-hitarea'></div>
				Log Setup
				<ul id='programming_menu' class='menu_child' style='display:none'>
					<li class="leftnavtext_U " menulink=" " pagename="Diagnostic Logging" pageurl='/nv_config/diagnostic_logging' breadcrumb='Diagnostic Logging'>Diagnostic Logging</li>
					<li class="leftnavtext_U " menulink=" " pagename="Log Verbosity Settings" pageurl='/nv_config/log_verbosity_settings' breadcrumb='Log Verbosity Settings'>Log Verbosity Settings</li>
				</ul>
			</li>
		</ul>
	</li>
</ul>

<script>
// Script to load first left menu item by default
jQuery(document).ready(function() {
	var iframe = $('#iframe', window.parent.document);
	iframe.attr('src', '/gcp_programming/page_parameters?menu_link=TEMPLATE:  selection');
});
</script>

<style type='text/css'>
	.disable{
		color: #c1c1c1 !important;
		text-shadow: 2px 2px #000000;
		cursor: default;
	}
	
	.leftnavtree {
		font-size: 12px !important;
	}
</style>