<div class="contentactionbar io_assignment_actionbar">
    <div>
    	<% unless @gcp_4000_version %>        
			<div style="float: left;" class="contentactionbuttonlabel text_image save_icon contentactionbuttonlabelI">
	            <%= link_to("Save", "javascript:void(0);", :class => "io_assignment_form_save") %>
	        </div>&nbsp;&nbsp;	
	        <div style="float: left;" class="contentactionbuttonlabel contentactionbuttonlabelI text_image discard_icon">
	            <%= link_to("Discard", "javascript:void(0);", :class => "io_assignment_form_discard") %>
	        </div>
	        <div style="float: left;" class="contentactionbuttonlabel contentactionbuttonlabelI  text_image refresh_icon">
	            <%= link_to("Refresh", "javascript:void(0);", :class => "io_assignment_form_refresh") %>
	        </div>
		<% end %>
		   <div style="float: left;" class="contentactionbuttonlabel contentactionbuttonlabelI text_image default_icon">
	            <%= link_to("Default", "javascript:void(0);", :class => "io_assignment_form_default") %>
	       </div>

    </div>
    <span id="ajax_spinner"><%= image_tag("/images/ajax-loader.gif") %></span>
</div>
<style type="text/css">
    #ajax_spinner {
        left: 650px;
        position: absolute;
        top: 0;
		display:none;
    }
</style>