<div class="toolbar_wrapper">
	<div class="toolbar_button">
		<img src="/images/create-new-site-mouse-over.png" id="create_site" style="width:auto;"></img>
		<img src="/images/site.png" id="manage_site" style="width:auto;"></img>
		<%= link_to(image_tag('/images/savemouseover.png'),"javascript: void(0);", :id => "btnsavecontent",:title => "Save", :onclick=>"save_site_config();") %>
		<%if @valid_build %>
		  <%if @typeOfSystem == "GCP"%>
			<img src="/images/Create-build-mouse-over.png" id="build_site_config" onclick = "build_site_config_files_gcp();" style="width:auto;"></img>
		  <%else%>
		    <img src="/images/Create-build-mouse-over.png" id="build_site_config" onclick="build_site_config_files();" style="width:auto;"></img>
		  <%end%>
		<%else%>
		  <%if @typeOfSystem == "GCP"%>
			<img src="/images/Create-build-mouse-over_unsave.png" id="build_site_config" onclick = "build_site_config_files_gcp();" style="width:auto;"></img>
		  <%else%>
		     <img src="/images/Create-build-mouse-over_unsave.png" id="build_site_config" onclick="build_site_config_files();" style="width:auto;"></img>
		  <%end%>
		<%end%>
		<img src="/images/Config-Report-mouse-over.png" id="config_report" style="width:auto;"></img>
		<% if @typeOfSystem.to_s != "GCP" %>
			<%= link_to(image_tag('/images/Create-new-rc2key.png'), "javascript: void(0);", {:id => "create_rc2key_file", :onclick=>"create_rc2keyfile_dialog();"}) %>
			<%= link_to(image_tag('/images/Create-new-rc2key_disabled.png'), "javascript: void(0);", {:id => "create_rc2key_file_disabled"}) %>
		<%end%>
	</div>
</div>
<div class="message_container">&nbsp;<span class="success_message"></span></div>
<div>
	<ul id="submenu1" class="flexdropdownmenu">
		<li>
			<%if @iviu_ver.blank?%>
				<a href="/selectsite/index?type=iVIU PTC GEO" class = "load_config" id = 'liiviuptcgeo' title="">iVIU PTC GEO</a>
			<%else%>
				<div class="flex_div" id = 'liiviuptcgeo'>iVIU PTC GEO</div>
				<ul class="flexdropdownmenu flex_submenu">										
					<%@iviu_ver.each do |fname|%>
					<li>
						<a href="/selectsite/index?type=iVIU PTC GEO&nv_ver=<%=fname[0]%>" class = "load_config"><%=fname[1]%> Or Older</a>
					</li>
					<%end%>
					<li>
						<a href="/selectsite/index?type=iVIU PTC GEO" class = "load_config" id = 'liiviuptcgeo'>Newer Version</a>	
					</li>
				</ul>
			<%end%>
		</li>
		<li>
			<%if @iviu_ver.blank?%>
				<a href="/selectsite/index?type=iVIU" id = 'liiviu' class = "load_config">iVIU</a>
			<%else%>
				<div  class="flex_div" id = 'liiviu'>iVIU</div>
				<ul class="flexdropdownmenu flex_submenu">					
					<%@iviu_ver.each do |fname|%>
					<li>
						<a href="/selectsite/index?type=iVIU&nv_ver=<%=fname[0]%>" class = "load_config"><%=fname[1]%> Or Older</a>
					</li>
					<%end%>
					<li>
						<a href="/selectsite/index?type=iVIU" id = 'liiviu' class = "load_config">Newer Version</a>
					</li>
				</ul>
			<%end%>
		</li>
		<li>
			<a href="/selectsite/index?type=VIU" id='liviu' class = "load_config">VIU</a>
			<!-- If the system is having multiple nvconfig data bases, have to use code like above iVIU -->
		</li>
		<li>
			<a href="/selectsite/index?type=GEO" id = 'ligeo' class = "load_config">GEO</a>
		</li>
		<li>
			<a href="/selectsite/index?type=GCP" id = 'ligeo' class = "load_config">GCP</a>
		</li>
		<li>
			<a href="/selectsite/index?type=CPU-III" id = 'licpu' class = "load_config">GEO CPU3</a>
		</li>
	</ul>
</div>	
<div>
	<ul id="sitesubmenu" class="flexdropdownmenu">
		<li>
			<%= link_to("Open","javascript: void(0);", :id => "open_site_config",:title => "Open Site", :onclick=>"open_site_config();") %>
		</li>
		<li>
			<a href="javascript: void(0);" id = 'close_site_config' class="site_conf_close_remove">Close</a>
		</li>
		<li>
			<%= link_to("Save As", "javascript: void(0);", :id => "saveas_site_config",:title => "Save As Site", :onclick=>"saveas_site();") %>
		</li>
		<li>
			<a href="javascript: void(0);" id = 'copytousb'>
				<div class="export">Export</div>
			</a>			
		</li>
		<%if @typeOfSystem == "GCP"%>
		<li>
			<a href="javascript: void(0);" id = 'export_hd_mcfs'>
				<div class="export_hd_mcfs">Export HD MCFs</div>
			</a>			
		</li>
		<%end%>
		<li>
			<%= link_to("Import","javascript: void(0);", :id => "import_site_config",:title => "Import Site", :onclick=>"import_site_config();") %>
		</li>

		<li>
			<a href="javascript: void(0);" id = 'remove_site_config' class="site_conf_close_remove">
				<div class="remove">Remove</div>
			</a>
		</li>
		<li>
			<a href="javascript: void(0);" id = 'db_template' class="db_template">
				<div class="template">Set Template</div>
			</a>
		</li>
	</ul>
</div>
<div>
	<ul id="reportsubmenu" class="flexdropdownmenu">
		<% if @typeOfSystem.to_s == "GCP" %>
			<li>
				<a href="javascript: void(0);" onclick="download_gcp_config_report('min');" id = 'gcp_min_report'>Min Program Steps</a>
			</li>
			<li>
				<a href="javascript: void(0);" onclick="download_gcp_config_report('template');" id = 'gcp_template_report'>Template Report</a>
			</li>
			<li>
				<a href="javascript: void(0);" onclick="download_gcp_config_report('program');" id = 'gcp_template_report'>Program Report</a>
			</li>
			<li>
				<a href="javascript: void(0);" onclick="download_gcp_config_report('system');" id = 'gcp_system_report'>Config Report</a>
			</li>
			<%if !@gcp_4000_version%>
				<li>
					<a href="javascript: void(0);" onclick="download_gcp_config_report('relaylogic');" id = 'gcp_relaylogic_report'>Relay logic</a>
				</li>
			<%end%>
			<%if @version_report%>
				<li>				
					<a href="javascript: void(0);" onclick="download_gcp_config_report('version');" id = 'gcp_version'>Version Report</a>
				</li>
			<%end%>
			<%if @import_report%>
				<li>				
					<a href="javascript: void(0);" onclick="download_pac_import_report();" id = 'gcp_import'>Import Report</a>
				</li>
			<%end%>
		<%else%>
			<li>
				<a href="javascript: void(0);" onclick="download_config_report();" id = 'site_config_report'>Config Report</a>
			</li>
		<%end%>
		<% if (session[:user_id].to_s == "oceadmin") %>
			<li>
				<a href="/selectsite/sendgeoptclistiningreport" id = 'geoptc_site_config_report'>GEO PTC Report</a>
			</li>
		<% else %>
			<li>
				<a id = 'geoptc_site_config_report' style="color:gray;">GEO PTC Report</a>
			</li>
		<% end %>
	</ul>
</div>

<div id="buildcheck12" name="buildcheck12" class="error_message padding_left_150"></div>
<div class="clear_padtop_2">&nbsp;</div>
<div class="display_information">
	<% unless @aspect_file_error.blank? %>
		<input type="hidden" id="hd_aspect_available_flag" value="false" />
		<%= @aspect_file_error.to_s %>		
	<%else%>
		<input type="hidden" id="hd_aspect_available_flag" value="true" />	
	<%end%>
</div>
<div id="configurationeditorcontent">
	<input type="hidden" id="hd_importfilemessage" value="<%= @importfilemessage%>" />
	<input type="hidden" id="hd_refresh_page" value="<%= @refresh%>" />
	<input type="hidden" id="hd_typeOfSystem" value="<%= @typeOfSystem%>" />
	<input type="hidden" id="hd_nv_version" value="<%= @nv_version%>" />
	<input type="hidden" id="hd_site_name" value="<%= session[:s_name]%>" />
	<input type="hidden" id="hd_atcs_addr" value="<%= session[:atcs_address] %>" />
	<input type="hidden" id="hd_mile_post" value="<%= session[:m_post] %>" />
	<input type="hidden" id="hd_dot_number" value="<%= session[:dot_num] %>" />
	<input type="hidden" id="hd_report_config" value="<%= @report%>" />
	<input type="hidden" id="hd_export_flag" value="<%= @export%>" />
	<input type="hidden" id="hd_geoptcreportflag" value="<%= @geoptcreportflag%>" />
	<input type="hidden" id="hd_cfgsitelocation" value="<%= session[:cfgsitelocation]%>" />
	<input type="hidden" id="hd_template_mcfcrc" value="<%= @template_mcfcrc%>" />
	<input type="hidden" id="hd_gcp_current_template" value="<%= @gcp_current_template%>" />
	<input type="hidden" id="hd_template_check" value="<%= session[:template_enable]%>" />
	<input type="hidden" id="hd_comments" value="<%= session[:comments]%>" />
	<div class='serial_outercover' id='serial_outercover'>
		<div class='serial_outer' id='serial_outer'>
			<div class="serialleft contentCSPconfiglabel text_font">
				<label id="label1" >Type</label>
			</div>
			<div class='serialright'>
				<%= text_field_tag "systemtype", @typeOfSystem, :class =>"contentCSPsel", :disabled => true, :html=>{:style => "text-transform:capitalize"}  %>
				   <%if @typeOfSystem == "GCP"%>
			          <input type="checkbox" id = "template_checkbox" /> <span id = "template_name" class= "contentCSPconfiglabel text_font"> Template</span>
		           <%end%>				
			</div>
		</div>
	</div>
	<div class='serial_outercover' id='serial_outercover'>
		<div class='serial_outer' id='serial_outer'>
			<div class="serialleft contentCSPconfiglabel text_font" >
				<label id="label1" >Name</label>
			</div>
			<div class="float_left_pad3">
				<%= text_field_tag "yourFieldName", session[:cfgLocationconpath], :maxlength => 20, :size => 20, :class =>"contentCSPsel",:disabled => session[:sitecreation], :title => session[:OCE_ConfigPath], :html=>{:style => "text-transform:capitalize"}  %>
				<input type="hidden" id = "sitemsginfo" name="sitemsginfo" value="" />
				<input type="hidden" id = "site_status" name="site_status"/>
			</div>
			<%= image_tag("/images/small_spinner.gif", :class => "sitenamespinner sitename_spin") %>
			<div class="check" id="check" align="left" style="padding-left:5px;color:red;font-size:small;width:auto;"></div>
		</div>
	</div>
	<div class='msterdb' id='masterdb'>
		<div class='serial_outer' id='serial_outer'>
			<div class="serialleft contentCSPconfiglabel text_font">
				<label id="label1" >Master DB</label>
			</div>
			<div class='float_left_pad3'>
				<%= select_tag("masterGeoptclocation", "<option selected=\"selected\" value=\"Select Master DB\">Select Master DB</option>"+options_for_select(@root_entries.map{|x|[File.basename(x),x]},session[:selectedmasterdb]), :class=>"contentCSPsel",:disabled =>@disable, :title => session[:selectedmasterdb] )%>
				<%= image_tag("/images/small_spinner.gif", :class => "masterdbspinner masterdb_spin") %>
			</div>
			<div class="checkMasterdb" id="checkMasterdb" style="font-size: 12px; color: #FF0000"><%=@selMasterdbInfo%></div>
		</div>
	</div>
	<div class='divinstallationname' id='divinstallationname'>
		<div class='serial_outer' id='serial_outer'>
			<div class="serialleft contentCSPconfiglabel text_font">
				<label id="label1" >GEO Installation</label>
			</div>
			<div class="float_left_pad3">
				<%= select_tag("installation", "<option selected=\"selected\">Select GEO Installation</option>"+ options_for_select(@mcf_installation_collection, session[:selectedinstallationname]),:class=>"contentCSPsel validate[required]",:disabled =>@disable ) %>
				<%= image_tag("/images/small_spinner.gif", :class => "installationspinner installation_spin") %>
			</div>
			<div class="checkinst" align="left" id="checkinst" class="text_font"></div>
		</div>
	</div>
	<div class='serial_outercover' id='serial_outercover'>
		<div class='serial_outer' id='serial_outer'>
			<div class="serialleft contentCSPconfiglabel text_font">
				<label id="lblmcfname" name="lblmcfname"><%= @mcftypename %></label>
			</div>
			<div class="float_left_pad3">
				<%= text_field_tag "mcfname", session[:mcfnamefromselected], :class =>"contentCSPsel", :disabled => true, :html=>{:style => "text-transform:capitalize"}  %>
			</div>
			<div id ="btselectmcffile" class="btselectmcffile">
				<%= link_to(image_tag('/images/select-MCF-mouse-over.png'), "javascript:void(0);", {:id => "select_mcf", :onclick=>"createsitename();"}) %>
			</div>
		</div>
	</div>
	<div>
		<div class="error_message text_font">
			<%= flash[:notice_file] %>
		</div>
	</div>
	<div class='serial_outercover' id='serial_outercover'>
		<div class='serial_outer' id='serial_outer'>
			<div class="serialleft contentCSPconfiglabel text_font" >
				<label id="label1" >MCF CRC</label>
			</div>
			<div class="float_left_pad3">
				<%= text_field_tag "mcfCRCValue", session[:mcfCRCValue], :maxlength => 10, :size => 10,:class =>"contentCSPsel", :html=>{:style => "text-transform:capitalize"}  %> <span id="in_crc1" style="color:red;font-size:small;"></span>
			</div>
		</div>
	</div>
	
	<div class='commenttext' id='commenttext'>
         <div class='serial_outer' id='serial_outer'>
			<div class="serialleft contentCSPconfiglabel text_font" >
				<label id="label1" >Comments</label>
			</div>
			<div class="float_left_pad3">
				<%= text_area_tag "comment_text_area", session[:comments],:class =>"contentCSPsel_textarea", :html=>{:style => "text-transform:capitalize"}  %> <span id="comment_text" style="color:red;font-size:small;"></span>
			</div>
			<%= link_to(image_tag('/images/update_arte.png'), "javascript: void(0);", {:id => "update_comments", :onclick=>"update_comments();"}) %>			
		</div>
	</div>
	<div class="clear_padtop_2"></div>
	<div class="config_panel">
		<div id="buildcheck" name="buildcheck" class="padding_left_160 success_message text_font">
			<%= flash[:configedtmessage] %>
		</div>
		<div id="buildcheckerror" name="buildcheckerror" class="padding_left_160 error_message text_font"></div>
	</div>
</div>
<% unless @rc2keyerror.blank? %>
<div id="errormessage" class="errormessage error_message padleft_25_bottom_10 text_font" name="errormessage">
	<%= @rc2keyerror.to_s %>
</div>
<%end%>
<div class="config_panel">
	<div id="removemessagesuccess" name="removemessagesuccess" class="success_message padding_left_160 text_font">
		<%= flash[:removemessagesuccess] %>
	</div>
	<div id ="template_message" class="warning_message padding_left_160 text_font">	<%=@template_used%></div>	
</div>
