<%= javascript_include_tag  'jquery.form' , 'config_select_mcf' %>
<div class="<%= (@typeOfSystem == 'GCP')? 'padding_select_mcf_content_cpu3' : 'padding_select_mcf_content' %>">	
	<form name="mcf_file_upload" action="/selectsite/select_mcf?type=<%=@typeOfSystem%>&nv_ver=<%=@nv_version%>" id ="form_upload_site_mcf_file" class='upload_site_mcf_file' method="POST" enctype="multipart/form-data" >
		<div id="checkbox_div" class='selected_mcf_file mcf_file_margin_5'>
		<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />
			<span class='loader'><%= image_tag("/images/ajax-loader_white.gif") %></span>
			<%if (@typeOfSystem == 'GCP')%>
				<div class="padding_left_10 text_font">
					<input type="radio" id="create_new_site" checked="checked" name="new_site_type" value="create_new_site">&nbsp;Create New Site</div>
				<div class="clear"></div>
				<div class="padding_left_10 text_font">
					<input type="radio" id="create_new_site_from_pac" name="new_site_type" value="create_new_site_from_pac">
						<label>&nbsp;Create New Site from PAC File</label><label class="pac_second_line">(or upgrade template to new MCF)</label>
				</div>
				<div class="clear"></div>
				<input type="hidden" id="template_mcfname_mcfcrc" mcf_name="" mcfcrc="" mcf_location = "" />
				<input type="hidden" id="all_gcp_mcf_name_and_mcfcrc" value="<%= @mcf_name_and_mcfcrc %>" />
				<div class="padding_left_10 div_select_template">
					<div class="text_font"><label>Select Template : </label></div>
					<div class="clear"></div>					
					<div class="select_mcf_combo">
						<%=select_tag("selected_template", "<option selected=\"selected\">Not Used</option>" + options_for_select(@templates.map{|x|[File.basename(x),x]}, "Not Used"), :title => "Not Used" , :class=>"contentCSPselOpen",
								:style=>"width: 280px;" ,:disabled =>false)%>
						<input type="hidden" name="uploaded_template_path" id="uploaded_template_path" />
					</div>
					<div class="browse_button_area">
						<img src="/images/Browse-mouse-over.png"><a href="javascript: void(0)" style="color:black;font-weight:bold;"></a></img>
						<input type="file" id="uploadTemplateFile" name="uploadTemplateFile" style="font-size: 50px;cursor: hand;  width: 120px; opacity: 0;filter:alpha(opacity: 0);  position: relative; top: -40px;; left: -20px" />
					</div>
				</div>
				<div class="padding_left_10 div_select_pac" style="display: none">	
					<div class="text_font"><label>PAC/TPL File : </label></div>
					<div class="clear"></div>				
					<div class="select_mcf_combo">
						<%=select_tag("selected_pac", "<option selected=\"selected\">Select PAC/TPL File</option>" + options_for_select(@pac_files.map{|x|[File.basename(x),x]}, "Select PAC File"), :title => "Select PAC File", 
						:class=>"contentCSPselOpen", :style=>"width: 280px;" ,:disabled =>false)%>
						<input type="hidden" name="uploaded_pac_path" id="uploaded_pac_path" />
					</div>
					<div class="browse_button_area">
						<img src="/images/Browse-mouse-over.png"><a href="javascript: void(0)" style="color:black;font-weight:bold;"></a></img>
						<input type="file" id="uploadPacFile" name="uploadPacFile" style="font-size: 50px;cursor: hand;  width: 120px; opacity: 0;filter:alpha(opacity: 0);  position: relative; top: -40px;; left: -20px" />
					</div>
				</div>
				<div class="clear"></div>
			<%end%>
			
			<div class="padding_left_10 text_font"><label>Select MCF : </label></div>
			<div class="clear"></div>
			<div class="padding_left_10">
				<div class="select_mcf_combo">
					<%=select_tag("selected_site_mcf", "<option selected=\"selected\">Select MCF</option>"+options_for_select(@mcf_files.map{|x|[File.basename(x),x]}),:class=>"contentCSPselOpen",
					:style=>"width: 280px;", :disabled =>false)%>
					<input type="hidden" name="uploaded_mcf_path" id="uploaded_mcf_path" />
				</div>
				<div class="browse_button_area">
					<img src="/images/Browse-mouse-over.png"><a href="javascript: void(0)" style="color:black;font-weight:bold;"></a></img>
					<input type="file" id="mcffileUpload" name="mcffileUpload" style="font-size: 50px;cursor: hand;  width: 120px; opacity: 0;filter:alpha(opacity: 0);  position: relative; top: -40px;; left: -20px" />
				</div>
			</div>
			<div class="clear"></div>
			<div class="padding_left_10 text_font"><label>MCFCRC : </label></div>
			<div class="clear"></div>
			<div class="padding_left_10">
				<%= text_field_tag "selected_mcfCRCValue", @selected_mcfCRCValue, :mcf_location => "", :maxlength => 10, :size => 10,:class =>"contentCSPsel_mcfcrcvalue",:style=>"width: 280px;", :html=>{:style => "text-transform:capitalize"}  %>
			</div> 
		</div>
	</form>
	<div class="clear"></div>
	<div>
		<span id="selected_mcfcrc_validation" class="error_message"></span>
	</div>
	<div class="padtop_15 clear"></div>
	<div class="padding_left_10 mcf_file_margin_5">
	    <button id='upload_selected_mcf' class='upload_selected_mcf button_width_90'>Create Site</button>
		<button id='cancel_uplaod_selected_mcf' class='cancel_uplaod_selected_mcf button_width_90'>Cancel</button>
	</div>
	<input type="hidden" name="hd_site_type" id="hd_site_type" value = "<%=@typeOfSystem%>"/>
</div>