<div>
	<div class='err_message' style="color:red"></div>
    <table cellspacing="0" cellpadding="0" width="80%" border="0" class="logtable">
        <thead>
            <tr>
                <th class="title" width="<%= @text_messages.blank? ? 150 : 40 %>">
                    Slot
                </th>
				<th class="title" width="60">
					Locked
				</th>
                <th class="title" width="<%= @text_messages.blank? ? 150 : 600 %>">
                    Message
                </th>
            </tr>
        </thead>
        <tbody>
            <% if @text_messages.blank? %>
            <tr>
                <td rowspan='4'>
                    No messages found.
                </td>
            </tr>
            <% end %>
            <% @text_messages.each do |message| %>
            <tr>
                <td class="trnwclass padleft_18 txtblckcolor left ">
                    <span class="<%= @txt_color %>"><%=h message.slot %></span>
                </td>
				<td>
					<span class="<%= @txt_color %>"><%=h message.locked? %></span>
				</td>
                <td>
                    <span class="<%= @txt_color %>"><%=h message.msg_text %></span>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>

<script type="text/javascript">
$('.logtable').flexigrid({
    width: "50%",
    height: 'auto',
    striped: false
})
</script>
