<h3 id="soft_header">System Information</h3>
<table cellspacing="0" cellpadding="0" border="0" id="soft_info" style="width:47%">
	<tr>
		<td class="soft_info">Module Type</td>
		<td> :	<%= mod_type(gwe.try(:mef_version))%></td>
	</tr>
	<tr>
		<td class="soft_info">MEF Version </td>
		<td> :	<%= gwe.try(:mef_version)%></td>						
	</tr>
	<tr>
		<td class="soft_info">MEF/MCF CI </td>
		<td> :	<%= gwe.try(:mef_mcf_ci)%></td>						
	</tr>
	<tr>
		<td class="soft_info">MEF/HW CI </td>
		<td> :	<%= gwe.try(:mef_hw_ci)%></td>						
	</tr>
	<tr>
		<td class="soft_info">UCN </td>
		<td> :	<%= gwe.try(:ucn)%></td>						
	</tr>
	<tr>
		<td class="soft_info">MEFCRC </td>
		<td> :	<%= dec2hex gwe.try(:mefcrc)%> </td>						
	</tr>
	<tr>
		<td class="soft_info">In/Out Serv. Check No </td>
		<td> :	<%= dec2hex(gwe.try(:in_out_service_check_number)) %></td>						
	</tr>
	<tr>
		<td class="soft_info">MCF Name </td>
		<td> :	<%= gwe.try(:mcf_name)%></td>						
	</tr>
	<tr>
		<td class="soft_info">Location </td>
		<td> :	<%= gwe.try(:mcf_location)%></td>						
	</tr>
	<tr>
		<td class="soft_info">MCFCRC </td>
		<td> :	<%= dec2hex gwe.try(:mcfcrc)%></td>						
	</tr>
			<tr>
		<td class="soft_info">MCF Revision </td>
		<td> :	<%= gwe.try(:mcf_revision)%></td>						
	</tr>
	<tr>
		<td class="soft_info">Config Check Number</td>
		<td> :	<%= ccn_swap(dec2hex(gwe.try(:config_check_word))) %></td>						
	</tr>
	<tr><td>&nbsp;</td></tr>
	<% sw_info.each do |cinfo|%>
		<% unless cinfo.blank? %>
		<tr>
			<td><%= cinfo %></td>
		</tr>
		<% end %>
	<% end  unless sw_info.blank? %>
</table>