<tr>
    <td>
        &nbsp;
    </td>
</tr>
<tr>
    <td class="soft_info">
        Slot <%= slot_num %>
    </td>
    <td>
        <%= card_name %>
    </td>
</tr>
<% parameters.each_with_index do |parameter, i| %>
	<% parameter_name = parameter.name %>
	<% parameter_value = parameter.name.eql?("BOOTCODE_CRC") ? (@replies[i].blank? ? 0 : @replies[i] ) : (parameter.name.eql?("BOOTCODE_ID_Number") ? (@replies[i].blank? ? "unknown" : @replies[i] ) : @replies[i]) %>
	<% @file.puts("\r\n #{parameter.name}: #{parameter_value} \r\n") %>
	
	<tr><td "soft_info"><%= parameter_name %></td><td><%= parameter_value %></td></tr>
<% end %>

<% if parameters.blank? %>
	<% @replies.delete_at(2) if @replies.size > 3 %>
	<tr><td "soft_info">Verbosity</td><td><%= @replies[0] %></td></tr>
	<tr><td "soft_info">SW Version</td><td><%= @replies[1] %></td></tr>
	<tr><td "soft_info">SW ID Number</td><td><%= @replies[2] %></td></tr>
	<tr><td "soft_info">MEFCRC</td><td><%= @replies[3] %></td></tr>
	<% 
	   @file.puts("\r\n Verbosity: #{@replies[0]} \r\n") 
	   @file.puts("\r\n SW Version: #{@replies[1]} \r\n")
	   @file.puts("\r\n SW ID Number: #{@replies[2]} \r\n")
	   @file.puts("\r\n MEFCRC: #{@replies[3]} \r\n")
	%>
	
<% end %>
