<!-- ####################################################################
# Company: Siemens 
# Author: Vijay Anand G
# File: _object_name_settings.html.erb
# Description: This view is used to display the object name.
#################################################################### -->

<% form_tag("/object_name/object_name_update", :class => "object_name_update location_form", :id => "object_id" ) do %>
		<% @obj_names.each do |obj_collect| %>
			<% unless obj_collect[:obj_name].blank? %>
				<% text_field_name = 'obj_name_'+obj_collect[:id].to_s %>
				<% text_field_image = 'obj_name_'+obj_collect[:id].to_s+'_image' %>
				<div class="v_row">
					<div class="v_title"><%=  obj_collect[:obj_name] %></div>
					<div class="dv_input width_300">
							<div class = 'floatleft'><input type="text"  class='obj_name' id='<%= text_field_name%>' obj_index='<%= @obj_names.index(obj_collect)+1%>' value="<%= obj_collect[:obj_name]%>" current_obj_name="<%= obj_collect[:obj_name]%>"  def_obj_name="<%= obj_collect[:def_obj_name]%>" maxlength="29" ></div>
						<% if(obj_collect[:obj_name] == obj_collect[:def_obj_name]) %>
							<div class = 'v_default_indicator padding_left_10 floatleft' id = 'text_field_default_indicator'>*</div>
						<% end %>
						<div class = 'padding_left_10 floatleft' ><img src='/images/cross.png' alt='cancel' title = 'Cancel changes' class = 'obj_name_img' id = '<%= text_field_image%>' style='display:none;cursor:pointer;' /></div>
					</div>
					<div class='v_error'></div>
				</div>
			<% end %>	
		<% end %>
<% end %>
