<% parameterized_array = [] 
   counter = (params[:cards_counter] && params[:cards_counter]["card_"+card.card_index.to_s+"_"+parameter_type.to_s])? params[:cards_counter]["card_"+card.card_index.to_s+"_"+parameter_type.to_s].to_i : 1	
%>
<table cellpadding="0" cellspacing="0" border="0" id="atcs_card_<%= card.card_type %>_<%= parameter_type %>" counter="<%= counter %>" counter_id="card_<%= card.card_index %>_<%= parameter_type %>" class="atcs_card_table">
	<% unless channel_parameters.blank? %>
		<tr id="atcs_com_buttons" >
			<td>
				<span id='first'><%= link_to(image_tag("/images/dt/prev.png"), 'javascript:', :class => "atcs_button #{'disable' if channel_parameters.size < 18}", :rel => "prev", :parameter_type => parameter_type, :card_type => card.card_type, :title => 'Prev') %></span>
				<span id='last'><%= link_to(image_tag("/images/dt/first.png"), 'javascript:', :class => "atcs_button #{'disable' if channel_parameters.size < 18}", :rel => "first", :parameter_type => parameter_type, :card_type => card.card_type, :title => 'Up') %></span>
			</td>
		</tr>
	<% else %>
		<tr><td style="height:24px;">&nbsp;</td></tr>
	<% end %>
    <% display_param_index = 0
	   channel_parameters.each_with_index do |parameter, index| %>
	   
		<%  parameter_hash = {} 
		    parameter_name = parameter.parameter_name.split(".")
		 	p_name = atcs_parameter_name(parameter_name, three_type_header, four_type_header) 
		    parameterized_array.push("#{p_name}|index=#{index}|value=#{parameter.current_value.to_s(base=16)}") %>
	    <%  if index == 0 %>
		    <tr>
		        <td class="outer_box" style='text-align:center;padding:2px;'>
		        	<% p_header = ""
	                if parameter.parameter_type == 3 # OUT
	                	if(card_name.eql?("CTC") || card.card_type == 100 || card.card_type == 22)
	                		p_header = "CTL"
	                	else
	                		p_header = "OUT"
	                	end
	                elsif parameter.parameter_type == 4 # IN 
	                	if(card_name.eql?("CTC") || card.card_type == 100 || card.card_type == 22)
	                		p_header = "IND"
	                	else
	                		p_header = "IN"
	                	end
	                end
	                %>						
	                <%= p_header.try(:upcase) %>
		        </td>
		    </tr>
		    <tr>
		        <td value="<%= parameter.current_value.to_s(base=16) %>" pname="<%= p_name %>" id="<%= index %>_<%= card.card_type %>_<%= parameter_type %>" index="<%= index %>" class="outer_box <%= 'comm_view_slot_header' if parameter.current_value == 1 %>" style='padding:2px;<%= parameter.current_value == 0 ? "text-align:center; background-color:#9D0F10;" : "text-align:center;background-color:#809818;" %>'>
                    <%= p_name %>
		        </td>
		    </tr>
		<% elsif index >= counter && index < counter + 18 
			display_param_index = display_param_index + 1
			%>	
			<tr>
		        <td value="<%= parameter.current_value.to_s(base=16) %>" pname="<%= p_name %>" id="<%= display_param_index %>_<%= card.card_type %>_<%= parameter_type %>" index="<%= display_param_index %>" class="outer_box <%= 'comm_view_slot_header' if parameter.current_value == 1 %>" style='padding:2px;<%= parameter.current_value == 0 ? "text-align:center; background-color:#9D0F10;" : "text-align:center;background-color:#809818;" %>'>
                    <%= p_name %>
		        </td>
		    </tr>	
		<% end %>					
    <% end %>
	<% unless channel_parameters.blank? %>
		<% if channel_parameters.size < 18+counter %>
			<% 1.upto(18+counter - channel_parameters.size) do %>
				<tr><td class="outer_box" style="width: auto;background-color:#555656;">&nbsp;</td></tr>
			<% end %>
		<% end %>
		<span class="atcs_card_<%= card.card_type %>_<%= parameter_type %>" style="display:none;"><%= parameterized_array.join(',') %></span>
		<tr id= "atcs_com_buttons" >
			<td>
				<span id='first'><%= link_to(image_tag("/images/dt/next.png"), 'javascript:', :class => "atcs_button #{'disable' if channel_parameters.size < 18}", :rel => "next", :parameter_type => parameter_type, :card_type => card.card_type, :title => 'Next') %></span>
				<span id='last'><%= link_to(image_tag("/images/dt/last.png"), 'javascript:', :class => "atcs_button #{'disable' if channel_parameters.size < 18}", :rel => "last", :parameter_type => parameter_type, :card_type => card.card_type, :title => 'Down') %></span>
			</td>
		</tr>
	<% end %>
</table>

<style type="text/css">
	.disable{
		opacity: 0.5;
		cursor: default !important;
	}
</style>

<script type="text/javascript">
	$(document).ready(function(){
		
		$("#card_content").css("padding", "0 0 0 10px");
		
		$(".outer_box").hover(function(){
			if($(this).attr('value') != '')
				$(this).html($(this).attr('value'));			
		}, function(){
			if($(this).attr('pname') != '')
				$(this).html($(this).attr('pname'));
		});
		
		$(".atcs_button").w_click(function(){
			if(!$(this).hasClass('disable')){
				var card_type = $(this).attr('card_type');
				var event_type = $(this).attr('rel');
				var parameter_type = $(this).attr('parameter_type');
				var table_id = "atcs_card_"+card_type+"_"+parameter_type;
				var parameters = $.trim($("."+table_id).html()).split(",");
				var counter = Number($("#"+table_id).attr('counter'));
				var counter1 = 1;
				var parameter = '';
				var name = '';
				var value = '';				
				var flag = 1;
				if(event_type == "first"){
					counter = (counter - 18);
					
					if(counter > 18){
						counter1 = (counter - 18)
						$("#"+table_id).attr('counter', counter);
					}else{
						counter1 = 1;
						counter = 19;
						$("#"+table_id).attr('counter', 1);	
					}
								
					/* Default length of the table is 18 rows */
					parameters = $(parameters).slice(counter1, counter);
					for(var i=0; i<18; i++){
						parameter = $(parameters).get(i);
						assign_parameters(i, parameter, card_type, parameter_type);
					}
				}else if(event_type == "last"){
					counter = (counter + 18);
					if(counter <= parameters.length){
						parameters = $(parameters).slice(counter, (counter + 18));
						$("#"+table_id).attr('counter', counter);
						
						for(var i=0; i<18; i++){
							parameter = $(parameters).get(i);
							assign_parameters(i, parameter, card_type, parameter_type);
						}
					}
				}else if(event_type == "next"){
					var children = $("#atcs_card_"+card_type+"_"+parameter_type).find('td.outer_box');
					counter = counter + 1;
					$("#"+table_id).attr('counter', counter);
					flag = counter;		
					
					$(children).each(function(i, ele){					
						if(((counter + children.length) <= parameters.length) && parameters[flag] != undefined){
							parameter = parameters[flag].split('|');
							name = parameter[0];
							value = parameter[2].split("=")[1];
							$("#"+(i+1)+"_"+card_type+"_"+parameter_type).attr('value', value);
							$("#"+(i+1)+"_"+card_type+"_"+parameter_type).attr('pname', name);	
							$("#"+(i+1)+"_"+card_type+"_"+parameter_type).html(name);

							if(value == '1'){
								$("#"+(i+1)+"_"+card_type+"_"+parameter_type).css('background-color', '#809818');	
							}else{
								$("#"+(i+1)+"_"+card_type+"_"+parameter_type).css('background-color', '#9D0F10');
							}
							flag += 1;
						}
					});			
				}else if(event_type == "prev"){
					var children = $("#atcs_card_"+card_type+"_"+parameter_type).find('td.outer_box');
					counter = counter - 1;
					if(counter != 0){
						$("#"+table_id).attr('counter', counter);
						flag = counter;
						
						$(children).each(function(i, ele){	
							if((counter <= parameters.length) && parameters[flag] != undefined){
								parameter = parameters[flag].split('|');
								name = parameter[0];
								value = parameter[2].split("=")[1];
								
								$("#"+(i+1)+"_"+card_type+"_"+parameter_type).attr('value', value);
								$("#"+(i+1)+"_"+card_type+"_"+parameter_type).attr('pname', name);	
								$("#"+(i+1)+"_"+card_type+"_"+parameter_type).html(name);
	
								if(value == '1'){
									$("#"+(i+1)+"_"+card_type+"_"+parameter_type).css('background-color', '#809818');	
								}else{
									$("#"+(i+1)+"_"+card_type+"_"+parameter_type).css('background-color', '#9D0F10');
								}
								flag += 1;
							}
						});
					}
				}
			}
		});
	});
	
	function assign_parameters(i, ele, card_type, parameter_type){
		if(ele){
			parameter = ele.split('|');
			name = parameter[0];
			value = parameter[2].split("=")[1];		
			$("#"+(i+1)+"_"+card_type+"_"+parameter_type).attr('value', value);
			$("#"+(i+1)+"_"+card_type+"_"+parameter_type).attr('pname', name);									
			$("#"+(i+1)+"_"+card_type+"_"+parameter_type).html(name);
			
			if (value == '1'){
				$("#" + (i+1) + "_" + card_type + "_" + parameter_type).css('background-color', '#809818');
			}else {
				$("#" + (i+1) + "_" + card_type + "_" + parameter_type).css('background-color', '#9D0F10');
			}	
		}else{
			$("#"+(i+1)+"_"+card_type+"_"+parameter_type).html('&nbsp;');
			$("#"+(i+1)+"_"+card_type+"_"+parameter_type).attr('value', '');
			$("#"+(i+1)+"_"+card_type+"_"+parameter_type).attr('pname', '');
			$("#"+(i+1)+"_"+card_type+"_"+parameter_type).css('background-color', '#555656');
		}		
	}
	
</script>