<div class="status_data">
    <div class="outer_box" style='margin:0;border-bottom: none;'>
        <% track_parameters = get_mtx_track_parameters(channel_parameters, "4.MTX", channel_index) %>
        <% parameters = get_track_current_and_voltage(card_type, channel_parameters, card_index) %>
        <% rx_tx_errors = get_mtx_error_track_parameters(card_index) %>
        <div class='no_border_led' id="channel_title"><%= channel_name.blank? ? "TK" : channel_name %></div>
		<div>
            <span id="titles" style='padding-left:8px;'>Tx</span><span id="title_error"><%=rx_tx_errors[:tx]%></span>
        </div>
        <table cellspacing=0 cellpadding=0 id="coded_track_vars">
            <tr>
                <td colspan=2 id="coded_track_table_data" class='nobackground_table'>
                    &nbsp;<%= track_parameters[:mtx_code] %>&nbsp;
                </td>
            </tr>
            <tr>
                <td colspan=2 id="coded_track_table_data" class='nobackground_table'>
                    <%= parameters["current"] %>
                </td>
            </tr>
            <tr>
                <td colspan=2 id="coded_track_table_data" class='nobackground_table'>
                    <%= parameters["voltage"] %>
                </td>
            </tr>
        </table>
		<% track_parameters = get_mtx_track_parameters(channel_parameters, "3.MTX", channel_index) %>
        <% parameters = get_track_vti_current_and_margin(card_type, channel_parameters, card_index) %>
		<div>
		    <span id="titles" style='padding-left:8px;'>Rx</span><span id="title_error"><%=rx_tx_errors[:rx]%></span>
		</div>
		<table cellspacing=0 cellpadding=0 border=1 id="coded_track_vars">
		    <tr>
				<td colspan=2 id="coded_track_table_data" class='nobackground_table'>
					&nbsp;<%= track_parameters[:mtx_code] %>&nbsp;
				</td>
		    </tr>
			<tr>
                <td colspan=2 id="coded_track_table_data" class='nobackground_table'>
                    <%= parameters["vti_current"].blank? ? "0 A" : parameters["vti_current"] %>
				</td>
            </tr>
			<tr>
				<td colspan=2 id="coded_track_table_data" class='nobackground_table'>
                    <%= parameters["margin"] %>
				</td>
			</tr>
		</table>
    </div>
</div>