<%# channel_name = channel_name(channel_index, atcs_address, card_index, "VLO") %>
<% pco_hash = get_pco_status_message(channel_parameters, channel_index, "PCO", channel_name) %>

<div class="outer_box" style="<%= pco_hash['foreign_energy'].blank? ? "" : 'background-color:yellow;' %>">
    <table cellspacing=0 cellpadding=0 class="channel_table">
        <tr>
            <td class='no_border_led' id="channel_title" colspan=2>
                <%= channel_name.blank? ? "SRCHLT#{channel_index}" : channel_name %>		
            </td>
        </tr>
        <tr>
            <td class='no_border_led' id="channel_status_image">
                <%= pco_hash['lamp_image'] %>
            </td>
            <td class='no_border_led'>
                <%= pco_hash['lamp_status'] %>
            </td>
        </tr>
		<% if (pco_hash["status_armature"] != pco_hash["cmd_armature"] && channel_parameters["3.PCO#{channel_index}.MechFailure"] == 0) || (channel_parameters["3.PCO#{channel_index}.MechFailure"] == 1) %>
		<tr>
			<td><%= pco_hash["status_armature"] %></td><td><%= pco_hash["mech_failure"] %></td><td><%= pco_hash["cmd_armature"] %></td>
		</tr>
		<% else %>
			<tr><td><%= pco_hash["status_armature"] %></td></tr>
		<% end %>
    </table>
</div>