<%= stylesheet_link_tag 'cdl.css' %>
<%= javascript_include_tag 'cdl_operational.js' %>
<% form_tag({:controller=>"cdlsitesetup",:action=>"update_operational_parameter",:page=>'operational_parameters'},:id=> 'cdl_operational') do %>
<%= GenericHelper.toolbar({ 'operational_save' => 'savemouseover.png','operational_refresh' => 'refreshmouseover.png'})%>
<div class="clear">&nbsp;</div>
<div id="cdl_message"></div>
<div id="cdl_operational_parameter_div" class="serial_outercover paddingleft5">
	<% unless @values.blank? %>
	<input type="hidden" name="cdl_value" id="cdl_value" value="1"/>
			<%@values.each do |value| %>
			<div id="serial_outer" class="serial_outer">
				<div class="serialleft contentCSPlabel text_type"><%= value.Param_Name %></div>
				<% @minandmax = Cdlopparam.get_min_and_max(value.ID)%>
				<% @min = @minandmax.map{|y| y.Min_Value} %>
				<% @max = @minandmax.map{|z| z.Max_Value} %>
				<% if value.Param_Type == 1 %>
				    <% @dropdownvalues = Cdlopparam.drop_down_values(value.ID) %>
					<div class="serialright select_type">
						<%= select_tag("ctrl_id_#{value.ID}" ,options_for_select(@dropdownvalues.map{|x| [x.Option_Text , x.Option_Value]}, value.Current_Value),:class=>"contentCSPsel" ,:disabled => false) %>
					</div>
				<% else %>
					<div class="serialright text_type">
						<%= text_field_tag("ctrl_id_#{value.ID}", value.Current_Value, :class=>"contentCSPsel operation_input" , :min => "#{@min[0]}", :max => "#{@max[0]}", :param_name => "#{value.Param_Name}", :disabled => false) %>
						<div class="error_message"></div>
					</div>
				<%end%>
			</div>
		<% end %>
	<% else %>
		<input type="hidden" name="cdl_value" id="cdl_value" value="0"/>
		<div class="text_white text_font">No records available.</div>
	<% end %>
</div>
<% end %>