<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<% if PRODUCT_TYPE == PRODUCT_TYPE_GEO_OCE %>
			<title>OCE WebUI</title>
		<%else%>
			<title>GEO WebUI</title>
		<%end%>
        <%= stylesheet_link_tag 'jquery-ui','general', 'jquery.treeview.MOD', 'header', 'jquery.loadmask', 'footer', 'topnav', 'leftnav', 'breadcrumbs',  'submodal', 'colorbox', 'content', 'anylinkcssmenu', 'logic_view', 'system_diagnostics', 'flexigrid', :cache => "cached/applicatoin_css"%>
        <%= javascript_include_tag 'jquery-1.9.1.min', 'jquery-ui', 'jquery.loadmask', 'jquery-migrate-1.1.1.js','jquery.treeview', 'jquery.mousewheel', 'custom_scroll','jquery_wrapper', 'navigation', 'anylinkcssmenu', 'application', 'flexigrid', :cache => "cached/applicatoin_js"%>
		<% if PRODUCT_TYPE == PRODUCT_TYPE_GEO_OCE %>
			<%= javascript_include_tag 'jquery.colorbox-min' %>
		<% end%>
        
        <script type="text/javascript">
            var PRODUCT_TYPE_GEO_OCE = <%=PRODUCT_TYPE_GEO_OCE%>;
            var PRODUCT_TYPE_GEO_WEBUI = <%=PRODUCT_TYPE_GEO_WEBUI%>;
            var PRODUCT_TYPE = <%=PRODUCT_TYPE%>;
			var OCE_ADMIN = <%= OCE_ADMIN %>;
			var ADMIN_FLAG = <%=(session[:user_id]=='admin' ? 'true' : 'false')%>;
            var view_alarms = <%=(@alrams == 'alarms' ? 'true' : 'false')%>;
            var ptc_enabled_flag = <%=(@ptc_status == 'enabled' ? 'true' : 'false')%>;
            var usb_enabled_flag = <%=(@usb_status == 'enabled' ? 'true' : 'false')%>;			
			var viu_site_flag = <%= (session[:typeOfSystem] == 'VIU' ? 'true' : 'false')%>;			            
            
            <% if @is_gcp_5k != nil %>
                var is_gcp_5k = <%= @is_gcp_5k %>;
            <% end %>	            

            var product = "<%=@product%>";
            var is_oce_flag = false;
            var cpu_3_menu_system_flag = false;	
            if (PRODUCT_TYPE == PRODUCT_TYPE_GEO_OCE){
                cpu_3_menu_system_flag = <%= (session[:typeOfSystem] == 'CPU-III' ? 'true' : 'false')%>;
                is_oce_flag = true;
                product = "<%=session[:typeOfSystem]%>";
            }
            else{
                cpu_3_menu_system_flag = <%=@cpu_3_menu_system%>;
            }                   
			
			<% if session[:user_id] && @product && (@product == "CPU II"||@product == "CPU2") && (PRODUCT_TYPE != PRODUCT_TYPE_GEO_OCE) %>
				$(document).ready(function(){
        			make_header_request();
				});
			<% end %>
		</script>
    </head>
    <body class="background_color">
        <div id="all" height="100%" style="z-index: 1">
            <div style="position: absolute; top:29px; right:30px; left:20px; bottom:30px" class='parent_class'>
                <table border=0 width="100%" id='parent_window' >
                    <tr>
                        <td>
                            <table border=0 width="100%">
                                <tr>
                                    <td class="toplogo">
                                        <img src="images/siemens-logo.gif"/>
                                    </td>
                                    <td>
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    <table border="0" width="100%">
                                                        <tr height="30px">
                                                            <td>
                                                                <% if session[:user_id] %>
                                                                <span class="welcometxt">Welcome&nbsp;<%= session[:user_id].capitalize %></span>
                                                                <% else %>
                                                                <span class="welcometxt"></span>
                                                                <% end %>
                                                            </td>
                                                            <td style="width: 17px">
                                                            </td>
                                                            <td background="images/LogoutButton.png" class="logoutbtn logout" width=68>
                                                                <% if session[:user_id] %>
                                                                &nbsp;&nbsp;<%= link_to " Logout", :controller => "access", :action => "logout" %>
                                                                <% else %>
                                                                <%= link_to "Login", :controller => "access", :action => "login_form" %>
                                                                <!--<a href="access/login_form" class =" submodal-300-200" method="get">Login</a>--><% end %>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="height: 5px">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table width="100%">
                                                        <tr>
                                                            <td class="site">
                                                                <div id="mainheader">
                                                                    <% if session[:user_id] && @product %> 
	                                                                   <% if (@product != "CPU II"&&@product != "CPU2") %>
																	     <% header_function %>
                                                                       <% end %>
																	   <%=render :partial=> "/layouts/partials/site_info/"%>	
																	<% end %>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%">
                            	<tr>
                            		<td><input type="hidden" value="<%=PRODUCT_TYPE%>" id="hd_product_type" /></td>
                            	</tr>
                                <tr>
                                    <td id="topnav" style="height: 90px; max-height: 90px"></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%">
                                <tr height=11>
                                    <td width="95%">
                                        <% if PRODUCT_TYPE == PRODUCT_TYPE_GEO_WEBUI %>
                                            <span class="floatright" id="cdl_status_indicator" style="display:none;"><img src='/images/indicator/cdl_icon.png' border='0' title='CDL is running' /></span>
                                            <span class="floatright" id="cpu_status_indicator" style="display:none;"><img src="images/indicator/out_of_session_icon.png" alt="CPU Status" title="CPU Status"/></span>
                                            <span class="floatright" id="diag_msg_indicator" style="display:none;">i</span>
                                        <% else%>
                                        	<input type="hidden" value="" id="hd_current_site_type" />                                        	
                                        <% end %>
                                        <span class="clear">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                          <div class = "maskcontent" id ="maskcontent">
                          	<div class = "maincontent" id = "maincontent">
                            <table cellspacing=0 cellpadding=0 width="100%">
                                <tr height=2>
                                    <td width=240>
                                    </td>
                                    <td width=8>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr height="440px">
                                    <td class="leftnav">
                                        <table width="250px;">
                                            <tr>
                                                <td class="leftnav">
                                                    <table cellpadding=0 cellspacing=0>
                                                        <tr>
                                                            <td style="width:27px">
                                                            </td>
                                                            <td id="leftnavbkgd" class="leftnav leftnavbkgd">
                                                                <span id="leftnavtitle" class="leftnavtitle"></span>
                                                            </td>
                                                        </tr>
                                                        <tr height="20px">
                                                            <td>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                            </td>
                                                            <td class="leftnav" style="width:388px;">
                                                                <div id="leftnavtree" class="leftnav leftnavtree" width=100></div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td style="width: 20px">
                                    </td>
                                    <td id="content" class="content">
                                        <table width="100%">
                                            <tr>
                                                <td>
                                                    <table cellspacing=0 cellpadding=0 width="100%">
                                                        <tr>
                                                            <td id="content_title" class="content_title" style="float:left; width:auto;">
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <span id="contenttabs" class="contenttabs"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div id="iomodule" style="display:none;">
                                                                    <%#= render :partial => "diagnostic_terminal/iomodule_nav_default" %>
                                                                </div>
                                                                <div id="timers" style="display:none;">
                                                                    <%#= render :partial => "diagnostic_terminal/iomodule_nav_default" %>
                                                                </div>
                                                                <span id="frame_periodic_call" style="display:none;"></span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="contentcontents_parent">
                                                                <div id="contentcontents" class="contentcontents">
                                                                    <%= yield :layout %>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
							 </div>
							</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table class="copyright_wrapper">
                                <tr>
                                    <td class="copyrighttxt">
                                        <p id ="version_text_left">
                                            &copy; Copyright 2015 Siemens. All rights reserved.
                                        </p>
                                        <p id ="version_text_right">
                                            <% if PRODUCT_TYPE == PRODUCT_TYPE_GEO_OCE %>
                                            	<%if OCE_ADMIN == 1 %>
                                                	OCE Admin Version <%= session[:webui_version] %>.
                                                <%else%>
                                                	OCE Version <%= session[:webui_version] %>.
                                                <%end%>
                                            <% else %>
                                                CP Version <%= session[:webui_version] %>.
                                            <%end %>
                                        </p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </body>
</html>
