<!-- ####################################################################
# Company: Siemens 
# Author: Gopu
# File: _location_settings.html.rb
# Description: This view is used to display the location setting fields(Site Name, Dot Number, Mile Post). 
#################################################################### -->

<form action='/location/location_update/' class='location_update location_form' id='loc_id'>
      <%= hidden_field_tag 'request_id', location.request_id %>
	  <%= hidden_field_tag 'atcs_address', location.atcs_address %>
	  <%= hidden_field_tag 'ci', location.ci %>
	  <%= hidden_field_tag 'ci_version', location.ci_version %>
	  <%= hidden_field_tag 'latitude_degrees', "#{location.latitude_degrees}-#{location.longitude_degrees}" %>
	  <%= hidden_field_tag 'latitude_min', "#{location.latitude_min}-#{location.longitude_min}" %>
	  <%= hidden_field_tag 'latitude_sec', "#{location.latitude_sec}-#{location.longitude_sec}" %>
	  <%= hidden_field_tag 'latitude_tenths', "#{location.latitude_tenths}-#{location.longitude_tenths}" %>
	  <%= hidden_field_tag 'latitude_direction', "#{location.latitude_direction}-#{location.longitude_direction}" %>
	  
	<div class="v_row">
		<div class="v_title">DOT Crossing Number</div>
		<div class="dv_input">
            <%= text_field_tag "dot_number", dot_number, :class =>"text_loc linkcontent_text required dot_number", :maxlength => 7, :onKeyUp => "siteconfig_validation('dot_number')" %>
		</div>
		<div class='v_error'>
			<span id="dot_number_error_msg"></span>
		</div>
	</div>
	<div class="v_row">
		<div class="v_title">Milepost Number</div>
		<div class="dv_input">
			<%= text_field_tag "mile_post", mile_post, :class =>"text_loc linkcontent_text", :onKeyUp => "siteconfig_validation('mile_post')", :maxlength => 11 %>
		</div>
		<div id="mile_post_error_msg" class='v_error'></div>
	</div>
	<div class="v_row">
		<div class="v_title">Site Name</div>
		<div class="dv_input">
			<%= text_field_tag 'site_name', site_name, :class =>"text_loc linkcontent_text required site_name", :onKeyUp => "siteconfig_validation('site_name')", :maxlength => 25 %>
		</div>
		<div id="site_name_error_msg" class='v_error'></div>
	</div>
</form>
<script>
$(document).ready(function(){
	$('.v_save').w_click(function(){
		$('.location_update').submit();
	});
	$('.location_update').submit(function(event){
		event.preventDefault();
		if (!checkerror()) {
			return false;
		}
		else {
			var page_url = $(this).attr('action');
	        var location_data = $(this).serialize();
			$("#contentcontents").mask("Updating Location parameters, please wait...");
	        $.post(page_url, location_data, function(response){
				if (response.error) {
					$('.message').html("").addClass("v_error_message").html(response.message).show();
					$("#contentcontents").unmask();
				}
				else {
					submit_form( response.request_id );
				}
	        });
	        return false;
		}
	});
});
</script>
