<div>&nbsp;</div>
<div class="headercover">
	<div>
		<h3>&nbsp;Module Information - <%= @module_card_name%> </h3>
	</div>
	<% if @sw_version.blank? %>
		<p style="color: #000000">
			Unable to get Software Information.
		</p>
	<% else %>
		<div style="width: 600px">
			<table border="1" cellspacing="0" cellpadding="0" class="module_info_table">
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Number</th>
					<th>CRC(Hex)</th>
					<th>Version</th>
				</tr>
				<%@sw_version.each do |parameter|%>
				<tr>
					<td><%= parameter.sw_name%></td>
					<td><%= parameter.sw_type%></td>
					<td><%= parameter.sw_9V_number%></td>
					<td><%= (parameter.crc && parameter.crc.to_i >0) ? "0x" + ccn_swap(dec2hex(parameter.crc)) : "N/A"%></td>
					<td><%= parameter.version%></td>
				</tr>
				<%end%>
			</table>
		</div>
	<% end %>
</div>