<span id='view_type' style='display:none;'><%= params[:view_type] %></span>
<span id='io_atcs_address' style='display:none;'><%= @atcs_address %></span>
<div>
	<%if @active_cards && @active_cards.length > 0 %>
	<div style="width: 100%">
		<table border="0" cellspacing="0" cellpadding="0" id="logtable">
			<tr>
				<th>Slot</th>
				<th>Name</th>
				<th>Type</th>
				<th>Revision</th>
				<th>CRC(Hex)</th>
				<th>Version</th>
			</tr>
				<%
				@active_cards.each do |card|
				sw_version = fetch_sw_version(card[0].to_s)
				if (!sw_version.blank?)
					sw_version.each do |parameter|%>
					<tr>
						<td><%= isCPVersionInfo?(parameter.sw_type) ?  fix_cp_slot_name(card[1].to_s) : card[1].to_s%></td>
						<td><%= parameter.sw_name%></td>
						<td><%= parameter.sw_type%></td>
						<td><%= parameter.sw_9V_number%></td>
						<td><%= (parameter.crc && parameter.crc.to_i >0) ? "0x" + ccn_swap(dec2hex(parameter.crc)) : "N/A"%></td>
						<td><%= parameter.version%></td>
					</tr>
					<%end%>
					<tr> <td colspan="6">&nbsp;</td></tr>
				<%end%>
			<%end%>
		</table>
	</div>

	<%else%>
	<div>
		<p class="warning_message">
			No Information found !!!
		</p>
	</div>
	<%end%>
</div>

