<input type="hidden" id="hdselectedinstname" name="hdselectedinstname" />
<div id="mcfparamscontent">
	<div class="toolbar_wrapper"> 
	    <table>
	    	<tr>
	           <div class='total_mcf_installations padding_left_15_white  text_font'>
				    <td ><%= link_to(image_tag('/images/Create-Database-mouse-over.png'), "javascript: void(0)", {:id => "create_new_masterdb", :onclick=>"create_new_masterdb();"}) %></td>
					<td ><%= link_to(image_tag('/images/Open-Database-mouse-over.png'), "javascript: void(0)", {:id => "open_existing_masterdb", :onclick=>"open_masterdb();"}) %></td>
					<td ><% unless @mcf_files.blank? %>
							<% unless session[:mantmasterdblocation].blank? %>
								<input type="hidden" id="mdbfileavailability" name="mdbfileavailability" value = "<%= @mdbfile %>" />
									<%= link_to(image_tag('/images/extract-mouse-over.png'), "javascript: void(0)", {:id => "extract_mcffile", :onclick=>"extract_mcffiles();"}) %>
							<% end %>
		                <% end %>
					</td>
					<td > 
					    <% unless @mcf_installation_collection.blank? %>
							<%= link_to(image_tag('/images/Config-Report-mouse-over.png'), "javascript: void(0)", {:id => "select_installation", :onclick=>"select_installation_name();"}) %>
				        <% end %>
					</td>
					<td > 
					    <% unless @mcf_installation_collection.blank? %>
							<%= link_to(image_tag('/images/Approve.png'), "javascript: void(0)", {:id => "select_installation", :onclick=>"select_installation_name_approve();"}) %>
				        <% end %>
					</td>
					<td > 
					    <% unless @mcf_installation_collection.blank? %>
							<%= link_to(image_tag('/images/ptcdbreport_mouseover.png'), "javascript: void(0)", {:id => "create_database_report", :onclick=>"create_database_report();"}) %>
				        <% end %>
					</td>
			  </div>
			</tr>
		</table>
	</div>
	<div class="padding_top_5_clearboth">&nbsp;</div>
	<div id="mcf_extract_utility" style="display:block;">
	    <div class="padding_left_10">
	    	<table>
	    	 	<tr>
					<td><label id="label1" class="whitefont_12">Master GEOPTC DB:</label></td>
					<% if session[:mantmasterdblocation] !=nil 
							session[:mantmasterdblocationpath] = dbpathptc(session[:mantmasterdblocation].to_s)
						else
							session[:mantmasterdblocationpath] = nil 
					end %>
					<td><%= text_field_tag "maintMasterDBPath", session[:mantmasterdblocationpath], :class =>"inputbox_masterdb", :disabled => true, :title => masterdbpath(session[:mantmasterdblocationpath]), :html=>{:style => "text-transform:capitalize"}%></td>
				</tr>
				<% unless @mcf_files.blank? %>
					<% unless session[:mantmasterdblocation].blank? %>
						<tr>
							<td><label id="lbluserinstallationname" class="whitefont_12">Enter Installation Name:</label></td>
							<td><%= text_field_tag "userinstallationname", session[:userinstallationname].to_s , :maxlength => 25, :size => 25,  :class =>"inputbox_masterdb", :disabled => false, :title => "Enter Installation Name", :html=>{:style => "text-transform:capitalize"}%></td>
						</tr>
					<% end %>
				<% end %>
			</table>
			<div class="padding_top_5_clearboth">&nbsp;</div>
			<% unless session[:mantmasterdblocationpath].blank? %>
				<div class="padding_top_5_clearboth">&nbsp;</div>
				<%= flash[:notice_mcf] %>
				<div class="configpanel">
						<div class="padding_top_5"><h4 class="whitefont_12">MCFs to add to database</h4></div>
						 <div class="width_200_float_left">
						 	<%= select :mcffiless, :mcffile, @mcf_files.map{|u| File.basename u},{:selected => session[:selected_mcf_files]}, :class=>'mydropdown' , :multiple => true %>
						 </div>
						 <div class="padding_left_5_width_100">
							 <div class="padding_top_5" align="center">
								<div class="padding_top_5" align="center"><%= link_to(image_tag('/images/Add-mouse-over.png'), "javascript: void(0)", {:id => "select_nonappliance_model_mcf", :onclick=>"select_nonappliance_model_mcf();"}) %></div>
							 </div>
							 <div class="padding_top_5" align="center"><%= link_to(image_tag('/images/Remove-mouse-over.png'),"javascript: void(0)", :id => "removemcf",:title => "Remove", :onclick=>"remove_mcf('Selected');") %></div>
							 <div class="padding_top_5" align="center"><%= link_to(image_tag('/images/Remove-all-mouse-over.png'),"javascript: void(0)", :id => "removeallmcf",:title => "Remove All", :onclick=>"remove_mcf('All');") %></div>
							 <%= image_tag("/images/big-spinner.gif", :class => "mcfspinner", :style => "display:none;left: 250px;position: absolute;top: 180px;") %>
						 </div>
				</div>	
			<% end %>
		</div>
	</div>
	<div id="crc_approved_utility" style="display:none;">
		<div class="padding_left_15_white text_font"><label>Select Installation : </label></div>
		<div class="padding_top_5_clearboth"></div>
		<div class="padding_left_15_white  text_font"><%= text_field_tag "installation_names", @installationname, :class =>"contentCSPselptc", :disabled => true, :html=>{:style => "text-transform:capitalize"}%></div>
		<div class="padding_top_5_clearboth"></div>
		<div class="padding_left_15_white  text_font"><label>Approver : </label></div>
		<div class="padding_top_5_clearboth"></div>
		<div class="padding_left_15_white  text_font"><%= text_field_tag "installation_approver", @approver, :class =>"contentCSPselptc", :disabled => true, :html=>{:style => "text-transform:capitalize"}%></div>
		<div class="padding_top_5_clearboth"></div>
		<div class="padding_left_15_white  text_font"><label>Date / Time : </label></div>
		<div class="padding_left_15_white  text_font"><%= text_field_tag "site_date", "", :class=>"contentCSPselptc", :disabled => true %></div>
		<div class="padding_top_5_clearboth"></div>
		<div class="padding_left_15_white  text_font"><label>Enter Approval CRC : </label></div>
		<div class="padding_top_5_clearboth"></div>
		<div class="padding_left_15_white  text_font"><%= text_field_tag "installation_approval_crc", @approvelcrc, :class =>"contentCSPselptc", :disabled => true, :html=>{:style => "text-transform:capitalize"}%></div>
		<div class="padding_top_5_clearboth"></div>
		<div class="padding_left_15_white  text_font"><label>Status : </label></div>
		<div class="padding_top_5_clearboth"></div>
		<div class="padding_left_15_white  text_font"><%=select_tag("installation_approval_status", options_for_select(@approvalstatus.map{|x|[x]}),:class =>"contentCSPselptc" ,:disabled =>true)%></div>
		<div class="padding_top_5_clearboth"></div><br/>
		<div class="padding_left_15_white  text_font">					
			<input type="image" src="/images/Unapprove.png" id="btnunapprove" class='confirm' onclick = "ptcgeodb_unapprove();" name="imgConfirm" >
			<input type="image" src="/images/Exit.png" class='cancel' onclick="hide_approve();" name="imgCancel">
			<input type="image" src="/images/History.png"  class='history' onclick="get_history('Approved');" name="imgHistory" >
		</div>
	</div>
	<div id="crc_unapproved_utility" style="display:none;">
		<div class="padding_left_15_white  text_font"><label>Select Installation : </label></div>
		<div class="padding_top_5_clearboth"></div>
		<div class="padding_left_15_white  text_font"><%= text_field_tag "installation_names1", @installationname, :class =>"contentCSPselptc", :disabled => true, :html=>{:style => "text-transform:capitalize"}%></div>
		<div class="padding_top_5_clearboth"></div>
		<div class="padding_left_15_white  text_font"><label>Status : </label></div>
		<div class="padding_top_5_clearboth"></div>
		<div class="padding_left_15_white  text_font"><%=select_tag("installation_approval_status1", options_for_select(@approvalstatus.map{|x|[x]}),:class =>"contentCSPselptc" ,:disabled =>true)%></div>
		<div class="padding_top_5_clearboth"></div><br/>
		<div class="padding_left_15_white  text_font">					
			<input type="image" src="/images/Approve.png" id="btnapprove" class='approve' onclick = "ptcgeodb_approve()" name="imgConfirm" >
			<input type="image" src="/images/Exit.png" class='cancel' onclick="hide_approve();" name="imgCancel">
			<input type="image" src="/images/History.png"  class='history' onclick="get_history('Not Approved');" name="imgHistory" >
		</div>
	</div>
</div>
<div id="approval_history" class="padding_left_15_white  text_font"></div>
<div class="pad_left_10_pad_top_10"><input type="image" src="/images/back_arte.png" class='btnback' id="btnback" style="display:none;" onclick="open_approve_window();" name="btnback"></div>
<div class="config_panel">
	<div style="clear:both; padding-top:1px;">&nbsp;</div>
	<div class="validation_message"><%= flash[:ptcdatabasemessage] %></div>
</div>	