<%= javascript_include_tag  'approve_installation_name'%>
<div class="approve_installation_name_content">
	<%unless @validinstallationname.blank? %>
		<span class='approve_loader loader_spin'><%= image_tag("/images/big-spinner.gif") %></span>
		<div class="padding_top_5_space"></div>
		<div class="paddingleft_15"><label>Enter Approval CRC : </label></div>
		<div class="padding_top_5_space"></div>
		<div class="paddingleft_15"><%= text_field_tag "dig_installation_approval_crc", @approvelcrc, :class =>"contentCSPsel_ins_approve",:onchange=>"valudate_approvalcrc();", :disabled => false, :html=>{:style => "text-transform:capitalize"}%></div>
		<div class="padding_top_5_space"></div>
		<div class="paddingleft_15"><label>Approver : </label></div>
		<div class="padding_top_5_space"></div>
		<div class="paddingleft_15"><%= text_field_tag "dig_installation_approver_name", @approver, :class =>"contentCSPsel_ins_approve",:onchange=>"valudate_approvar();", :disabled => false, :html=>{:style => "text-transform:capitalize"}%></div>
		<div class="padding_top_5_space"></div>
		<div class="message_valid"><span id="dig_in_crc"></span></div>
		<input type="hidden" id="validinstallationname" name="validinstallationname" value = "<%= @validinstallationname %>" />
		<div class="padding_left_15_margin_5">
		    <button id="approve_installation" class='approve_installation width_70'>Ok</button>
			<button id="approve_installation_cancel"  class='cancel_approve width_70'>Cancel</button>
		</div>
	<%else%>
		<div>Please select installation name and try again.</div>
	<%end%>
</div>
