<%= javascript_include_tag "jquery.contextmenu" , "mcfextractor_contextmenu" , "jquery.treeview_site" , "mcfextractor" %>
<%= stylesheet_link_tag "jquery.contextMenu" , "jquery.treeview_site", "mcfextractor" %>
<input type="hidden" value="<%= session[:user_id] %>" id="hd_user_id" />
<% if session[:user_id].to_s == "oceadmin" %>
	<%chk_asp_files = check_aspectfile_iviuptcgeo%>
	<% if chk_asp_files.blank?%>
	    <input type="hidden" value="<%= session[:mantmasterdblocation] %>" id="hd_mastersatabase_location" />
		<div class="mcf1" id="mcf1">
		<div style="clear:both; padding-top:1px;">&nbsp;</div>
		    <div class="mcftree1 whitefont_12" id="mcftree1">
		    	<% unless @parent_count.blank? %>
		        	<%= display_mcftree(@parent_count) %>
				<%end%>
		    </div>
		    <div class="mcfcontent1" id="mcfcontent1">
		    	<%= render :partial=>'mcfparameters' %>	     
		    </div>
		</div>
	<%else%>
		<h2 class="inv_yellow">Information:</h2>
		<div class="display_information"><%=chk_asp_files%>&nbsp;<a href="/aspectlookup/index" class = "upload_config"></a></div>
	<%end%>
<% else %>
	<h2 class="inv_yellow">Information:</h2>
	<div class="display_information">You are not authorized person to this page.</div>
<% end %>