<!--
-----------------------------------------------------------------------------------------------------
History:
*    Rev 1.0   Jul 05 2013 17:00:00   Gopu
* Initial revision.
-----------------------------------------------------------------------------------------------------
-->

<div width = "100%">	
	<div style="float: left" id='alarm_select' width = "49%">
		<span>Select slot: </span>
		<%= select_tag('select_slot', options_for_select(@slotnums.each{|x| [x,x]}, @selected_slotnum), :class => 'contentCSPsel') %>			
	</div>	
	<div width = "49%" id = "alarm_select" class="cls_pagination alarm_diag"  valign = "middle">
		<%if (!@alarm_diagnostics.blank?)%>
			<%= will_paginate(@alarm_diagnostics, :params => { :controller => "logreplies", :action => "alarms" })%>
		<%end%>		
	</div>
</div>
<br>
<input type="hidden" name = 'hd_page' id = 'hd_page' value = "<%=@page_no%>"/>
<div id="alarms_list" style="width: 100%">
	<div id="logic_table_no_border" class="table_border">
		<table width=100% cellpadding='0' cellspacing="0" border='0'>
			<tbody>				
			<tr style="height: 25px;">
				<th id = "thDesc"> Date/Time </th>
				<th id = "thSlot"> Slot </th>
				<th id = "thDesc"> Description </th>
				<th id = "thCode"> Code </th>				
			</tr>
			<div id="u170_line" class="u170_line"><%=image_tag("/images/u170_line.png",:width =>"930px", :height => "1.5px")%></div>
			<div id="u170_line1" class="u170_line1"><%=image_tag("/images/u170_line.png",:width =>"930px", :height => "1.5px")%></div>
			<%
				@rowid = 0
			%>
			<%if (!@alarm_diagnostics.blank?)%>	
			<% @alarm_diagnostics.each do |dig| %>
			<%
				@rowid = @rowid + 1
			%>
				<tr id='<%=@rowid%>' style="height: 25px;" class="row_sel_style column-style <%= cycle("light-background", "dark-background")%>">
					<td align="center"  style="font-weight: normal">
						<%= Time.now()%>
					</td>
					
					<td align="center"  style="font-weight: normal">
						<%= dig[:slot]%>
					</td>
		
					<td align="center"  style="font-weight: normal">
						<%=dig[:info]%>
					</td>
					<td align="center"  style="font-weight: normal">
						<%= (!dig[:code].nil?) ? dig[:code] : "" %>
					</td>				
					<input type="hidden" name = 'hd_<%=@rowid%>' id = 'hd_<%=@rowid.to_s%>' value = "<%=dig[:cause_remedy]%>" />	
				</tr>
			<% end %>
			<%end%>	
			<%while(@rowid < 10) %>
				<tr id='<%=@rowid%>' style="height: 25px;" class="column-style <%= cycle("light-background", "dark-background")%>">				
					<td align="center"  style="font-weight: normal">&nbsp;	</td>
					<td align="center"  style="font-weight: normal">&nbsp; </td>
					<td align="center"  style="font-weight: normal">&nbsp; </td>
					<td align="center"  style="font-weight: normal">&nbsp; </td>
				</tr>
				<%@rowid = @rowid + 1 %>
			<%end%>		
			</tbody>
		</table>	
	</div>
</div>

<script type='text/javascript' >
	$(document).on("click", ".row_sel_style",function () {
        $('.row_sel_style').each(function(index, ele){
        	if(index%2 == 0){
        		$(ele).children().css({        			
                	"background-color": "#515151",
                	"color": "#FFF"
            	});         		
        	}else{
        		$(ele).children().css({        			
                	"background-color": "#424242",
                	"color": "#FFF"
            	}); 
        	}
        });
        $(this).children().css({
            "background-color": "#CFD638",
            "color": "#000"
        });
               
        sel_id = $(this).attr('id');
        if ($("#hd_" + sel_id).val().length > 0){
        	cause_remedy = $("#hd_" + sel_id).val().split('Remedy:');        
	        $("#alarm_cause").html(cause_remedy[0].replace("Cause:","").replace("<BR>","").replace(/^\s+|\s+$/g,""));
	        if(cause_remedy[1] != undefined){
	        	$("#alarm_remedy").html(cause_remedy[1].replace("<BR>","").replace(/^\s+|\s+$/g,""));
	        }
	        else{
	        	$("#alarm_remedy").html("");
	        }
        }
        else
        {
        	$("#alarm_cause").html("");
	        $("#alarm_remedy").html("");
        }        
        
        var div_height = $("#div_cause_remedy").height();
        var frm_height = 400 + div_height - 29;
		$("#contentcontents").css({'height': frm_height + 'px', 'min-height':'350px'});		
    });

	    
</script>
