<% unless @rows.blank? %>
<table cellspacing="0" cellpadding="0" border="0" class="logtable text_font" width="100%" style="color:#454545;">
  <thead>                                       
    <tr>      
      <th id ="timestamp" class="txtleft title sorting" width="200">
        <span class="text_font text_yellow">Time Stamp</span>
		<a href='javascript: void(0)'id="timestamp_img" class="imager" ><img src="/stylesheets/images/up.png"/></a>
      </th>
      <th id="card_and_slot" class="txtleft title sorting" width="80">
        <span class="text_font text_yellow">Card/Slot</span>
		<a href='javascript: void(0)'id="card_and_slot_img" class="imager" ><img src="/stylesheets/images/up.png"/></a>
      </th>
	  <% if @log_type_val.to_i == 2 %>
	   <th id='verbosity_level' class="txtleft title sorting" width="80">
        <span class="text_font text_yellow">Verbosity</span>
		<a href='javascript: void(0)'id="verbosity_level_img" class="imager" ><img src="/stylesheets/images/up.png"/></a>
       </th>
 	   <th id='entry_type' class="txtleft title sorting" width="80">
        <span class="text_font text_yellow">Event Type</span>
		<a href='javascript: void(0)'id="entry_type_img" class="imager" ><img src="/stylesheets/images/up.png"/></a>
       </th>
	  <% end %>                                                              
      <th id='entry_text' class="txtleft title sorting" width="400">
        <span class="text_font text_yellow">Event Text </span>
		<a href='javascript: void(0)'id="entry_text_img" class="imager" ><img src="/stylesheets/images/up.png"/></a>
      </th>
    </tr>
  </thead>
  <tbody class="text_font text_white"> 
    <% if(@rows) %>
	 <% for row in @rows  %>
      <tr>
        <td class="txtleft text_white">
          <span><%=convert_8_bit(row[:cell][0])%></span>
        </td>
        <td class="txtleft text_white">
          <span><%=convert_8_bit(row[:cell][1])%></span>
        </td>
		<% if @log_type_val.to_i == 2 %>
		<td class="txtleft text_white">
          <span><%=convert_8_bit row[:cell][3] %></span>
        </td>
		<td class="txtleft text_white">
          <span><%=sanitize (row[:cell][4])%></span>
        </td>
		<%end%>
        <td class="txtleft text_white">
          <span><%=convert_8_bit(row[:cell][2])%></span>
        </td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
  $('.logtable').flexigrid({width: "90%", height:'auto',striped:false});
</script>
<% end %>
