<%= javascript_include_tag "datevalidation" %>

<%unless @request_ids%>
  <% form_tag({:action => "download_all_logs"}, :id=>"logs", :name=>"results") do%>
    <div>
      <div style="color:#fff; width:100%" id="advanced_filter_options" class="paddingleft5 " >
        <div class="floatleft  padright_10">
            Start Date:
            <br/>
            <%= text_field_tag "start_date", Date.today.yesterday.strftime("%m/%d/%Y"), "index" => 4, "id"=>"datepicker2", :class=>"contentCSPselsmall2 datevalidate" %>
        </div>
        <div class="floatleft padright_10">
            Start Time:
            <br/>
            <%= select_time(Time.now, {:default => Time.now, :time_separator => ':', :include_seconds => true, :prefix => "start_time[begin]", :class=>"contentCSPselsmall"}) %>
        </div>
        <div class="clear"></div>
        <div class="floatleft padright_10">
            End Date:
            <br/>
            <%= text_field_tag "end_date", Date.today.strftime("%m/%d/%Y"), "index" => 14, "id"=>"datepicker", :class=>"contentCSPselsmall2 datevalidate" %>
        </div>
        <div class="floatleft padright_10">
            End Time:
            <br/>
            <%= select_time(Time.now, {:default => Time.now, :time_separator => ':', :include_seconds => true, :prefix => "end_time[begin]"}) %>
        </div>
        <div class="clear">&nbsp;&nbsp;&nbsp;</div>
        <div class="floatleft padleft_10  text_image download_icon">
          <%=link_to "download", "#", :onclick=>"javascript:document.forms[0].submit();" %>
        </div>
      </div>
    </div>

    <div class="clear"></div>
    
  <% end %>
  <script type="text/javascript">
    $("#datepicker, #datepicker2").datepicker({
        showOn: 'button',
        buttonImage: '../../images/calendar.gif',
        buttonImageOnly: true,
        dateFormat: "mm/dd/yy",
        changeYear:true
    }).attr('readonly', true);
  
  </script>
<% else %>
  <div width="90%" align=center><img src="/images/large-loading.gif" border=0/><br/><span class="menu_link_item">Downloading in progress. Please wait....</span></div>
  
  <script type="text/javascript">
    var req_ids = <%=@request_ids.to_json%>
    var t;
    function ongoing_downloads()
    {
      clearTimeout(t);
      t = setTimeout(function(){ 
       $.getJSON('/logreplies/download_logs_status', {}, function(json){
         if(json['status'] == true){
           for(var i=0; i < json['records'].length; i++){
             if (json['records'][i]['status'] == 2){
               do_download(json['records'][i]['type']);
             }
           }
           ongoing_downloads();
         }else{
           window.location.href = '/logreplies/download_all_logs'
         }
       });
      }, 5000);
    }
    
    function do_download(i){
      setTimeout(function(){window.location.href = '/logreplies/download_txtfile/'+i}, i*2000);
    }
    ongoing_downloads();
  </script>
<%end%>