<%= javascript_include_tag  'jquery.colorbox-min',"dropdownoptions" , "datevalidation" , "logreplies" %>
<%= stylesheet_link_tag 'colorbox' ,'dropdownoptions'%>
<div style="padding-top:5px;"></div>
<div class='contentbarwidth_logs text_font'>
    <div class="floatleft" style="margin-left:8px;">
        <select id="search_type" onchange="showdiv()" class="contentCSPselsmallverbo">
            <option value="basic">BASIC</option>
            <option value="advanced">ADVANCE</option>
            <option value="traceevents">TRACE</option>
        </select>&nbsp;
        <select id="log_filter" class="contentCSPselsmallverbo">
            <option value="">ALL</option>
            <option value="STAT">Status</option>
            <option value="SUMR">Summary</option>
            <option value="SDWN">Shutdown</option>
        </select>&nbsp;
    </div>
	<%= hidden_field_tag 'diag_log_type', params[:diaglog].blank? ? "" : params[:diaglog]  %>
    <%= hidden_field_tag 'log_type', @logtype.to_s %>

    <div class="floatleft padright_7  text_image first_icon logs" style="padding-top:1px;" title="Oldest events">
        <%= link_to "first",{:controller => "logreplies", :action => "udp_call",:cmd=>"1",:diag => params[:diaglog].blank? ? "" : params[:diaglog]} %>
    </div>
    <div class="floatleft padright_7  text_image prev_icon logs" style="padding-top:1px;" title="Previous events">
        <%= link_to "prev",{:controller => "logreplies", :action  => "udp_call",:cmd=>"2" ,:diag => params[:diaglog].blank? ? "" : params[:diaglog]} %>
    </div>
    <div class=" floatleft padright_7  text_image next_icon logs" style="padding-top:1px;" title="Next events">
        <%= link_to 'next',{:controller => "logreplies", :action  => "udp_call",:cmd=>"3" ,:diag => params[:diaglog].blank? ? "" : params[:diaglog]} %>
    </div>
    <div class=" floatleft padright_7  text_image last_icon logs" style="padding-top:1px;" title="Latest events">
        <%= link_to'last', {:controller => "logreplies", :action  => "udp_call",:cmd=>"4" ,:diag => params[:diaglog].blank? ? "" : params[:diaglog]} %>
    </div>

    <!-- D O W N L O A D   B U T T O N -->
    <div class="floatleft padright_10  text_image download_icon" rel="dropdownsubmenu">
      <a>download</a>
        <!-- D O W N L O A D   D R O P D O W N   M E N U -->
        <div id="dropdownsubmenu">
          <ul>
            <li class="log_dl_link dl_link_style disabled_link">
              Displayed
            </li>
            <li class="dl_link_sel dl_link_style" onclick="download_selected('range')">
              Last 24 hours
            </li>
            <li class="dl_link_style" onclick="download_selected('all')">
              All Events
            </li>
          </ul>
        </div>
    </div>
    <%= hidden_field_tag 'log_download_timeout', @log_download_timeout %>
	<%= hidden_field_tag 'current_event_count' %>
    <div class="floatleft" id="searchwrapper">
    </div>
    <div class="clear" style="padding-top:1px;">
    </div>
</div>
<div style="display:none; width:100%" id="advanced_filter_options" class="paddingleft5 text_font text_white">
    <div class="floatleft  padright_7">
        Start Date:
        <br/>
        <%= text_field_tag "timezone", Date.today, "index" => 4, "id"=>"datepicker2", :class=>"contentCSPselsmall2 datevalidate" %>
    </div>
    <div class="floatleft padright_7">
        Start Time:
        <br/>
        <%= select_time(Time.now, {:default => Time.now, :time_separator => ':', :include_seconds => true, :prefix => "start_time[begin]", :class=>"contentCSPselsmall"}) %>
    </div>
    <div class="floatleft padright_7">
        End Date:
        <br/>
        <%= text_field_tag "timezone", Date.today, "index" => 14, "id"=>"datepicker", :class=>"contentCSPselsmall2 datevalidate" %>
    </div>
    <div class="floatleft padright_7">
        End Time:
        <br/>
        <%= select_time(Time.now, {:default => Time.now, :time_separator => ':', :include_seconds => true, :prefix => "end_time[begin]"}) %>
    </div>
    <div class="floatleft padright_7" style="padding:12px 0 0 15px;">
        <%= link_to(image_tag("/images/set_filter.png", :alt => "Set Filter", :border => "0"), "javascript:void(0)", :class => "set_filter", :title => filter_title) %>
    </div>
    <div class="clear">
    </div>
</div>
<div id="searchbox" class='sDiv2' style="display:none">
  <form name="searchbox" action="#" onsubmit="javascript:return false;" method="post">
    <span class="deleteicon">
      <%= text_field_tag "dup_q", "", :class=>"searchbox", :size=>15%>
      <span id='clear_button' style="display:none"></span>
    </span>
    <select id="search_on" class="contentCSPselsmallverbo">
     	<option value="entry_text">Event Text</option>
        <option value="card_and_slot">Card/Slot</option>
    	<option value="timestamp">Time Stamp</option>
  	</select>
    <input type="submit" value="" style="display:none"/>
  </form>
</div>
<%= hidden_field_tag 'yesterday_date', Date.yesterday.strftime('%m/%d/%Y') %>
<%= hidden_field_tag 'today_date', Date.today.strftime('%m/%d/%Y') %>
<%= hidden_field_tag 'log_type_id', (params[:id] || params[:log_type_id]) %>
<%= hidden_field_tag 'current_request_id', 0 %>
<%= hidden_field_tag 'valid_start_date', Date.yesterday.strftime('%m/%d/%Y') %>
<%= hidden_field_tag 'valid_end_date', Date.today.strftime('%m/%d/%Y') %>
<div class="clear"></div>
<div id='all_event_count' class="text_font" style="padding-left:5px;"></div>
<div id='log_updater' class="text_font"></div>
<div id="log_update" class="text_font">
	<%= render :partial=>'event_details' %>
</div>
