<div class="set_filter_form">
	<% form_for(@filter, :url => "/logreplies/apply_filter") do |f| %>
		<span id='flash_message'></span>
		<table id='mytable' class='filter_table' cellspacing="0" cellpadding="0" border="0" style="margin-top:25px;padding-left:0px;">
			<tr>
				<th class="title" style="width:100px">Field<span>*</span></th>
				<th class="title" style="width:110px">Operation<span>*</span></th>
				<th class="title" style="width:100px">Text<span>*</span></th>
				<th class="title" style="width:100px">Logic<span>*</span></th>
				<th class="title" style="width:80px"><%= link_to(image_tag("/images/Add-mouse-over.png"), "javascript:void(0);", :class => "add_row") %></th>
			</tr>
			<% unless @filters.blank? %>
				<% @filters.each do |filter| %>
					<span><%= f.hidden_field :filter_id, :value => filter.filter_id, :name => (filter.filter_id.to_s + "_log_filter[filter_id]") %></span>
					<%= render :partial => "/logreplies/filter_rows", :locals => {:filter => filter, :f => f} %>
				<% end %>		
			<% else %>
				<%= render :partial => "/logreplies/filter_rows", :locals => {:filter => nil, :f => f} %>
			<% end %>
		</table>
		<div style="margin-top:10px;"><%= f.submit "Submit" %></div>
	<% end %>
</div>

<%#= javascript_include_tag 'jquery.min', 'jquery.colorbox-min', 'jquery.loadmask' %>
<%= stylesheet_link_tag 'content','set_filter' %>
