<%= javascript_include_tag 'trace_events' %>
<div class="padding_top_2"></div>
<div class='contentactionbar content_bar_small_width'>
  <div class="floatleft padright_10  text_image back_icon logs padding_left_10 padding_top_2" id="back_icon">
  	<%=link_to 'cancel', "javascript:void(0)" %>
  </div>
  <div class="floatleft padright_10  text_image clear_icon logs padding_top_2" id="clear_icon">
  	<%=link_to 'clear', "javascript:void(0)" %>
  </div>
  <div class="floatleft padright_10  text_image start_icon logs padding_top_2" id="start_icon">
    <%=link_to 'start', "javascript:void(0)" %>
  </div>
  <div class="floatleft padright_10  text_image stop_icon logs padding_top_2" id="stop_icon">
    <%=link_to 'stop', "javascript:void(0)" %>
  </div>
</div>
<div id="wrapper">
  <%= hidden_field_tag 'log_request_id', request_id %>
  <%= hidden_field_tag 'log_type_id', params[:id] %>
  <%= hidden_field_tag 'periodic_call_flag', true %>  
</div>
<div id="log_updater" width="90%" style="padding-top:20px;" align="center" class="text_font text_white">Tracing, waiting for events...</div>
<div id="log_update" style="display:none">
  <%= render :partial=>'event_details' %>
</div>
