<%
	if track['data'] && track['data'][1] && track['data'][1]['LineAnalog']
		lineAnalog = track['data'][1]['LineAnalog']

		if lineAnalog['vco'] && lineAnalog['vco']['track_values'] && lineAnalog['vco']['track_params']
			vco = lineAnalog['vco']
			tx_current = vco['track_values']['current']
			tx_voltage = vco['track_values']['voltage']
			tx_1 = vco['track_params']["track1"]
			tx_2 = vco['track_params']["track2"]
			tx_3 = vco['track_params']["track3"]
			tx_4 = vco['track_params']["track4"]
		else
			tx_current=tx_voltage=tx_1=tx_2=tx_3=tx_4 = ''
		end

		if lineAnalog['vti'] && lineAnalog['vti']['track_params']
			vti = lineAnalog['vti']
			rx_current = vti['current']
			rx_1 = vti['track_params']["track1"]
			rx_2 = vti['track_params']["track2"]
			rx_3 = vti['track_params']["track3"]
			rx_4 = vti['track_params']["track4"]
		else
			rx_current=rx_1=rx_2=rx_3=rx_4 = ''
		end
	elsif track['data'] && track['data'][0] && track['data'][0]['Code']
		code = track['data'][0]['Code']

		if code['vco'] && code['vco']['track_values'] && code['vco']['track_params']
			vco = code['vco']
			tx_current = vco['track_values']['current']
			tx_voltage = vco['track_values']['voltage']
			tx_1 = vco['track_params']["track1"]
			tx_2 = vco['track_params']["track2"]
			tx_3 = vco['track_params']["track3"]
			tx_4 = vco['track_params']["track4"]
		else
			tx_current=tx_voltage=tx_1=tx_2=tx_3=tx_4 = ''
		end

		if code['Vti'] && code['Vti']['track_params']
			vti = code['Vti']
			rx_current = vti['current']
			rx_1 = vti['track_params']["track1"]
			rx_2 = vti['track_params']["track2"]
			rx_3 = vti['track_params']["track3"]
			rx_4 = vti['track_params']["track4"]
		else
			rx_current=rx_1=rx_2=rx_3=rx_4 = ''
		end
	else
		tx_current=tx_voltage=tx_1=tx_2=tx_3=tx_4 = ''
		rx_current=rx_1=rx_2=rx_3=rx_4 = ''
	end
%>
<div class="track_table">
	<table>
		<tr><td>Tx</td><td class="tx_params"><table><tr><td><%=tx_1%></td><td><%=tx_2%></td><td><%=tx_3%></td><td><%=tx_4%></td></tr></table></td></tr>
		<tr class="even"><td>Tx Voltage</td><td class="tx_voltage_value"><%=tx_voltage.to_s%></td></tr>
		<tr><td>Tx Current</td><td class="tx_current_value"><%=tx_current.to_s%></td></tr>
		<tr class="even"><td>Rx</td><td class="rx_params"><table><tr><td><%=rx_1%></td><td><%=rx_2%></td><td><%=rx_3%></td><td><%=rx_4%></td></tr></table></td></tr>
		<tr><td>Rx Current</td><td class="rx_current_value"><%=rx_current.to_s%></td></tr>
	</table>
</div>