<%=javascript_include_tag 'toolbar.js',"setup.js"%>
<%= stylesheet_link_tag 'setup.css'%>
<input type="hidden" class="setup_type" value="lamps"/>
<div class="lamp_container_wrapper">
	<input type="hidden" class="atcs_address" value="<%=@atcs_address%>"/>
	<input type="hidden" class="mcfcrc" value="<%=@gwe.mcfcrc%>"/>
	<input type="hidden" class="card_type" value="<%=@view_type%>"/> 
	<input type="hidden" class="view_type" value="<%=@view_type%>"/> 
<%
	if @msg == nil || @msg == ''

		@tracks.each do |track| 

			track_name = track[0]
			lamp_index = 1
			health = (track[1][0] == 'active' ? 'green' : 'red')
			slot_no = track[1][1]
			card_index = track[1][2] 

		%>

			<div class="card_warpper <%=(lamp_index % 2 == 0 ? 'card_new_row' : '')%>" lamp="<%=slot_no%>" slot_no="<%=slot_no.to_s%>">
				<input type="hidden" id="card_index" value="<%=card_index%>"/>
				<div class="card_title"><%=track_name%></div>
				<div class="card_status"><img src="images/led/<%=health%>.png"></div>
				<div class="card_feedback_wrapper"><div class="lamp_feedback"></div></div>
		<%

			@parameter_names.each do |parameter_name|

				param_info = Parameter.find(:first,:conditions => ['cardindex = ? and parameter_type = ? and name = ?',card_index,2,parameter_name])
				integertypes_info  = Integertype.find(:first, :conditions => ['int_type_name = ?',param_info[:int_type_name]])
		%>
			
				<div class="card_input_row">
					<div class="card_input_title"><%=param_info[:param_long_name]%></div>
					<div class="card_input"><input type="text" id="<%=parameter_name%>" scale="<%=integertypes_info[:scale_factor]%>" min="<%=integertypes_info[:lower_bound]%>" max="<%=integertypes_info[:upper_bound]%>"/></div>
					<div class="card_save_button"><img src="images/savemouseover.png"/></div>
				</div>
		<%

			end

		%>
				<div class="lamp_table">
					<table class="vlo_table">
					<%
						track[2..7].each do |t|
							channel_name = t[1]
							channel_status = (t[2]['lamp_status'] != nil ? t[2]['lamp_status'] : t[2]['status'])
							channel_led = t[2]['lamp_image']
					%>
						<tr>
							<td><%=channel_name%></td>
							<td class="vlo1_value"><img class="lamp_led" src="<%=channel_led%>"/><span><%=channel_status%></span></td>
						</tr>
					<% 
						end
					%>
					</table>
				</div>
			</div>
		<% 
			lamp_index += 1
		end 
	else
		concat @msg 
	end
%>
</div>