        <div id="all" height="100%" style="z-index: 1">
            <div style="position: absolute; top:29px; right:30px; left:20px; bottom:30px">
                <table border=0 width="100%">
                    <tr>
                        <td>
                            <% cache("landing_header") do %>
                            <table border=0 width="100%">
                                <tr>
                                    <td class="toplogo">
                                        <img src="images/siemens-logo.gif"/>
                                    </td>
                                    <td>
                                        <table width="100%">
                                            <tr>
                                                <td>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="height: 5px">
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                            <% end %>
                        </td>
                    </tr>
                    <tr>
                        <td height="100">
                           &nbsp;
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table cellspacing=0 cellpadding=0 width="100%" style="border:0px #FFFFF solid;">
                                <tr height=2>
                                    <td width=80>
                                    </td>
                                    <td width=8>
                                    </td>
                                    <td>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="3" align="center">
                                    	<% image_url = "" %>
										<% if PRODUCT_TYPE == PRODUCT_TYPE_GEO_OCE %>
											<% image_url = '/images/login_bg_oce.png' %>
										<% else %>
											<% image_url = '/images/login_bg_geo.png' %>
										<% end %>
                   							<table cellspacing=0 cellpadding=0 width="100%" style="background-repeat : no-repeat; background-image: url('<%= image_url %>'); border:0px #ffffff solid;" >
                                                    <tr>
                                                        <td style="padding-left:98px; padding-top:75px;">
                                                                <% form_tag(login_path) do %>
                                                                    <table style="border:0px #ffffff solid;" cellspacing="3">
                                                                    <tr><td class="leftnav" colspan="2">&nbsp;<!--<span class="errormesgred" id="errormesgred"><%=params[:error]%></span>--></td></tr>
                                                                    <tr><td class="leftnav headertitle" width="93px">User Name :</td>
                                                                        <% if PRODUCT_TYPE == PRODUCT_TYPE_GEO_WEBUI %>
	                                                                           <td><%= select_tag("selectedusername", "<option  selected=\"selected\">Admin</option>", :class => "contentCSPselusername")%></td>
                                                                        <% else %>
                                                                            <td>
                                                                                <select id="selectedusername" name="selectedusername" class="contentCSPselusername">
                                                                                   <option  <%=(params[:selectedusername]=='admin' ? 'selected="selected"' : '')%>>admin</option>
                                                                        	       <%=(OCE_ADMIN == 1 ? '<option '+(params[:selectedusername]!='admin' ? 'selected="selected"' : '')+'>oceadmin</option></td>' : '')%>
                                                                                </select>
                                                                            </td>
                                                                        <% end %>
                                                                    </tr>
                                                                    <tr><td class="leftnav admintext" colspan="2"></td></tr>
                                                                    <tr>
                                                                    	<td class="leftnav"><span class="headertitle">Password :</span></td>
																		<td>
																			<input type="password" size="30" name="password" id="password" class="passwordfield leftnav admintext">
																		</td>
																	</tr>
                                                                    <tr><td></td><td class="loginbtn" colspan="2"><%= image_submit_tag("login_user.png")%></td></tr>
                                                                    <tr><td colspan="2">&nbsp;<span class="error_message" id="errormesgred" style="font-size:11px;"><%= flash[:notice] %></span></td></tr>
                                                                    </table>
                                                                <% end %>
                                                        </td>
                                                        <td id="content" class="content">
                                                                <table style="border:0px #ffffff solid;">
                                                                    <tr><td>
                                                                    <table cellspacing=0 cellpadding=0 >
                                                                        <tr><td id="contentareahdr" class="contentareahdr">&nbsp;</td></tr>
                                                                        <tr><td height="0px"></td></tr>
                                                                        <tr><td id="contenttabs" >&nbsp;</td></tr>
                                                                        <tr><td id="loginbg" class="loginbg">&nbsp;</td></tr>
                                                                    </table>
                                                                    </td></tr>
                                                                </table>
                                                        </td>
													</tr>
                                            </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <% cache("landing_footer") do %>
                            <table class="copyright_wrapper">
                                <tr>
                                    <td class="copyrighttxt">
                                      <p id ="version_text_left">
                                        &copy; Copyright 2015 Siemens. All rights reserved.
                                      </p>
                                      <p id ="version_text_right">
                                      </p>
                                    </td>
                                </tr>
                            </table>
                            <% end %>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <%#end%>

