<%= stylesheet_link_tag 'versionreport'%>
<%= javascript_include_tag "versionreport"%>
<div class='contentactionbar content_bar_small_width'>
  <div class="floatleft downloadCS">
    <%= link_to(image_tag('/images/create.png'),"javascript:void(0)", :id => "create_report" , :name => "create_report") %>
  </div>
  <div class="floatleft downloadCS">
    <%= link_to(image_tag('/images/Downloadmouseover.png'),"javascript:void(0)", :id => "download_report" , :name => "download_report") %>
  </div>
</div>
<input type="hidden" id="report_type" value= <%=@selected_report_type.to_i %> />
<div class="paddingtop_10"></div>
<div id='report_status_msg' style="display:none;" class="report_status_msg">
  <p>Report Progress:</p>
</div>
<div id="progressbar" style="display:none;">
    <div id="indicator"></div>
</div>
<div style="float:none;"><p>&nbsp</p></div>
<div id="report_update" class="reportcontentCS">
  <%= render :partial=>'report' %>
</div>
