<table cellspacing="0" cellpadding="0" border="0" class="statstable" width="100%" class="logtable" style="color:#454545;">
  <thead>
    <tr>
      <th class="title" width="100"> <span style="color:#CFD631;font-size:12px;">Device</span> </th>
      <th class="title" width="100"> <span style="color:#CFD631;font-size:12px;">Out Of Order</span> </th>
      <th class="title" width="100"> <span style="color:#CFD631;font-size:12px;">Lost Sessions</span> </th>
      <th class="title" width="200"> <span style="color:#CFD631;font-size:12px;">Indication Msgs Transmitted</span> </th>
      <th class="title" width="100"> <span style="color:#CFD631;font-size:12px;">Recall Msgs Rx</span> </th>
      <th class="title" width="100"> <span style="color:#CFD631;font-size:12px;">Control Msgs Rx</span> </th>
    </tr>
  </thead>
  <tbody>
    <%
    if(@cards)
      card_num = 1
      for card in @cards
      %>
      <tr>
        <td class="txtleft"> <span style="color:#fff"><%= card_num %></span> </td>
        <td class="txtleft"> <span style="color:#fff"><%= card.out_of_order %></span> </td>
        <td class="txtleft"> <span style="color:#fff"><%= card.lost_sessions %></span> </td>
        <td class="txtleft"> <span style="color:#fff"><%= card.indication_msgs_transmitted %></span> </td>
        <td class="txtleft"> <span style="color:#fff"><%= card.recall_msgs_recvd %></span> </td>
        <td class="txtleft"> <span style="color:#fff"><%= card.control_msgs_recvd %></span> </td>
      </tr>
      <%
      card_num += 1
      end
    end
    %>
  </tbody>
</table>

<script type="text/javascript">
  $('.statstable').flexigrid({width: "90%", height:'auto',striped:false});
</script>