<%=javascript_include_tag 'toolbar.js', 'hd_linker.js','programming.js','build_generic_programming.js'%>
<%= stylesheet_link_tag 'v_config.css'%>
<%  toolbar_options = { 'unlock' => 'unlock.png', 'v_save' => 'savemouseover.png', 'v_refresh' => 'refresh_mouse_over.png'}%>
<%
page_name = params[:page_name]
unless page_name.nil?
	if page_name.downcase.index('vital comms link') != nil && page_name.downcase.index('3') == nil && page_name.downcase.index('4') == nil
		toolbar_options["hd_linker"] = "hd_mcf.png"
	end
 end
%>
	<%= GenericHelper.toolbar(toolbar_options,'unlock')%>
<div class="v_config_wrapper">
	<div class="v_config_generic_wrapper">
		<input type="hidden" class="user_presence" value="<%=@user_presence%>"/>
		<input type="hidden" class="verify_screen" value="<%=@verify_screen%>"/>
		<input type="hidden" name="page_name" id="page_name" value="<%= params[:page_name]%>" />
		<input type="hidden" name="menu_link" id="menu_link" value="<%= params[:menu_link]%>" />
		<input type="hidden" name="atcs_address" id="atcs_address" value="<%= @atcs_address %>" />		
		<div class="message_container">&nbsp;<span class="success_message"><%=(params[:unlock] == 'true' ? 'Unlock Successful. System is in edit mode now.' : '')%></span>
			<div class='v_force_update' style='cursor: pointer; float: right; width: auto;'></div>
		</div>
		<% if !params[:setup_wizard].nil? %>
			<input type="hidden" id="previous_page_name" value="<%= @sel_template.prev if @sel_template %>" />
			<input type="hidden" id="next_page_name" value="<%= @sel_template.next if @sel_template %>" />
			<input type="hidden" id="setup_wizard" value="true" />
		<% end %>
		<%= build_parameters %>
		<input type="hidden" name="card_index" id="card_index" value="<%= @card_index %>" />
	</div>
</div>

<% if !@tabs.blank? %>
	<script type="text/javascript">
	    var content_tabs = window.parent.document.getElementById('contenttabs')
	    var menus = "<%= escape_javascript(render('tabs')) %>"
	    jQuery(content_tabs).html(menus).css('height', '34px');
	</script>
<% elsif params[:track_setup].blank?%>
	<script type="text/javascript">
	    var content_tabs = window.parent.document.getElementById('contenttabs')
	    var menus = ""
	    jQuery(content_tabs).html(menus);
	</script>
<% elsif !params[:track_setup].blank? %>
	<script type="text/javascript">	
		var content_tabs = window.parent.document.getElementById('contenttabs')
	    var menus = "<%= escape_javascript(render('layouts/menus')) %>"
	    jQuery(content_tabs).html(menus).css('height', '34px');
	</script>
<% end %>

<script type='text/javascript'>
	$(document).ready(function(){
		
		<%if !@page.blank?%>
			var page_name =  "<%= @page.page_name %>";
			var content_tabs = jQuery(".track_menu_link", window.parent.document);
				
			$.each(content_tabs, function(i, ele){
				if($(ele).attr('page_name') == page_name && !$(ele).hasClass('disabled')){
					$(ele).css('background-image', 'url(../images/Tab_selected.png)');
		   	  		$(ele).addClass('contenttabH').addClass('contenttabD');
				}
				else
				{
					$(ele).removeClass('contenttabH').removeClass('contenttabD');
		   	  		$(ele).css('background-image', 'url(../images/Tab.png)');
				}
			});
		<%end%>
			
		$(".track_menu_link").w_click(function(){
			url = "programming/page_parameters?menu_link=" + $(this).attr('page_name') + "&page_name=" + $(this).attr('page_name')
			load_page("",url);
			$(this).css('background-image', 'url(../images/Tab_selected.png)');
		   	$(this).addClass('contenttabH').addClass('contenttabD');	
			
			
		});
		$(".track_menu_link").mouseover(function(){
			$(this).css('background-image', 'url(../images/Tab_selected.png)');
		});
		
		$(".track_menu_link").mouseout(function(){
			<%if !@page.blank?%>
				var page_name =  "<%= @page.page_name %>";
				if($(this).attr('page_name') == page_name){
					$(this).css('background-image', 'url(../images/Tab_selected.png)');
				}
				else{
					$(this).css('background-image', 'url(../images/Tab.png)');
				}
			<%end%>
		});
		
		
	});	
</script>