<!--*********************************************************************************
  File name    : _sio_statistics.html.erb

  Description  : This view is used to display the SIO statistics fields(Bad STO Packets, SIO Tx Packets, Sto Rx Packets
  				 SPI TX Q Full Count and SPI RX Q FUll Count)

  Project Name : iVIU - WebUI Project

  Copyright    : Safetran Systems Corporation, U.S.A. 
                     Research and Development

  Author       : Cognizant Technology Solutions

*********************************************************************************-->
<div>
<table cellspacing="0" cellpadding="0" border="0" class="logtable">
	<thead>
		<tr>
			<th class="title" width="400" style="color:#CFD631;font-size:12px;">SIO Statistics
			</th>
			<th class="title" width="100" style="color:#CFD631;font-size:12px;">Value
			</th>		
		</tr>
	</thead>
	<tbody>
	<% records_found = true
	   unless statistic.bad_sio_pkt_cnt.blank? && statistic.sio_tx_pkt_cnt.blank? && statistic.sio_rx_pkt_cnt.blank? && statistic.spi_tx_q_full_cnt.blank? && statistic.spi_rx_q_full_cnt.blank?%>
		<tr>
			<td class="txtleft">&nbsp;</td>
			<td class="txtleft">&nbsp;</td>		
		</tr>
		<tr>
			<td class="txtleft">Bad SIO Packets</td>
			<td class="txtleft"><%= statistic.bad_sio_pkt_cnt %></td>		
		</tr>
		<tr>
			<td class="txtleft">SIO Tx Packets</td>
			<td class="txtleft"><%= statistic.sio_tx_pkt_cnt %></td>		
		</tr>
		<tr>
			<td class="txtleft">SIO Rx Packets</td>
			<td class="txtleft"><%= statistic.sio_rx_pkt_cnt %></td>		
		</tr>
		<tr>
			<td class="txtleft">SPI Tx Q Full Count</td>
			<td class="txtleft"><%= statistic.spi_tx_q_full_cnt %></td>		
		</tr>
		<tr>
			<td class="txtleft">SPI Rx Q Full Count</td>
			<td class="txtleft"><%= statistic.spi_rx_q_full_cnt %></td>		
		</tr>
	<% else
		records_found = false
	   end %>
	</tbody>
</table>
</div>
<% if !records_found %>
	<div class='contentCSPlabel' style="padding:50px; text-align:center;">No device data found.</div>
<% end %>
<%= hidden_field_tag 'request_id', request_id %>

<script type="text/javascript">
  $(document).ready(function () {
  	$('.logtable').flexigrid({width: "90%", height:'auto',striped:false})
  });
</script>

