<!--*********************************************************************************
  File name    : _time_statistics.html.erb

  Description  : This view is used to display the Time Statistics fields(Min, Max and Mean). 

  Project Name : iVIU - WebUI Project

  Copyright    : Safetran Systems Corporation, U.S.A. 
                     Research and Development

  Author       : Cognizant Technology Solutions

*********************************************************************************-->
<div>
<table cellspacing="0" cellpadding="0" width="100%" border="0" class="logtable" style="color:#454545">
	<thead>                                       
		<tr>
			<th class="title" width="150" style="color:#CFD631;font-size:12px;">Time</th>
		    <th class="title" width="150" style="color:#CFD631;font-size:12px;">Min</th>                                
		    <th class="title" width="150" style="color:#CFD631;font-size:12px;">Max</th>
		    <th class="title" width="150" style="color:#CFD631;font-size:12px;">Mean</th>                                                                                    
		</tr>
	</thead>
	<tbody>
	<% records_found = true
	   unless @card_infos.blank?%>	
		<tr>                                                 
			<td class="txtleft">&nbsp;</td>
			<td class="txtleft">&nbsp;</td>
			<td class="txtleft">&nbsp;</td>                                                  
			<td class="txtleft">&nbsp;</td>               
		</tr>
		<% counter = 1 %>
		<% for cardinfo in @card_infos %>
			<tr>
			    <td class="txtleft"><%= counter %></td>
			    <td class="txtleft"><%= cardinfo.min %></td>
			    <td class="txtleft"><%= cardinfo.max %></td>
			    <td class="txtleft"><%= cardinfo.mean %></td>
			</tr>
			<% counter += 1 %>
		<%end%>
	<% else
		records_found = false
	   end %>	
	</tbody>
</table>
</div>
<% if !records_found %>
	<div class='contentCSPlabel' style="padding:50px; text-align:center;">No device data found.</div>
<% end %>
<%= hidden_field_tag 'request_id', request_id %>

<script type="text/javascript">
  	$('.logtable').flexigrid({height:'auto', striped:false});
</script>
