<%= javascript_include_tag "system_state"%>
<%= stylesheet_link_tag "system_state"%>
<div class='contentactionbar contentbarwidth' style="width:100%;">    
	<div class="floatleft" style="margin: 4px 0 0 20px;width:220px;">
		<div style="float:left;width:30%;">
			<%= link_to(image_tag("/images/system_state_get.png", :border => 0), "javascript:void(0);", :class => "get_properties disabled_buttons", :disabled => "disabled", :style => "display:none") %>	
		</div>
		<div style="float:left;width:30%;">
			<%= link_to(image_tag("/images/system_state_select.png", :border => 0), "javascript:void(0);", :class => "set_properties disabled_buttons", :disabled => "disabled", :style => "display:none") %>	
		</div>		
		<div class="floatleft" style="float:left;width:30%;">
			<%= link_to(image_tag("/images/Downloadmouseover.png", :border => 0), "javascript:void(0);", :id => "download_logicstates", :class => "download_properties disabled_buttons", :disabled => "disabled", :style => "display:none") %>
        </div>
		<%= hidden_field "system_state", "name" %>
		<%= hidden_field "system_state", "parent_name" %>
		<%= hidden_field "system_state", "sat_index" %>
		<%= hidden_field "system_state", "req_id" %>
		<input type="hidden" id="atcs_addr" value="<%= @atcs_addr %>">
	</div>
</div>
<iframe id="download_iframe" name="download_iframe" style="display: none;"></iframe>
<div class="mcf" id="mcf"></div>
