<% @expression_structure = {} %>
<% @main_menu['ROOT'].each_with_index do |menu, index| %>
	<% if menu.menu_name != '[Line]' && eval_expression(menu.show) %>
		<% if (!session[:typeOfSystem].blank? && (session[:typeOfSystem].to_s == "GCP") && (PRODUCT_TYPE == PRODUCT_TYPE_GEO_OCE)) %>
			<% page_href = url_for(:controller => "gcp_programming", :action => "page_parameters", :page_name => menu.menu_name, :menu_link => menu.link) %>
			<li class="leftnavtext_U <%= 'disable' if !eval_expression(menu.enable) %>" page_href = "<%=page_href%>">
				<span page_name='<%= menu.menu_name %>' menu_link='<%= menu.link %>' class='v_config_menu_item'>
					<%= menu.menu_name.strip.gsub(/^[0-9]*/, '') %>
				</span>
			</li>
		<%end%>
	<% end %>
<% end unless @main_menu.blank? %>
