<script type="text/javascript" src="/javascripts/basic_config.js"></script>

<style type="text/css">
    <!--
	#basic_cfg_track1_setParam {
	    display: none;
	}
    -->
</style>

<script>
 
</script>

<div class='right_content1' id="dycontent">
<%= render 'layouts/partials/basic_config_logs_header' %>
<div id="basic_cfg_track1">
  <input type="hidden" name="tempObjVal" id="tempObjVal" value="" />

<% count_var =0 %>
<% temp_array=[]
%>

 <% if @pageParams %>
  <% @pageParams.each do |v| %>
   <% if @show_enable[count_var] 
      if @show_enable[count_var][:show_status]==true
   %>
      <% temp_str="\n" %>
 
      <div  class="text_deco">
        <% temp_str=temp_str+v.parameter_name %>
          <span>
            <% if v[:menu_name]!="(NULL)" %><%= v[:menu_name] %><% else  %><%="#{v.parameter[0].param_long_name}"%><%  end %>
          </span>
                          <% if @show_enable[count_var][:enable_status]==false %>
                              <span style="color:green;float: right;margin-right: 10px">
				 <%
                                    temp_card_index = v.card_index
                                   
                                %>
                                <a id="<%=v.parameter_name%>" href="#"  onclick="ChangeWindow('<%=v.parameter_name%>','<%=v.parameter_name%>','<%=v.parameter_type%>','<%=temp_card_index%>','<%=v.parameter_index%>','<%=v.param_long_name%>','<%=v.page_name%>','','<%=v.data_type%>','<%=count_var%>','<%=v.parameter_name%>')"  style="text-decoration:none"> <%=@curvalarray1[count_var]%></a>
                              </span>
                            <% else %>
                              <span style="color:grey;float: right;margin-right: 10px">
                                    <%=@curvalarray1[count_var]%>
                              </span>
                          <% end %>
      </div>
 
      <% end  end %>
      <% count_var = count_var+1 %>
  <% end %>
  <% session[:page_parameters]=temp_array %>
<br></br>

<% if params[:id]!=nil && params[:page]!=nil %>
      <div id="jqueryLink">
          <a href="../../../gcp_programming/feeders/<%="#{params[:id]}"%>" style="text-decoration: none;" class='menu_link_item'><u>Back</u></a>
        </div>
<% end %>
<% end %>
</div>

<div id="basic_cfg_track1_setParam">
      <%= render 'layouts/partials/update_values' %>
</div>

</div>