<%=javascript_include_tag 'toolbar.js', 'hd_linker.js','gcp_programming.js', 'gcp_programming_page_parameters.js'%>
<%= stylesheet_link_tag 'v_config.css','gcp_programming_page_parameters.css'%>
<% page_name = (params[:page_name] || params[:menu_link]) %>
<div id="site_content" class="site_content" style="margin-top:15px;float: left;width:100%;">
    <% 	
		if !params[:setup_wizard].blank?
			action_buttons = ["save", "unlock"]
		else
			action_buttons = ["unlock", "save"]
		end
        if (PRODUCT_TYPE == PRODUCT_TYPE_GEO_OCE)
		   action_buttons = ["save", "discard", "prev", "next"]
        else
           action_buttons = ["unlock", "prev", "next"]
        end
		prev_link, prev_link = "", ""
		next_link_disable = false
		if @gcp_4000_version && @page && !@page.prev.blank?
			action_buttons << ["prev"]
			prev_link = @page.prev 
		end
		if @gcp_4000_version && @page && !@page.next.blank?
			action_buttons << ["next"]
			next_link = @page.next
			next_link_disable = true if params[:menu_link] == "TEMPLATE:  selection" && get_page(next_link).nil?
		end
      unless page_name.nil?
		if page_name.downcase.index('vital comms link') != nil && page_name[page_name.length-1].match(/^(\d)+$/)
			action_buttons << "hd_linker"
		end
     end
	%>
	<% if @gcp_4000_version %>
		<input type="hidden" id="gcp_4k" value="true" /> 
	<% end %>
	<%= render :partial => "layouts/partials/action_buttons", :locals => { :buttons => action_buttons, :css_class => "content_bar_calib_width", :prev_link => prev_link, :next_link => next_link} %>
    <div style="display:none;padding:10px 5px 0px 5px" id="response_message">
    </div>
	<span class='mcf_version' style='display:none;'><%= @gcp_4000_version %></span>
	<% if params[:track_setup].blank? %>
		<% if @gcp_4000_version %>
		    <div class='page_header'>
		        <% if @page && !@page.alt_prev.blank? %><span class='left_arrow'><%= link_to(image_tag('/images/u191_normal.png'), 'javascript:', :page_href => "/gcp_programming/page_parameters?menu_link=#{@page.alt_prev}&page_type=alt_prev", :id => 'internal_links', :class => 'navigation') %></span><% end %>
				<span id='page_header' name="<%= params[:menu_link] %>"><%= params[:menu_link] %></span>
				<% if @page && !@page.alt_next.blank? %><span class='right_arrow'><%= link_to(image_tag('/images/u193_normal.png'), 'javascript:', :page_href => "/gcp_programming/page_parameters?menu_link=#{@page.alt_next}&page_type=alt_next", :id => 'internal_links', :class => 'navigation') %></span><% end %>
		    </div>
		<% else %>
			<div class='page_header'><span id='page_header' name="<%= page_name %>"><%= page_name %></span></div>
		<% end %>
	<% else %>
		<div class='page_header'><span id='page_header'><%= params[:menu_link] %></span></div>
	<% end %>
    <div id="basic_site" class="l_port">
        <div id='contentdata' class='programming_parameters'>
            <%= render('form') %>
		</div>
    </div>
<input type="hidden" id="ui_state" value="<%= @ui_state if @ui_state %>" />
<input type="hidden" id="menu_link" value="<%= params[:menu_link] %>" />
<input type="hidden" id="page_name" value="<%= page_name %>" />
<input type="hidden" id="track_setup" value="<%= params[:track_setup] %>" />
<input type="hidden" id="parameters" value="true" if @parameters/>
<input type="hidden" id="next_link_disable" value="<%= next_link_disable if next_link_disable %>" />

</div>
<% if !params[:setup_wizard].blank? %>
	<input type="hidden" id="previous_page_name" value="<%= @sel_template.prev if @sel_template %>" />
	<input type="hidden" id="next_page_name" value="<%= @sel_template.next if @sel_template %>" />
	<input type="hidden" id="setup_wizard" value="true" />
<% end %>

<% if !@tabs.blank? %>
	<script type="text/javascript">
	    var content_tabs = window.parent.document.getElementById('contenttabs')
	    var menus = "<%= escape_javascript(render('tabs')) %>"
	    jQuery(content_tabs).html(menus).css('height', '34px');
	</script>
<% elsif params[:track_setup].blank?%>
	<script type="text/javascript">
	    var content_tabs = window.parent.document.getElementById('contenttabs')
	    var menus = ""
	    jQuery(content_tabs).html(menus);
	</script>
<% elsif !params[:track_setup].blank? %>
	<script type="text/javascript">	
		var content_tabs = window.parent.document.getElementById('contenttabs')
	    var menus = "<%= escape_javascript(render('layouts/menus')) %>"
	    jQuery(content_tabs).html(menus).css('height', '34px');
	</script>
<% end %>
