<style type="text/css">
.contentCSPsel_comp {
    color: #F2F2F2;
    background-color: #444; /* transparent */
    width: 200px;
    height: 24px;
    border: 1px solid #888;
    font-size: 12px
}

.toolbar_wrapper {
	width:900px !important;
}

</style>

<%= javascript_include_tag  'dbcomparisontool' %>
<% if session[:user_id].to_s == "oceadmin" %>
    <%= GenericHelper.toolbar({'start_merge' => 'compare_mouse_over.png' , 'save_comparison_report' => 'Downloadmouseover.png'},'unlock')%>
	<% if @database1path.length >= 1 %>
		<%= hidden_field_tag 'hd_file_available_flag', true %>
	<%else%>
		<%= hidden_field_tag 'hd_file_available_flag', false %>
	<%end%>
	<div id="mergetoolcontent" class="mergetoolcontent">
		<div style="clear:both; padding-top:3px;">&nbsp;</div>
		<div>
			<label id="lbluserinstallationname" class="lbl_text">Select database 1 :</label>
			<%=select_tag("database1path", options_for_select(@database1path.map{|x| [File.basename(x),x]},@database1path.select {|name | name == @selected_database1path}),:class =>"contentCSPsel_comp" ,:disabled =>false)%>
		</div>
		<div style="clear:both; padding-top:5px;">&nbsp;</div>
		<div>
			<label id="lbluserinstallationname" class="lbl_text">Select database 2 :</label>
			<%=select_tag("database2path", options_for_select(@database2path.map{|x| [File.basename(x),x]},@database2path.select {|name | name == @selected_database2path}),:class =>"contentCSPsel_comp" ,:disabled =>false)%>
		</div>
		<div id="comparisonerrormessage" name="comparisonerrormessage" class="comparisonerrormessage"></div>
	</div>
	<div class="padleft_15 scroll_height_330">
		<%= render :partial=>'databasecomparison' %>
	</div>
<% else %>
	<h2 class="inv_yellow">Information:</h2>
	<div class="display_information">You are not authorized person to this page.</div>
<% end %>
