<div id="site_content" style="width: 100%">
	<%= stylesheet_link_tag 'logic_view' %>
	<%= javascript_include_tag "jquery",'jquery.mousewheel', 'iframe_scroll','recorder_io_assignment.js','io_assignment_template.js' %>

	<table id = "tbl_content" style="width: 97%; vertical-align: top;" cellpadding="0" cellspacing="0" border="0" >
		<tr>
			<td id = "left_panel" style="width: 30%" valign="top">
				<div width = "100%" id = "channel_pages" class="cls_pagination" style="float: right; color: #E4E4E4;" valign = "middle">
					<%if(!@channel_names.blank?)%>
						<%= will_paginate @channel_names%>
					<%else%>
						<%if(!@input_channels.blank?)%>
							<%= will_paginate @input_channels%>
						<%end%>
					<%end%>
				</div>
				<br/>
				<div id ="logic_table" style="width: 100%; vertical-align: top">
				<table style="width: 100%; vertical-align: top;" cellpadding="0" cellspacing="0" border="1">
					<th style="border-top:1px solid #787878; font-size:13px;color:#E4E4E4;">Channels</th>
					<th style="border-top:1px solid #787878; font-size:13px;color:#E4E4E4;">Name</th>
					<th style="border-top:1px solid #787878; font-size:13px;color:#E4E4E4;"></th>
					<%prev_channel = -1%>
					<%index = 1%>
					<%if (!@channel_names.blank?)%>
						<%@channel_names.each do |channel|%>
							<tr id = "tr_<%=index%>" class=' <%= cycle("even", "odd") %>'>
								<td style="font-weight:normal; padding-left: 5px; text-align: left;"><%=channel.chan_name%></td>
								<td style="font-weight:normal; padding-left: 5px; text-align: left;"><%=channel.name%></td>
								<td class='row_sel_style'><%= link_to(image_tag('/images/ladder_logic/arrow.png', :border => '0'), "javascript:get_element(" + (channel.channel-1).to_s + ",'"+ @page_type.to_s+"');")%></td>						
							</tr>
							<%index = index + 1%>
						<%end%>
					<%else%>
						<%if(!@input_channels.blank?)%>
							<%@input_channels.each do |channel|%>
								<tr id = "tr_<%=index%>" class=' <%= cycle("even", "odd") %>'>
									<td style="font-weight:normal; padding-left: 5px; text-align: left;">Channel <%=channel.Group_Channel%></td>
									<td style="font-weight:normal; padding-left: 5px; text-align: left;"></td>
									<td class='row_sel_style'><%= link_to(image_tag('/images/ladder_logic/arrow.png', :border => '0'), "javascript:get_element(" + (channel.Group_Channel).to_s + ",'"+ @page_type.to_s+"');")%></td>						
								</tr>
								<%index = index + 1%>
							<%end%>
						<%end%>
					<%end%>
					<%(index..16).each do %>
						<tr class='<%= cycle("even", "odd") %>'>
							<td></td>
							<td></td>
							<td></td>
						</tr>
					<%end%>
				</table>
				</div>
			</td>
			<td id = "right_panel"  style="width: 59%" valign="top">
				<div id = "input_content">
					<%= render '/programming/io_assign_details' %>
				</div>
				<input type="hidden" value="tr_1" id="hdtablerow"/>	
				<input type="hidden" value="0" id="channel_number"/>
				<input type="hidden" value="" id="hd_error_field"/>					
			</td>
		</tr>
	</table>	
</div>
<style>
	
#group_parameter{
	padding-left:20px;
}

body {;
    height: 400px;
    background-color: #282828;
}
	
.cls_pagination .current {
    background: none repeat scroll 0 0 #CFD638;
    border: 1px solid #CFD638;
    color: #E4E4E4;
    font-style: normal;
    font-weight: bold;
   }
.cls_pagination a {
    border: 1px solid #9AAFE5;
    color: #E4E4E4;
    text-decoration: none;
}
.cls_pagination a, 
.cls_pagination span, 
.cls_pagination em {
    display: block;
    float: left;
    margin-right: 1px;
    padding: 0.2em 0.5em;    
}
	
</style>

<script type='text/javascript'>
	$(document).ready(function() {  
		var iframe = $('#iframe', window.parent.document);
		var content_contents = $("#contentcontents", window.parent.document);
		$(iframe).css({'height':  '477px', 'min-height':'477px', 'width': '900px', 'min-width':'0px'});
		$(content_contents).css({'height': '477px', 'min-height':'477px', 'width': '900px', 'min-width':'0px'});
	     
		var content_tabs = window.parent.document.getElementById('contenttabs')
		var menus = "<%= escape_javascript(render('recorder_tabs')) %>"
		jQuery(content_tabs).html(menus).css('height', '29px');
		var recorder_tabs = jQuery(".track_menu_link1", window.parent.document)

		$.each(recorder_tabs, function(i, ele){
	   	  if ($(ele).attr('page_name') == "<%= @page_type%>"){
	   	  	$(ele).css('background-image', 'url(../images/Tab_selected.png)');
	   	  	$(ele).addClass('contenttabH').addClass('contenttabD');	
	   	  }
	   	  else{
	   	  	$(ele).removeClass('contenttabH').removeClass('contenttabD');
	   	  	$(ele).css('background-image', 'url(../images/Tab.png)');
	   	  }
		});
		
		$("#tr_1").children().css({
            "background-color": "#CFD638",
            "color": "#000"
        });		

		//$('.row_sel_style').unbind('click');
	    $('.row_sel_style').live('click', function(){	    	
	        $('.row_sel_style').each(function(index, ele){
	        	row = $(ele).parent();
	        	if(index%2 == 0){	        		
	        		$(row).children().css({        			
	                	"background-color": "#515151",
	                	"color": "#FFF"
	            	});
	        	}else{
	        		$(row).children().css({        			
	                	"background-color": "#424242",
	                	"color": "#FFF"
	            	});
	        	}
	        });	 
	        $($(this).parent()).children().css({
	                "background-color": "#CFD638",
	                "color": "#000"
	            });
	            var par = $($(this).parent()).attr('id');	            
	            $("#hdtablerow").val(par);
	            
	            // $($(this).parent()).children().each(function(ind, tt){
	        	// if (ind == 1){
	        		// $(tt).text('Tag...');
	        	// }
	        	// else if(ind == 2){
	        		// $(tt).html('Name...');
	        	// }
	        	// });
	    });
	});

</script>