<%= javascript_include_tag "cpumodule_upload.js" %>
<%= stylesheet_link_tag "cpumodule_upload.css" %>
<div id="software_update_content" class='update_content_software'>
<div class="toolbar_wrapper">
	<div class="toolbar_button unlock_software_update" id="unlock_software_update">
		<img src="/images/unlock.png" alt="unlock_software_update">
	</div>
	<div class="toolbar_button install_software" id="install_software">
		<img src="/images/install_software_update.png" alt="install_software">
	</div>
	<div class="toolbar_button show_console" id="show_console">
		<img src="/images/show_console_log.png" alt="show_console">
	</div>
	<div class="toolbar_button dwonload_console_log" id="dwonload_console_log">
		<img src="/images/Downloadmouseover.png" alt="dwonload_console_log">
	</div>
</div>
<input type="hidden" id="stop_sw_update_timer" value="" />
<input type="hidden" id="stop_sw_options_reading" value="" />
<% if @userpresence_permission.to_s == 'true' %>
  	<input type="hidden" id="user_presence" value='1'/>
<% else %>
  	<input type="hidden" id="user_presence" value='0'/>
<% end %>
<div style="clear:both; padding-top:1px;">&nbsp;</div>
<div id="resultsft" class='resultsft' >
</div>
<div id="upload_files_list" style="height:200px;">
   <% if @upload_options %>
	    <%= render :partial=>'softwareupdate_options' %>
   <%else%>
       <div class="text_font text_white">
   			<%= @user_message.to_s %>
	   </div>
   <%end%>
</div>
<input type="hidden" id="current_req_id" value=''/>
<div id="upload_files_process" style="height:80px;">
	<div class='upload_question_display upload_question text_font text_white' id='upload_question_display' style="display:none;"></div>
	<div class='serial_outer_upload' id='serial_outer_upload' style="padding-left:50px;display:none;">
	    <div class='file_select text_font text_white'>Please select the file :
             <input type="text" disabled="true" id="fileToUpload_path" name="fileToUpload_path" class="contentCSPsel_config">
        </div>
		<form name="form" action="/softwareupdate/cpumodule_upload" method="POST" enctype="multipart/form-data" id="software_update_form">	
		   <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />
           <input type="hidden" name="update_type" id="update_type"/>
		   <input type="hidden" name="target" id="target" />
		    <div>
                <img src="/images/Browse-mouse-over.png">
				<a style="color:black;font-weight:bold;" href="javascript: void(0)"></a>
                <input type="file" name="fileToUpload" id="fileToUpload" style="position:relative;top:-2px;left:-150px;width:145px;opacity: 0; filter:alpha(opacity: 0);cursor:pointer;cursor:hand;">
				</img>
			</div>
		</form>
	</div>
	<div id='download_options_status' class="download_options_status download_options" >
		<div style="padding-top:1px;">
		 	<span class="display_progressbar_val text_white text_font"  id="display_progressbar_val"></span>
		</div>
		<div id="display_progressbar" style="width:auto;display:block;" > </div>
	</div>
</div>
</div>
<div id="upload_files_console_log" class='show_consolelog'>
</div>
<script type='text/javascript'>
	var update_console_last_viewed_timer ;
	var show_console_log = false;	
	$(document).ready(function(){
		$('#software_update_form').submit(function(e) {
			var options = {
			    success:    function(resp) { 
					show_submit_progress();
			    } 
			};
	        $(this).ajaxSubmit(options);
			return false; 
	    });	
		$('#download_options_status').hide();
		$('#stop_sw_update_timer').attr('value','');
		$('#stop_sw_options_reading').attr('value','');
		var user = $('#user_presence').val();
		if (user == '0') {
			$('.unlock_software_update').removeClass('disable_button');
			$('#install_software').addClass('disable_button');
		}else if(user == '1'){
			$('.unlock_software_update').addClass('disable_button');
			$('#install_software').removeClass('disable_button');
		}
		softwareupdate_unlock_process = false;
		var status = '<%= @status%>';
		if (status) {
			$('.unlock_software_update').addClass('disable_button');
			$('#files_category').show();
			check_console_text();
			update_console_timer();
			$('#install_software').addClass('disable_button');
		}else {
			$('#files_category').hide();
		}
		var fileupload_flag = '<%= params[:fileupload_flag]%>';
		if (fileupload_flag){
			$('#files_category').show();
			check_console_text();
			update_console_timer();
			$('#install_software').addClass('disable_button');
		}	
		options_enable_poll();
	});
</script>
