<%= javascript_include_tag 'jquery.form', 'aspectlookup' %>
<input type="hidden" name = "hdgeoaspval" id = "hdgeoaspval" value = "" />
<input type="hidden" name = "hdptcaspval" id = "hdptcaspval" value = "" />
<% if session[:user_id].downcase != "admin" %>
	<%= GenericHelper.toolbar({'save_aspect_file_config' => 'savemouseover.png', 'download_aspecttextfiles' => 'Downloadmouseover.png' },'unlock')%>
<% else %>
	<%= GenericHelper.toolbar({'save_aspect_file_config' => 'savemouseover.png'},'unlock')%>
<% end %>
<div class="pad_left25">
	<table>
		<tr>
			<td>
				<div class="aspectlookup_selectfile_label">Select aspect lookup file :</div>			
			</td>
			<td>
				<div><%=select_tag("select_aspectlookup_file", options_for_select(@geoaspect_files.map{|x| [File.basename(x), x] },@geoaspect_files.select {|name | name ==@selected_geoaspectfile}),:class =>"contentCSPselptc" ,:disabled =>false)%></div>
			</td>
			<% if session[:user_id].downcase != "admin" %>
				<td class="td_browse_button">
					<form name="aspectlookup_fileuploads" action="/aspectlookup/import_geoaspectsfile" class='geoaspect_table' id='geoaspect_table' method="POST" enctype="multipart/form-data" >
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />
						<div class="browse_button_area">
							<img src="/images/Browse-mouse-over.png"><a href="javascript: void(0)" style="color:black;font-weight:bold;"></a></img>
							<input type="file" id="upload_input" name="upload" onchange="select_lookuptable_file();" style="font-size: 50px;cursor: pointer;  width: 120px; opacity: 0;filter:alpha(opacity: 0);  position: relative; top: -40px;; left: -20px" />
						</div>
					</form>
				</td>
			<%end%>
			</tr>
	</table>
	<table>
		<tr>
			<td>
				<div class="aspectlookup_selectfile_label">Select PTC aspect values file :</div>			
			</td>
			<td>
				<div><%=select_tag("select_ptcaspect_file", options_for_select(@ptcaspect_files.map{|x| [File.basename(x),x]},@ptcaspect_files.select {|name | name == @selected_ptcaspectfile}),:class =>"contentCSPselptc" ,:disabled =>false)%></div>
			</td>
			<% if session[:user_id].downcase != "admin" %>
				<td class="td_browse_button">
					<form name="aspectlookup_fileuploads" action="/aspectlookup/import_ptcaspectsfile" class='ptcaspect_table' id="ptcaspect_table" method="POST" enctype="multipart/form-data" >
						<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />
						<div class="browse_button_area">
							<img src="/images/Browse-mouse-over.png"><a href="javascript: void(0)" style="color:black;font-weight:bold;"></a></img>
							<input type="file" id="upload_input1" name="upload1" onchange="select_ptcaspect_file();" style="font-size: 50px;cursor: pointer;  width: 120px; opacity: 0;filter:alpha(opacity: 0);  position: relative; top: -40px;; left: -20px" />
						</div>
					</form>
				</td>
			<%end%>
		</tr>
	</table>
</div>
<div class="pad_left25">
	<% unless flash[:aspectlookupvalid].blank?%> 
		<div class="validation_message"><%= flash[:aspectlookupvalid] %></div>
	<%end%>
	<div style="clear:both; padding-top:1px;">&nbsp;</div>
	<% unless flash[:aspectlookupsuccess].blank?%>
		<div id="success_message" class="success_message"><%= flash[:aspectlookupsuccess] %></div>
	<%end%>
</div>			    
<% unless @validationflag.blank? %>
	<div class="pad_left25">
		<div class="validation_message"><%= @validationflag.to_s %></div>
	</div> 
<%else%>
	<% if session[:user_id].downcase != "admin" %>
		<div id="asplookup" class="floatleft width100 pad_left25">
			<table>
				<tr>
					<td>
						<div class='aspect_value_table' style="height:310px; width:520px;overflow-y:auto;" >
							<%= render 'table' %>
						</div>
					</td>
					<td>
					<div>
						<table cellspacing="0" cellpadding="0" width="30px">
							<tr>
								<td class="height_20_row">
									<span><%= image_tag("/images/small_spinner.gif", :id =>"position_spinner" ,:class => 'position_spinner', :style => "display:none;") %></span>
								</td>
							</tr>
							<tr>	
								<td class="height_20_row">
									<%= link_to(image_tag('/images/icon-uparrow.png', :border => 0), "/aspectlookup/update_aspect_position", :class => "uparrow aspect", :id => "arrow1", :title => 'prev') %>
								</td>
							</tr>
							<tr>
								<td class="height_20_row">
									<%= link_to(image_tag('/images/icon-downarrow.png', :border => 0), "/aspectlookup/update_aspect_position", :class => "downarrow aspect", :id => "arrow1", :title => 'next') %>
								</td>
							</tr>
						</table>
					</div>
					</td>
				</tr>
			</table>
			<div class="pad_left25"><%= link_to(image_tag('/images/add_edit_delete_add.png', :border => 0 , :class => 'nwsize'),"javascript: void(0)",:id=>"addnewfield", :onclick =>"addfield();",  :title => "Add new")%></div>
		</div>
	<%end%>
<%end%>
