<div class='contentactionbar contentbarwidth'>
    <div class="floatleft" style="margin-left:10px;">
        ATCS Address &nbsp;<%= select("atcs", "addr", options_for_select(@atcs_addr), {:prompt => "Select"}, :id => "atcs_addr", :class => "contentCSPsel") %>
    </div>
    <div class="floatleft" id="software_info">
        <%= link_to(image_tag('/images/Downloadmouseover.png'), "/software_information/download_report") %>
    </div>
</div>
<div id="ajax_spinner" style="display:none;color:#FFFFFF;">
    <%= image_tag("ajax-loader.gif") %>Please wait
</div>
<div class="geo_event_log" id="geo_event_log">
</div>
<%= stylesheets("content") %>
<%= javascripts("jquery") %>
<script type="text/javascript">
    $(document).ready(function(){
        $('#atcs_addr').w_change(function(){
            var atcs_addr = $('#atcs_addr').val();
            if (atcs_addr == "") {
                $('.geo_event_log').html("");
				$("#software_info").hide();
            }
            else {
                $('#ajax_spinner').show();
                $('#ajax_spinner span').html("loading parameters");
                $.post("/software_information/soft_info", {atcs_addr: atcs_addr}, function(response_data){
                    $('.geo_event_log').html(response_data);
					$("#software_info").show();
                    $('#ajax_spinner').hide();
                });
            }
        });
    });
</script>