<style type='text/css'>
	#mytable {
	    border-left: 1px #5e5e5e solid;
	    border-right: 1px #5e5e5e solid;
	    border-bottom: 1px #5e5e5e solid;
	    text-align: center;
	    padding-left: 1px;
		font-family: Verdana, sans-serif; 
	}
	
	#mytable tr td {
        border-bottom: 1px solid #5e5e5e;
		border-left: 1px solid #5e5e5e;
		border-right: 1px solid #5e5e5e;
		border-top: 1px solid #5e5e5e;
        text-align: left;
	}
</style>
<div align="center" width = "500px" >
<%unless @elementorder.blank? %>
	<table cellspacing="0" cellpadding="0" border="0">
		<tr>
			<td>
				<table cellspacing="2" cellpadding="5" width="30px" border="0">
					<tr>
						<td>
							<%= link_to(image_tag('/images/icon-uparrow.png',:class => "uparroworder"), "javascript: void(0)", :class => "uparroworder change_element_order", :id =>"element_arrow", :title => "Device type up") %>
						</td>
					</tr>
					<tr>
						<td>
							<%= link_to(image_tag('/images/icon-downarrow.png',:class => "downarroworder"), "javascript: void(0)", :class => "downarroworder change_element_order", :id =>"element_arrow", :title => "Device type down") %>
						</td>
					</tr>
				</table>
			</td>
			<td>
				<table cellspacing="1" cellpadding="1" width="500px" border="1" id="mytable" style='float:left;'>
					<tr><td width="40%" style="height:25px"><b>Device Type</b></td>
						<td width="60%" style="height:25px">
							<table id = "tblsignal" cellpadding="5" cellspacing="0" border="1">
								<tr>
									<td style="height:25px;width:150px;"><b>Site Device ID</b></td>
									<td style="height:25px;width:150px;"><b>Device Name</b></td></td>
								</tr>
									
							</table>
						</td>
					</tr>
					<% @elementorder.each do |elementOrder| %>							
						<% case elementOrder[0].to_s  when "Signal" %>
							<tr id ="sig_devices" class = 'element_ptc'>
								<td id = "ele_signal">Signal</td>
								<td>
									<table id = "tblsignal" cellpadding="5" cellspacing="0" border="1">
										<% @signals.each_with_index do |signal, i| %>
											<tr id='sig_<%= signal.id %>' class='signal_<%= signal.id.to_s %> ptc_wiu signal <%= signal.id.to_s == @current_signal.to_s ? "selected_ptc_element" : "" %>'>
												<td id = "signal|<%= signal.id %>|<%= signal.SiteDeviceID.to_s %>" style="border-bottom:0px #FFFFFF solid;height:25px;width:150px;">
										                <%= signal.SiteDeviceID.to_s %>
										        </td>
												<td id = "signal|<%= signal.id %>|<%= signal.device_name.to_s %>" style="border-bottom:0px #FFFFFF solid;height:25px;width:150px;">
										                <%= signal.device_name.to_s %>
										        </td>
											</tr>
										<%end%>
									</table>
								</td>
								
							</tr>								
						<% when "Switch"%>
							<tr id = "sw_devices" class = 'element_ptc'>
								<td id ="ele_switch">Switch</td>
								<td>
									<table id = "tblswitch" cellpadding="0" cellspacing="0" border="1">
										<% @switches.each_with_index do |switch, i| %>
											<tr id='sw_<%= switch.id %>' class='switch_<%= switch.id.to_s %> ptc_wiu switch <%= switch.id.to_s == @current_switch.to_s ? "selected_ptc_element" : "" %>'>
												<td id ="switch|<%= switch.id %>|<%= switch.SiteDeviceID.to_s %>" style="border-bottom:0px #FFFFFF solid;height:25px;width:150px;">
										                <%= switch.SiteDeviceID.to_s %>
										        </td>
												<td id ="switch|<%= switch.id %>|<%= switch.device_name.to_s %>" style="border-bottom:0px #FFFFFF solid;height:25px;width:150px;">
										                <%= switch.device_name.to_s %>
										        </td>
											</tr>
										<%end%>
									</table>
								</td>
							</tr>
						<% when "Hazard Detector"%>
							<tr id = "hz_devices" class = 'element_ptc'>
								<td id ="ele_hzdetector">Hazard Detector</td>
								<td>
									<table id = "tblhzdetector" cellpadding="0" cellspacing="0" border="1">
										<% @hazarddetectors.each_with_index do |hazarddetector, i| %>
											<tr id='hz_<%= hazarddetector.id %>' class='hd_<%= hazarddetector.id.to_s %> ptc_wiu hazarddetector <%= hazarddetector.id.to_s == @current_hazarddetector.to_s ? "selected_ptc_element" : "" %>'>
												<td id = "hzdetector|<%= hazarddetector.id %>|<%= hazarddetector.SiteDeviceID.to_s %>" style="border-bottom:0px #FFFFFF solid;height:25px;width:150px;">
										                <%= hazarddetector.SiteDeviceID.to_s %>
										        </td>
												<td id = "hzdetector|<%= hazarddetector.id %>|<%= hazarddetector.device_name.to_s %>" style="border-bottom:0px #FFFFFF solid;height:25px;width:150px;">
										                <%= hazarddetector.device_name.to_s %>
										        </td>
											</tr>
										<%end%>
									</table>
								</td>
							</tr>
						<%end%>
					<%end%>		
				</table>
			</td>
			<td>
				<table cellspacing="0" cellpadding="0" width="30px" border="0">
					<tr>
						<td>
							<%= link_to(image_tag('/images/icon-uparrow.png', :class => "uparrow"), "javascript: void(0)", :class => "uparrow", :id => "arrow", :title => 'prev') %>
						</td>
					</tr>
					<tr>
						<td>
							<%= link_to(image_tag('/images/icon-downarrow.png', :class => "downarrow"), "javascript: void(0)", :class => "downarrow", :id => "arrow", :title => 'next') %>
						</td>
					</tr>
				</table>
			</td>
		</tr>
	</table>	
<%end%>
</div>
