<% form_tag("", :id => "pref_tm_parameters_form", :class => "pref_tm_parameters_form") do %>
<div class='connection_information' style="border:none;padding-bottom:0px">
    <div id="module_update" style="padding-left:10px;">
        <div id="serial_outer" class="serial_outer">
            <div class="serialleft contentCSPlabel text_type">
                <%= get_label([@enabled_parameter]) %>
            </div>
            <div class="serialright text_type">
                <%= get_field(Enum_Type, @enabled_parameter, @selected_type) %>
            </div>
        </div>
    </div>
</div>	
<div id="pref_tm_parameters" style="display:none;">
<div class='connection_information' style="border:none;margin-top:0px;padding-top:0px">	
	<div id="module_update" style="padding-left:10px;">
        <div id="serial_outer" class="serial_outer">
            <div class="serialleft contentCSPlabel text_type">
                <%= get_label(@timeout_parameter[:title]) %>
            </div>
            <div class="serialright text_type">
                <%= get_field(@timeout_parameter[:type], @timeout_parameter[:title].first, @selected_type) %>
            </div>
        </div>
    </div>
</div>

    <% index = 1 %>
    <% @group_parameters.each_pair do |key, group_parameters| %>
    <% group_parameters = @group_parameters[index - 1] %>
	<% cust_style = ""
	   cust_style = 'border-top:1px solid #809818' if index == 1 
       cust_style = 'border:none' if index == 6 %>
	<div class='connection_information' style="margin-top:0px;<%= cust_style %>">
        <div style="margin-top:10px;">
        </div>
        <% group_parameters.each do |group_parameter| %>
        <div id="module_update" style="padding-left:10px;">
            <div id="serial_outer" class="serial_outer">
                <div class="serialleft contentCSPlabel text_type">
                    <%= get_label(group_parameter[:title]) %>
                </div>
                <div class="serialright text_type">
                    <%= get_field(group_parameter[:type], group_parameter[:title].first, @selected_type) %>
                </div>
            </div>
        </div>
        <% end %>
    </div>
    <% index += 1 %>
    <% end %>
</div>
<% end %>
<script type="text/javascript">
    var enabled_parameter = $(".enabled_param").val()
    /* where 103 is the value for EMP Pref-Timesrc Enabled. 
     * If 103, display the form else hide it.
     */
    if (enabled_parameter == 103) {
        $("#pref_tm_parameters").show()
        window.parent.document.getElementById("iframe").style.height = "680px";
        window.parent.document.getElementById("contentcontents").style.height = "720px";
    }
    else {
        $("#pref_tm_parameters").hide()
        window.parent.document.getElementById("iframe").style.height = "300px";
        window.parent.document.getElementById("contentcontents").style.height = "350px";
    }
    
    //Applying stepper to integer fields
    $(".integer_only").each(function(index){
        var min = $(this).attr('min');
        var max = $(this).attr('max');
        var step = $(this).attr('step');
        
        $(this).spinner({
            decimals: 0,
            min: min,
            max: max,
            stepping: step
        });
    });
</script>
