<table cellspacing="1" cellpadding="0" width="800px" border="1" class="mytable" id="mytable_switch" style='float:left;'>
    <tr>
        <th class="title" style="width:10%">
            <strong class="text_white_font_12">Site DeviceID</strong>
        </th>
        <th class="title" style="width:10%">
            <strong class="text_white_font_12">Switch</strong>
        </th>
        <% if session[:typeOfSystem] != "VIU" %>
        <th class="title" style="width:10%">
            <strong class="text_white_font_12">Geo Subnode</strong>
        </th>
        <% end %>
        <th class="title" style="width:10%">
            <strong class="text_white_font_12">Track Name</strong>
        </th>
		<th class="title" style="width:10%">
            <strong class="text_white_font_12">Direction</strong>
        </th>
		<th class="title" style="width:10%">
            <strong class="text_white_font_12">Milepost</strong>
        </th>
		<th class="title" style="width:10%">
            <strong class="text_white_font_12">Subdivision Number</strong>
        </th>
		<th class="title" style="width:10%">
            <strong class="text_white_font_12">Site Name</strong>
        </th>
		<th class="title" style="width:10%">
            <strong class="text_white_font_12">Description</strong>
        </th>
        <%if session[:typeOfSystem] != "VIU"%>
		<th class="title" style="width:10%">
            <strong class="text_white_font_12">Include</strong>
        </th>
        <% end %>
        <%if session[:typeOfSystem] == "VIU" && @switch_objects.blank?%>
        <th class="title" style="width:10%">
            <strong class="text_white_font_12">
            	<%= link_to(image_tag('/images/Add-mouse-over.png'), "javascript: void(0)", :id => "add_switch_attributes",:class => "add_switch_attributes" ,:title => "Add Switch") %>
			</strong>
        </th>
        <%end%>
    </tr>
    <% @switches.each_with_index do |switch, i| %>
	 <% @swincludeflag = switch.element_position.to_i > 0 ? true : false %>
    <tr id='<%= switch.id %>' class='switch_<%= switch.id.to_s %> switch_ptc switch %>'>
		<td <%= get_ptc_data_style(switch.id.to_s, @current_switch.to_s) %>>
           <div align="left">
           		<% unless switch.SiteDeviceID.blank? %>
					<% @swdeviceid = switch.SiteDeviceID %>
				<%else%>
					<% @swdeviceid = switch.device_name.to_s %>
                <% end %>
                <%= text_field_tag "switch_sitedeviceid_#{i}", @swdeviceid, :maxlength =>"40" , :size =>"30px" ,:class=>"inputbox_ptcdevice2" , :name_text => "Site Device Id", :disabled=>!@swincludeflag %>
            </div>
        </td>
        <td <%= get_ptc_data_style(switch.id.to_s, @current_switch.to_s) %>>
            <div align="left" class="text_font">
				<%= text_field_tag "switch_device_name_#{i}", switch.device_name ,:maxlength =>"40" ,:size =>"30px",:class=>"inputbox_ptcdevice2" , :name_text => "Device Name", :disabled=>!@swincludeflag %>
            </div>
        </td>
        <% if session[:typeOfSystem] != "VIU" %>
        <td <%= get_ptc_data_style(switch.id.to_s, @current_switch.to_s) %>>
            <div align="left" class="text_font">
                <%= switch.subnode %>
            </div>
        </td>
        <% end %>
        <td <%= get_ptc_data_style(switch.id.to_s, @current_switch.to_s) %>>
            <div align="left">
                    <%= text_field_tag "switch_track_name_#{i}", ((switch.track_name.blank?) ?  "Not Set" : switch.track_name), :size =>"30px" ,:class=>"inputbox_ptcdevice2" , :name_text => "Track Name", :disabled=>!@swincludeflag %>
                    <%= hidden_field_tag "switch_id_#{i}", switch.id %>
            </div>
        </td>
		<td <%= get_ptc_data_style(switch.id.to_s, @current_switch.to_s) %>>
            <div align="left">
            	<%=select_tag("switch_direction_#{i}", options_for_select(["Select"]+@switchdirection,switch.Direction),:class =>"selectbox_ptcdevice" , :disabled=>!@swincludeflag )%>
            </div>
        </td>
		<td <%= get_ptc_data_style(switch.id.to_s, @current_switch.to_s) %>>
            <div align="left">
            	<% unless switch.Milepost.blank? %>
					<% @swmile = switch.Milepost %>
				<%else%>
					<% @swmile = session[:defaultmilepost].to_s %>
                <% end %>
				
                <%= text_field_tag "switch_milepost_#{i}", @swmile , :size =>"30px",:class=>"inputbox_ptcdevice2" , :name_text => "Mile Post", :disabled=>!@swincludeflag %>
            </div>
        </td>
		<td <%= get_ptc_data_style(switch.id.to_s, @current_switch.to_s) %>>
            <div align="left">
            	<% unless switch.SubdivisionNumber.blank? %>
					<% @swsubdivno = switch.SubdivisionNumber %>
				<%else%>
					<% @swsubdivno = session[:defaultdivnumber].to_s %>
                <% end %>
				
                <%= text_field_tag "switch_subdivisionnumber_#{i}", ((@swsubdivno.blank?) ? "Not Set" : @swsubdivno), :size =>"30px",:class=>"inputbox_ptcdevice2" , :name_text => "Sub Division Number" , :disabled=>!@swincludeflag %>
            </div>
        </td>
		
		<td <%= get_ptc_data_style(switch.id.to_s, @current_switch.to_s) %>>
            <div align="left">
            	<% unless switch.SiteName.blank? %>
					<% @swsitename = switch.SiteName %>
				<%else%>
					<% @swsitename = session[:defaultsitename].to_s %>
                <% end %>
                <%= text_field_tag "switch_sitename_#{i}", @swsitename , :size =>"30px",:class=>"inputbox_ptcdevice2" , :name_text => "Site Name" , :disabled=>!@swincludeflag %>
            </div>
        </td>
		<td <%= get_ptc_data_style(switch.id.to_s, @current_switch.to_s) %>>
            <div align="left">
            	<%= text_field_tag "switch_description_#{i}", switch.Description , :size =>"30px",:class=>"inputbox_ptcdevice2" , :name_text => "Description" , :disabled=>!@swincludeflag %>
            </div>
        </td>
        <%if session[:typeOfSystem] != "VIU"%>
		<td <%= get_ptc_data_style(switch.id.to_s, @current_switch.to_s) %>>
            <div align="left">
            	<%= check_box_tag "sw_include_#{switch.id.to_s}", 'Include', @swincludeflag  ,{:onchange =>"includeorexclude_device(this , 'switch_#{switch.id}')" } %>
            </div>
        </td>
        <% end %>
        <%if session[:typeOfSystem] == "VIU" && @switch_objects.blank?%>
	        <td <%= get_ptc_data_style(switch.id.to_s, @current_switch.to_s) %>>
	            <div align="center">
	            	<%= link_to(image_tag('/images/add_edit_delete_delete.png'), "javascript: void(0)", :id => "switch_remove_#{switch.id.to_s}" , :row_id => "switch_#{switch.id}" ,:class => "remove_device_attr" ,:title => "Remove") %>
	            </div>
	        </td>
        <%end%>
    </tr>
    <%end %>
</table>
