<!--*********************************************************************************
  File name    : _vital_atcs_statistics.html.erb

  Description  : This view is used to display the Vital ATCS Statistics fields(Card Id, Out Of Order, Stale, Lost Sessions,
  				 Vital Msgs Tx and Vital Msgs Rx). 

  Project Name : iVIU - WebUI Project

  Copyright    : Safetran Systems Corporation, U.S.A. 
                     Research and Development

  Author       : Cognizant Technology Solutions

*********************************************************************************-->
<div>
<table cellspacing="0" cellpadding="0" width="100%" border="0" class="logtable" style="color:#454545">
	<thead>                                       
		<tr>
			<th class="title" width="100" style="color:#CFD631;font-size:12px;">Card</th>
		    <th class="title" width="100" style="color:#CFD631;font-size:12px;">Out Of Order</th>                                
		    <th class="title" width="100" style="color:#CFD631;font-size:12px;">Stale</th>
		    <th class="title" width="100" style="color:#CFD631;font-size:12px;">Lost Sessions</th>  
			<th class="title" width="100" style="color:#CFD631;font-size:12px;">Vital Msgs Tx</th>
			<th class="title" width="100" style="color:#CFD631;font-size:12px;">Vital Msgs Rx</th>                                                                                  
		</tr>
	</thead>
	<tbody>
	<% records_found = true
	   unless @card_infos.blank?%>
		<tr>
			<td class="txtleft">&nbsp;</td>                                                                        
			<td class="txtleft">&nbsp;</td>                                                                                     
			<td class="txtleft">&nbsp;</td>                                                  
			<td class="txtleft">&nbsp;</td>
			<td class="txtleft">&nbsp;</td>                                                  
			<td class="txtleft">&nbsp;</td>               
		</tr>
		<% counter = 1 %>
		<% for cardinfo in @card_infos %>
			<tr>
			    <td class="txtleft"><%= counter %></td>
			    <td class="txtleft"><%= cardinfo.out_of_order %></td>
			    <td class="txtleft"><%= cardinfo.stale %></td>
			    <td class="txtleft"><%= cardinfo.lost_sessions %></td>
			    <td class="txtleft"><%= cardinfo.vital_msgs_tx %></td>
			    <td class="txtleft"><%= cardinfo.vital_msgs_rx %></td>	
			</tr>
			<% counter += 1 %>
		<% end %>
	<% else
		records_found = false
	   end %>	
	</tbody>
</table>
</div>
<% if !records_found %>
	<div style="padding:10px;text-align:left;color:#FFFFFF">No Records Found.</div>
<% end %>
<%= hidden_field_tag 'request_id', request_id %>

<script type="text/javascript">
  	$('.logtable').flexigrid({height:'auto', striped:false});
</script>
