<!--*********************************************************************************
File name    : index.html.erb
Description  : This view is used to display the ATCS Address and Statistics Type fields.
Project Name : iVIU - WebUI Project
Copyright    : Safetran Systems Corporation, U.S.A.
Research and Development
Author       : Cognizant Technology Solutions
*********************************************************************************-->
<div class="contentbarwidth_logs" style="color:#FFFFFF;">
    <div class="floatleft" style="margin-top:-1px; padding-right:5px;font-size:14px">
	&nbsp;ATCS Address&nbsp;<%= select("atcs", "addr", options_for_select(@atcs_addresses), {:prompt => "Select"}, :class=>"dtstatistics_height") %>
       
        <span id="stats_type" style="display:none;">&nbsp;&nbsp;Stats Type	<%= select_tag( "statistic_type",  options_for_select([["Select Type", ''],
            ["Card Statistics",0],
            ["Vital ATCS Statistics", 1],
            ["Non-Vital ATCS Statistics",2],
            ["Time Statistics", 4],
            ["SIO Statistics", 5],
            ["Console Statistics", 6],
            ["LAN Statistics", 7],
            ["VLP Statistics", 8],
            ]), :class => "dtstatistics_height_long") %></span>
      </div>
	  <div class="floatleft">
		<%= link_to(image_tag("/images/clearmouseover.png", :alt => "Clear", :title => "Clear", :id=>"clear"),  "/dt_statistics/stats_clear", :class => "stats_clear", :id=>"stats_clear", :style => "display:none;") %>
		<%= link_to(image_tag("/images/refresh_mouse_over.png", :alt => "Refresh", :title => "Refresh", :id=>"refresh"), "/dt_statistics/renew", :class => "renew", :id=>"renew", :style => "display:none;" ) %>
      </div>
</div>
<div id="ajax_spinner" style="display:none;color:#FFFFFF;">
    <%= image_tag("ajax-loader.gif") %>Please wait
</div>
<div class="statstics_box" style="padding-top:20px;padding-left:5px;">
	<div class="my_statistics_table1">
    </div>
</div>

<%= javascript_include_tag "jquery", "flexigrid"%>
<%= stylesheet_link_tag "content", "flexigrid", "screen" %>
