<!--
jQuery functions for Module IO & Auto Refreshing module content
@author - Kalyan
-->
<script type="text/javascript" charset="utf-8">    
    $(document).ready(function(){
        tab_handler();
    });	
</script>
<span class='mcfcrc_span' style='display:none;'><%= mcfcrc %></span>
<div id="select_tab" style='display:none;'></div>
<div id="frame_periodic"></div>
<table id="testnav" cellspacing='0'border='0'>
    <tbody>
        <tr>
        	<% initialize_rt_comm_status(card_information, sin_addr, gwe.mcfcrc) %>
            <% for card_num in 1..8 %>
            <% card_info = card_information.select{|card| card.slot_atcs_devnumber == card_num}[0] %>
            <% if card_info %>            
			<% slot_card = Card.find_by_crd_type_and_mcfcrc(card_info.card_type, gwe.mcfcrc, :select => "crd_name, card_index, cdf, parameter_type") %>			
            <% card_name = "" %>
            <% card_name = "VLP2" if card_info.card_type == 9 %>
            <% card_id = (card_info.try(:card_index).blank? ? '0' : card_info.try(:card_index)) %>
            <% card_health_status_bit = get_card_health(card_info.try(:card_index), sin_addr, gwe.mcfcrc) unless slot_card.blank? %>
            <% cp_card_health = get_card_health(cp_card_info.try(:card_index), gwe.mcfcrc) unless cp_card.nil? %>
            <% context_string = Parameter.find_by_mcfcrc(gwe.mcfcrc, :conditions => {:cardindex => card_id}, :select => "context_string").try(:context_string) %>
            <% menus = Menu.find_by_sql "select * from menus where mcfcrc = #{mcfcrc}" %>
            <% if menus.blank? %>
            <% card_name = context_string.blank? ? (slot_card.blank? ? card_name : slot_card.crd_name) : context_string %>
            <% else %>
            <% @card_names.each_pair do |key, value| %>
            <% card_name = value if key.gsub(":", "").match(context_string.to_s.gsub(":", "")) %>
            <% end %>
            <% end %>
            <% tab_name = slot_card.blank? ? card_name.downcase : slot_card.crd_name.downcase.gsub(" ", "_") %>
            <td id="<%= card_id %>" class="<%= (card_health_status_bit == '1' || card_health_status_bit.nil? ? 'contenttaboff' : (selected_tab.nil? ? 'contenttabon' : (selected_tab.eql?(card_id.to_s) ? 'contenttabonhover' : 'contenttabon'))) %>" name='<%= tab_name %>' title='<%= card_name %>'>
                <span><%= hidden_field "slot", "cp_health", :value => cp_card_health || "" %>
                    <input type='hidden' name = 'slot_cdf' id='slot_cdf_<%= card_info.try(:card_index) %>' value=<%= slot_card.try(:cdf)  %>><input type='hidden' name = 'slot_param_type' id='slot_param_type_<%= card_info.try(:card_index) %>' value=<%= slot_card.try(:parameter_type)  %>><input type='hidden' name = 'slot_health' id='slot_health_<%= card_info.try(:card_index) %>' value=<%= card_health_status_bit %>><%= hidden_field "slot", "atcs_devnumber_#{card_info.try(:card_index)}", :value => card_info.slot_atcs_devnumber %>
                    <%= hidden_field "card", "type_#{card_info.try(:card_index)}", :value => card_info.card_type %>
                </span><%#= card_name %>
				<% display_card_name = card_name.split(//)%>				
				<%= display_card_name[0..7].to_s %>
				<%= display_card_name[8..15].to_s %>				
                <%#= slot_card.blank? ? card_name : slot_card.crd_name %>
            </td>
			<% else %>
            <td class="contenttabdisable">
                Empty
            </td>
            <% end %>
            <% end %>
        </tr>
    </tbody>
</table>
