<div id=<%= card_health !=  "1" &&  card_health !=  nil ? "card_data" : "inactive_card_data" %> style='width:150px;float:left;'>
    <div class="status_data" style='height:386px;width:120px;border:1px solid #000; float:left;background-color: #DDDDDD;'>
        <div class="slot_header" title = "<%= @card_type %>" id="slot_<%= @card_type %>" style='<%= card_health == "1" || card_health == nil  ? "background-color:#9D0F10;" : ""  %>'>
			<%= get_slot_name(slot_name) %>
        </div>
        <div style="width:100px;float:left;padding:6px;">
            <div style="width:75px;float:left;border:1px solid #000;">
                <% menus = Menu.find_by_sql "select * from menus where mcfcrc = #{mcfcrc}" %>
                <% @channel_titles.each do |channel| %>
                <% channel_title = channel.channel_title.split('.')[1] %>
                <% vlo_mcf_params = get_color_mcf_parameters(channel.mcfcrc, @online.card_index, 'VLO') %>
                <% rt_param_hash = get_colour_code_rt_param(vlo_mcf_params) %>
                <% if channel_title == "Searchlight" %>
                <div style="padding:5px;float:left;border-bottom: 1px solid;width:65px;">
                    <div style='font-weight:bold;padding-bottom:5px;'>
                        VLO
                    </div>
                    <div style='float:left;'>
                        <div style='float:left;width:20px;'>
                            <%= rt_param_hash['lamp_image'] %>
                        </div>
                        <div style='float:right;width:30px;position:relative;top:-6px;'>
                            <%= rt_param_hash['lamp_status'] %>
                        </div>
                    </div>
                </div>
                <% end %>
                <% end %>
            </div>
        </div>
    </div>
</div>
<div style='float:left;padding:5px 0 0 0;'>
    <%= get_card_information_links(card_health) %>
    <span id='io_spinner' style='display:none;'><%= image_tag("/images/wait.gif") %></span>
    <%= hidden_field "card", "index", :value => @online.card_index %>
    <%= hidden_field "atcs", "address", :value => atcs_addr %>
</div>

<%= stylesheet_link_tag 'jquery.contextMenu' %>
<% if !menus.blank? %>
<%= javascript_include_tag "jquery.contextmenu", 'module_config_information_am' %>
<% else %>
<%= javascript_include_tag "jquery.contextmenu", 'module_config_information' %>
<% end %>