<%
	tx_current = track["data"][0]['Code']['vco']['track_values']["current"]
	tx_voltage = track["data"][0]['Code']['vco']['track_values']["voltage"]
	rx_current = track["data"][0]['Code']['Vti']['current'] 

	rx_paramter = RtParameter.find(:all,:conditions => ['card_index = ? and parameter_type = ? and current_value = ? and parameter_name like "MTX.Code%"',card_index,3,1])
	tx_paramter = RtParameter.find(:all,:conditions => ['card_index = ? and parameter_type = ? and current_value = ? and parameter_name like "MTX.Code%"',card_index,4,1])
	margin = RtParameter.find(:first,
		:conditions => ['card_index = ? and parameter_type = 3 and parameter_name like "MTX_ANLG.Margin%"',card_index])

	rx =  track["data"][2]['rx']
	tx = track["data"][2]['tx']
%>
<div class="track_table">
	<table>
		<tr><td>Tx</td><td class="tx_params"><%=tx%></td></tr>
		<tr class="even"><td>Tx Voltage</td><td class="tx_voltage_value"><%=tx_voltage.to_s%></td></tr>
		<tr><td>Tx Current</td><td class="tx_current_value"><%=tx_current.to_s%></td></tr>
		<tr class="even"><td>Rx</td><td class="rx_params"><%=rx%></td></tr>
		<tr><td>Rx Current</td><td class="rx_current_value"><%=rx_current.to_s%></td></tr>
		<tr class="even"><td>Margin</td><td><%=margin.current_value.to_s unless margin.blank? %></td></tr>
	</table>
</div>